﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@model reshim.model.view.ViewModels.Task.TaskViewModel

@{
    ViewBag.Title = "Заказ №" + Model.Id;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form class="form-horizontal form-horizontal" action="#" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">@ViewBag.Title</h6>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">ID заказа:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Id</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Заказчик:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @Html.ActionLink(Model.Customer.Login, "Index", "User", new { @area = "", @id = Model.Customer.UserId }, null)
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Решивший:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @(Model.Decided != null ? Html.ActionLink(Model.Decided.Login, "Index", "User", new { @area = "", @id = Model.Decided.UserId }, null) : Html.Raw("-"))
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Статус:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @Model.Status.GetAttributeValue(typeof(NameAttribute), string.Empty)
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Тип работы:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @string.Format("{0}/{1}", Model.TypeWork.ShortName, Model.Subject.Name)
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Дата загрузки условия:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @Model.FullFormatDateCreated
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Срок:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @Model.FullFormatDateOfExecution
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Дата выполнения заказа:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @Model.FullFormatDateComplited
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Стоимость:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @(Model.Cost.HasValue ? Model.Cost.Value.ToString() : "Договорная цена")
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Комментарии:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @Model.Comment
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Откликнувшиеся:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @for (int i = 0; i < Model.Subscribers.Count; i++)
                        {
                            var urlUser = Html.ActionLink(Model.Subscribers[i].User.Login, "Index", "User", new { @area = "", @id = Model.Subscribers[i].User.UserId }, null);
                            var tmp = string.Format("{0} ({1} руб.)", urlUser, Model.Subscribers[i].Value);

                            @Html.Raw(tmp)

                            if (i != Model.Subscribers.Count - 1)
                            {
                                <text>,</text>
                            }
                        }
                    </p>
                </div>
            </div>
            @{
                string conditionPath = string.Format("{0}?id={1}", Model.Condition.Path, Model.Id);
            }
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Условие:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <a href="@conditionPath" class="btn btn-info">
                            <i class="fa fa-download"></i>Условие
                        </a>
                    </p>
                </div>
            </div>

            @{
                string solutionPath = string.Empty;
                if (Model.Solution != null)
                {
                    solutionPath = string.Format("{0}?id={1}", Model.Solution.Path, Model.Id);
                }
            }

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Решение:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @if (!string.IsNullOrEmpty(solutionPath))
                        {
                            <a href="@solutionPath" class="btn btn-info">
                                <i class="fa fa-download"></i>Решение
                            </a>
                        }
                        else
                        {
                            @Html.Raw("Не решено")
                        }
                    </p>
                </div>
            </div>

        </div>

    </div>
</form>