﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.web.core.Extensions
@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

@{
    string conditionPath = string.Format("{0}?id={1}", Model.Condition.Path, Model.Id);
}

<div class="top-block detail-common-task">
    <div class="line">
        <label>ID:</label>
        <span>@Model.Id</span>
    </div>
    <div class="line">
        <label>Заказчик:</label>
        <span>@Html.ActionLink(Model.Customer.Login, "Index", "User", new { @area = "", @id = Model.Customer.UserId }, null)</span>
    </div>
    <div class="line">
        <label>Исполнитель:</label>
        <span>@(Model.Decided != null ? Html.ActionLink(Model.Decided.Login, "Index", "User", new { @area = "", @id = Model.Decided.UserId }, null) : Html.Raw("-"))</span>
    </div>
    <div class="line">
        <label>Статус:</label>
        <span><label class="stick @Html.ColorForTask(Model.Status)">@Model.Status.GetAttributeValue(typeof(NameAttribute), string.Empty)</label></span>
    </div>
    <div class="line">
        <label>Тип работы:</label>
        <span>@string.Format("{0}/{1}", Model.TypeWork.ShortName, Model.Subject.Name)</span>
    </div>
    <div class="line">
        <label>Дата загрузки условия:</label>
        <span>@Model.FullFormatDateCreated</span>
    </div>
    <div class="line">
        <label>Срок:</label>
        <span>@Model.FullFormatDateOfExecution</span>
    </div>
    <div class="line">
        <label>Дата выполнения заказа:</label>
        <span>@Model.FullFormatDateComplited</span>
    </div>
    <div class="line">
        <label>Стоимость:</label>
        <span>@Model.FormatCost</span>
    </div>
    <div class="line">
        <label>Условие:</label>
        <span><a href="@conditionPath" rel="nofollow">Скачать</a></span>
    </div>
    <div class="line">
        <label>Решение:</label>
        <span>
            @Html.SolutionLink(Model, User.GetReshimUser(), new Dictionary<string, object> { { "rel", "nofollow" }, { "data-role", "accessFileSolution" }, { "data-task-id", Model.Id } })
        </span>
    </div>
    <div class="line">
        <label>Комментарии:</label>
        <span>@Model.Comment</span>
    </div>
</div>