﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Billing.ConfirmRequestInterkassaFormModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div data-role="infoPlace" data-image="@SVGHelper.CancelCirclICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="error">
    @Html.Raw("Номер платежа - " + Model.PaymentNumber + "<br>")
    @Html.Raw("Статус - " + Model.State.GetAttributeValue(typeof(NameAttribute), string.Empty) + "<br>")
</div>
