﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.common.core.Pagination
@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.Billing.WithdrawalViewModel>

@{
    ViewBag.Title = "История заявок на вывод";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="custom">
    <thead>
        <tr>
            <td><span>№</span></td>
            <td><span>Дата создания</span></td>
            <td><span>Сумма</span></td>
            <td><span>Реквизиты</span></td>
            <td><span>Платёжная система</span></td>
            <td><span>Статус</span></td>
            <td><span>Комментарий</span></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var withdrawal in Model)
        {
            <tr>
                <td class="number">@withdrawal.Id</td>
                <td class="date-create">@withdrawal.Create</td>
                <td class="amount">@withdrawal.Amount</td>
                <td class="purse">@withdrawal.Purse</td>
                <td class="payway-via">@withdrawal.PaywayVia.GetAttributeValue(typeof(NameAttribute), string.Empty)</td>
                <td class="state">@withdrawal.State.GetAttributeValue(typeof(NameAttribute), string.Empty)</td>
                <td class="comment">@withdrawal.Comment</td>

            </tr>
        }
    </tbody>
</table>

<div class="pager">
	@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
