﻿@using reshim.common.core.Pagination
@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.Billing.InternalPaymentViewModel>

@{
    ViewBag.Title = "Внутренние платежи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="custom">
    <thead>
        <tr>
            <td><span>№</span></td>
            <td><span>Дата создания</span></td>
            <td><span>Сумма</span></td>
            <td><span>Задача</span></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td class="number">@payment.Id</td>
                <td class="date-create">@payment.Create</td>
                <td class="amount">@payment.Amount</td>
                <td class="task">@payment.TaskId</td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
	@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
