﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.common.core.Pagination

@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.Billing.PaymentViewModel>

@{
    ViewBag.Title = "История пополнений";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="custom">
    <thead>
        <tr>
            <td><span>№</span></td>
            <td><span>Дата создания</span></td>
            <td><span>Сумма</span></td>
            <td><span>Тип валюты</span></td>
            <td><span>Платёжная система</span></td>
            <td><span>Статус</span></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td class="number">@payment.Id</td>
                <td class="date-create">@payment.Create</td>
                <td class="amount">@payment.Amount</td>
                <td class="currency">@payment.Currency.GetAttributeValue(typeof(NameAttribute), string.Empty)</td>
                <td class="payway-via">@payment.PaywayVia.GetAttributeValue(typeof(NameAttribute), string.Empty)</td>
                <td class="state">@payment.State.GetAttributeValue(typeof(NameAttribute), string.Empty)</td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
	@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
