﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.model.Entities
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-control" data-role="tab-control" data-name="billing">
    <ul class="tabs">
        <li data-name="payment"><a href="#" data-target="payment">Пополенние балланса</a></li>
        <li data-name="withdrawal"><a href="#" data-target="withdrawal">Вывод средств</a></li>
        <li data-name="history"><a href="#" data-target="history">История</a></li>
    </ul>

    <div class="frames">
        <div class="frame clearfix" data-name="payment">
            <div class="menu-tiles">
                <a class="webmoney" href="@Url.Action("PaymentForm", "Billing", new { payway = PaywayVia.WebmoneyWmr })">
                    @PaywayVia.WebmoneyWmr.GetAttributeValue(typeof(NameAttribute), string.Empty)
                </a>
                <a class="sberonline" href="@Url.Action("PaymentForm", "Billing", new { payway = PaywayVia.SberbankOnlineRub })">
                    @PaywayVia.SberbankOnlineRub.GetAttributeValue(typeof(NameAttribute), string.Empty)
                </a>
                <a class="sbrf" href="@Url.Action("PaymentForm", "Billing", new { payway = PaywayVia.SberbankRub })">
                    @PaywayVia.SberbankRub.GetAttributeValue(typeof(NameAttribute), string.Empty)
                </a>
                <a class="svyaznoybank" href="@Url.Action("PaymentForm", "Billing", new {payway = PaywayVia.SvyaznoyInternetBank})">
                    @PaywayVia.SvyaznoyInternetBank.GetAttributeValue(typeof(NameAttribute), string.Empty)
                </a>
                @*<a class="svyaznoybank" href="@Url.Action("PaymentForm", "Billing", new {payway = PaywayVia.TestInterkassaTestXts})">
                    @PaywayVia.TestInterkassaTestXts.GetAttributeValue(typeof(NameAttribute), string.Empty)
                </a>*@
            </div>
        </div>
        <div class="frame clearfix" data-name="withdrawal">
            <div class="menu-tiles">
                <a class="withdrawal-form" href="@Url.Action("WithdrawalForm", "Billing")">Оформить заявку на вывод</a>
            </div>
        </div>
        <div class="frame clearfix" data-name="history">
            <div class="menu-tiles">
                <a class="history-payments" href="@Url.Action("HistoryPayments", "Billing")">
                    История пополнений
                </a>
                <a class="history-withdrawels" href="@Url.Action("HistoryWithdrawels", "Billing")">
                    История заявок на вывод
                </a>
                <a class="history-internal-payments" href="@Url.Action("HistoryInternalPayments", "Billing")">
                    История внутренних платежей
                </a>
            </div>
        </div>
    </div>
</div>
