﻿@model reshim.model.Entities.PaywayVia
@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.web.core.Extensions
@using reshim.web.Helpers

@{
    ViewBag.Title = "Пополнение баланса";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Scripts/action/action.payment-form.js"></script>

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    Баланс должен быть пополнен автоматически, в течении 5-ти минут, после выполнения платежа, если этого не произошло - пишите сразу в поддержку.
    Платежи выполняются через <b>@Model.GetAttributeValue(typeof(NameAttribute), string.Empty)</b>.
    Комиссия за пополнение счета этим способом составляет <b>@Model.GetAttributeValue(typeof(CommissionAttribute), string.Empty)</b>!
</div>

<form class="pay" method="post" action="#" novalidate="">
    <fieldset>
        <label>Сумму пополнения:</label>
        <div class="input-control text">
            <input type="hidden" name="ik_co_id" value="" />
            <input type="hidden" name="ik_pm_no" value="" />
            <input type="hidden" name="ik_am" value="" />
            <input type="hidden" name="ik_act" value="process" />
            <input type="hidden" name="ik_loc" value="ru" />
            <input type="hidden" name="ik_pw_via" value="@Model.GetAttributeValue(typeof(TypeAttribute), string.Empty)" />
            <input type="hidden" name="ik_desc" value="Пополнение пользователем @User.GetReshimUser().Name" />
            <input name="amount" type="text" placeholder='Введите сумму пополнения'>
        </div>
        <button class="green">Пополнить</button>
    </fieldset>
</form>