﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Billing.ConfirmRequestInterkassaFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw("Номер платежа - " + Model.PaymentNumber + "<br>")
    @Html.Raw("Статус - " + Model.State.GetAttributeValue(typeof(NameAttribute), string.Empty) + "<br>")
</div>

@if (Model.HasCompletedTask)
{
    <div class="preview">
        <div class="image-container">
            <span class="helper"></span>
            @SVGHelper.Checkmark2ICO()
        </div>
        <div class="text-container">
            Задача успешно оплачена! Решенная задача отправлена Вам на почту либо Вы можете её скачать её в своём кабинете по ссылке @Html.ActionLink("История заказов", "History", "CompletedTask")
        </div>
    </div>
}
