﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Billing.WithdrawalFormModel

@{
    ViewBag.Title = "Вывод денег";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Scripts/action/action.withdrawal-form.js"></script>

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    Вывод денег производится каждую пятницу и только за те задачи, решение которых было получено заказчиками более <b>недели</b> назад!
</div>

<form class="cash-out" action="api/pay" novalidate="">
    <fieldset>
        <label>Сумма*:</label>
        <div class="input-control text">
            <input name="amount" type="text" placeholder='Введите сумму'>
        </div>
        <div class="note">Сумма указывается в российских рублях!</div>
    </fieldset>
    
    <fieldset>
        <label>Тип платежа*:</label>
        <div class="input-control select">
            <select class="typePayment" name="typePayment">
                @foreach (var method in Model.TypePayments)
                {
                    <option value="@method.Value">@method.Key</option>
                }
            </select>
        </div>
        <div class="note">На данный момент поддерживается только вывод на Webmoney RUB!</div>
    </fieldset>
    
    <fieldset>
        <label>Реквизиты*:</label>
        <div class="input-control text">
            <input name="purse" type="text" placeholder='Введите реквизиты'>
        </div>
        <div class="note">Укажите R-кошелёк Webmoney!</div>
    </fieldset>

    <fieldset>
        <label>Комментарии:</label>
        <div class="input-control textarea">
            <textarea name="comment" placeholder='Введите комментарий'></textarea>
        </div>
        <div class="note"></div>
    </fieldset>

    <button class="green">Оформить</button>

</form>


