﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

@*
    status: agreement
    customers
*@

<input name="taskId" type="hidden" value="@Model.Id">

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw(string.Format("Вы выбрали исполнителя <b>{0}</b>. Стоимость выполнения - <b>{1}</b>! Ожидайте, пока исполнитель выполнит Ваш заказ. В чате Вы можете общаться с исполнителем Вашего заказа.", Model.Decided.Login, Model.FormatCost))
</div>

@Html.Partial("~/Views/Task/Partials/_RenderExtendedSubscribers.cshtml", Model)


<script>
    $('[data-role=infoPlace]').infoPlace();
</script>
