﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

<input name="taskId" type="hidden" value="@Model.Id">

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw("Вы оценили заказ, ждите пока заказчик выбирет исполнителя своего заказа!")
</div>

@Html.Partial("~/Areas/Employee/Views/Task/Partials/_RenderSubscribers.cshtml", Model.Subscribers)

<button class="green" id="Unsubscribe">Отозвать своё предложение</button>

<script src='/Areas/Employee/Scripts/action/employee.action.not-estimate-order.js'></script>
