﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

<input name="taskId" type="hidden" value="@Model.Id">

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw("Если Вы можете выполнить данный заказ, оцените его стоимость выполнения!")
</div>

@Html.Partial("~/Areas/Employee/Views/Task/Partials/_RenderSubscribers.cshtml", Model.Subscribers)

@Html.Partial("~/Areas/Employee/Views/Task/Partials/_FormEstimateTask.cshtml")

<script src='/Areas/Employee/Scripts/action/employee.action.estimate-order.js'></script>
