﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="article">
    <p>
        Спешим Вас заверить, что мы, прежде всего, питаем интерес к тому, чтобы Вы стали нашим постоянным клиентом. Ведь, как известно, хорошую репутацию заработать сложно, на это потребуется не один год, а разрушить ее можно за несколько минут. Поэтому мы в обязательном порядке выполним работу качественно и в срок. Мы дорожим нашими заказчиками и не оставим их наедине с нерешенными задачами. 
        Однако все же постараемся привести еще несколько доводов, чтобы вы ни капли не сомневались в нашей порядочности.
    </p>
    <ul>
        <li><span>@Html.ActionLink("Reshim.net", "Index", "Home") не сотрудничает с фрилансерами, у которых весьма посредственная репутация. Наш штат <strong>укомплектован только профессионалами</strong>, которые проходили строгую проверку.</span></li>
        <li><span>Мы бесплатно проводим @Html.ActionLink("оценку стоимости работы", "Order", "Task"), и после получения ответа Вы ничем нам не обязаны.</span></li>
        <li><span>Наш ресурс находится на стадии раскрутки, и нам очень дорога наша репутация, поэтому поверьте, нам абсолютно не выгодно Вас «кидать», т.к. мы настроены на долгое и плодотворное сотрудничество с каждым заказчиком. С течением времени мы будем только <strong>улучшать качество наших услуг</strong>.</span></li>
        <li><span>Оцените то количество сил, которое было вложено на создание сайта, его раскрутку и др. Всё было сделано только для Вас, чтобы вы смогли в итоге получить ту информацию, которая Вам требуется.</span></li>
        <li><span>Обратите внимание на то, что компания Яндекс проверила паспортные данные получателя платежей. Пользователь успешно прошел идентификацию и персонализацию (для системы WebMoney). А это еще один фактор того, что нам можно доверять.</span></li>
        <li><span>Если все же Вы сомневаетесь, то после того, как наш сотрудник уже приступил к решению вашей задачи, Вы можете попросить нас отправить Вам часть решения, чтобы окончательно развеять Ваши сомнения. Если каким-то образом окажется, что решение неверное (хотя такого у нас еще не было, но всякое бывает, от этого никто не застрахован), мы без проблем возьмемся за доработку, причем в кратчайшие сроки, либо вернем Вам деньги.</span></li>
        <li><span>И последнее – наш ресурс создан от души! Да, мы не просто получаем за свою работу деньги, но и удовольствие от того, что помогаем другим людям. Мы любим и ценим свою работу!</span></li>
    </ul>
    <p>
        Помните, что это в <strong>НАШИХ интересах</strong>, чтобы работа была выполнена правильно и в срок. Спасибо, что выбрали нас!
    </p>
</div>
