﻿@model reshim.model.view.ViewModels.Home.HomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@helper PictureFill(string img, string alt, string preview, string name)
{
    <div class="image-container">
        <img src="@string.Format("{0}?w=300&h=250&mode=crop", string.IsNullOrEmpty(img) ? System.Configuration.ConfigurationManager.AppSettings["DefaultSubject"] : img)" alt="@(alt)" title="@(name)">
        <div class="overlay">
            @(name)
        </div>
    </div>
    <div class="image-text">@(preview)</div>
    <a href="@Url.Action("Order", "Task")">Заказать решение</a>
}
<div class="slider-subjects">
    @foreach (var subject in Model.Subjects)
    {
        <div class="block-info">
            @PictureFill(subject.Image, subject.Name, subject.Preview, subject.Name)
        </div>
    }
</div>
