﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info-place info">
    <div class="img info"></div>
    <div class="content">
        <p>Вы хорошо знаете один или несколько предметов школьной либо вузовской программы? Тогда Вы можете стать решающим в нашей системе. Для этого @Html.ActionLink("отправьте", "Support", "Home") заявку администрации системы.</p>
    </div>
    <div class="clearfix"></div>
</div>