﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Home.PricesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper column8" id="Content">
    <div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
        @Html.Raw("ВНИМАНИЕ! Определить окончательную стоимость работы можно только после заказа. Причем оценка заказа для Вас будет совершенно бесплатна. Заказывайте сейчас и радуйтесь нашим ценам!")
    </div>

    @* фильр *@
    @*
    <div class="filter">
        <div class="input-control select">
            <select name="status">
                <option value="">Все</option>
                <option value="">Дипломные работы</option>
            </select>
        </div>
        <div class="input-control select">
            <select name="status">
                <option value="">Все</option>
                <option value="">Математика</option>
            </select>
        </div>
        <button id="FilterBtn" class="green">Применить</button>
    </div>
    *@
    @*wrapper по типу*@
    @foreach (var description in Model.PricesDescription)
    {
        <div class="wrapper-type-work clearfix">
            <h2>@description.NameTypeWork</h2>
            <div class="table">
                @foreach (var subject in description.Subjects) { 
                <div class="row">
                    <div class="subject column2"><a href="@subject.Url">@subject.NameSubject</a></div>
                    <div class="price column5">
                        <div><strong>@subject.MinPrice ₽</strong><br />минимальная</div>
                        <div class="center"><strong>@subject.MiddlePrice ₽</strong><br /></div>
                        <div><strong>@subject.MaxPrice ₽</strong><br />максимальная</div>
                    </div>
                    <div class="count-order column1"><strong>@subject.CountOrder</strong><br />заказов</div>
                </div>
                }
            </div>
        </div>
    }

</div>

