﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="article">
    <p>
        Если Вам нужно @Html.ActionLink("сделать заказ", "Order", "task") в нашем сервисе автоматизированного решения следуйте следующей инструкции.
    </p>

    <p>
        Для начала нужно зарегистрироваться в нашей системе. Регистрация позволяет управлять Вашими заказами.
    </p>

    <img class="border" src="/Content/img/rules-order/reg.png" alt="регистрация в системе автоматизированного решения задач" title="регистрация в системе автоматизированного решения задач" />

    <p>
        После регистрации на Вашу почту, будет отправлено письмо с ссылкой на подверждение регистрации (иногда письмо идёт продолжительное время).
    </p>

    <p>
        Если Вы зарегистрированы в социальной сети «Вконтакте», тогда Вы можете 
        привязать свой профиль к нашему сервису, нажав значок
        <img src="/Content/img/rules-order/vk.png" alt="регистрация через ВК" title="регистрация через ВК" />. 
        После авторизации через социальную сеть «Вконтакте», нужно ввести информационные данные, логин (для того, что бы Вас отличали другие пользователи) и email 
        (для получения информационных сообщений от нашего сервиса).
    </p>
    <img class="border" src="/Content/img/rules-order/inputLoginAndEmail.png" alt="ввод email и логин" title="ввод email и логин" />

    <p>
        После этого Вы являетесь полноценным участником автоматизированной системы решения задач.
    </p>

    <p>
        Для заказа задачи, контрольной, курсовой, дипломной работы нужно перейти на страницу @Html.ActionLink("заказа", "Order", "Task") и заполнить поля отмеченные «*».
    </p>

    <img class="border" src="/Content/img/rules-order/orderTask.png" alt="заказ задания в системе" title="заказ задания в системе" />

    <p>
        После публикации задачи запомните номер задачи, что бы найти его среди множество заказов.
    </p>

    <img class="border" src="/Content/img/rules-order/numberTask.png" alt="успешное размещение заказа" title="успешное размещение заказа" />

    <p>
        После размещения заказа, подождите пока исполнители оценят Ваш заказ (статус заказа изменится на «Оценили»).
    </p>

    <img class="border" src="/Content/img/rules-order/estimatedTask.png" alt="регистрация в системе автоматизированного решения задач" title="регистрация в системе автоматизированного решения задач" />

    <p>
        Для просмотра своего задания в списке задач, перейдите по @Html.ActionLink("ссылке", "Index", "Task"). Для того что бы управлять Вашим заказом, нажмите на иконку рядом с заказом
        <img src="/Content/img/rules-order/clickSignManageTask.png" alt="иконка управление заказом" title="иконка управление заказом" />.
    </p>



    <p>После этого, Вы можете выбрать в меню управления заказом, пункт «Выбрать исполнителя» и у Вас отобразится список исполнителей готовых выполнить Ваш заказ.</p>

    <img class="border" src="/Content/img/rules-order/pickPerformer.png" alt="регистрация в системе автоматизированного решения задач" title="регистрация в системе автоматизированного решения задач" />
  
    <div class="info-place info">
        <div class="img info"></div>
        <div class="content">
            <p>Перед выбором исполнителя у Вас на счету должна быть сумма, равная половине стоимости решения задачи.</p>
        </div>
        <div class="clearfix"></div>
    </div>
 
    <p>
        После выбора ожидайте пока исполнитель выполнит Ваш заказ. 
        Уточнять задания и задавать вопросы по поводу решения задания, Вы можете в чате. 
        После того как, исполнитель выполнит задание, статус задания измениться на "Выполнен". 
        После этого, Вы можете оплатить вторую часть заказа и скачать решение.
    </p>

</div>



