﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info-place info">
    <div class="img info"></div>
    <div class="content">
        <p>Если у Вас возникли предложения либо вопросы по работе сервиса, свяжитесь с администрацией.</p>
        <p><b>Email:</b> ihar.peshka@gmail.com</p>
        <p><b>Skype:</b> ihar.peshka</p>
        @*<p><b>Twitter:</b> <a href="https://twitter.com/iharpeshka" target="_blank">Ссылка на страницу</a></p>*@
        <p><b>Вконтакте:</b> <a href="http://vk.com/reshim_c" target="_blank">Ссылка на страницу</a></p>
    </div>
    <div class="clearfix"></div>
</div>
