﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Администраторская панель сайта Rehim.net</title>

    <link href="/Areas/Admin/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Areas/Admin/Content/css/brain-theme.css" rel="stylesheet" type="text/css">
    <link href="/Areas/Admin/Content/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/Areas/Admin/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Content/js/customs.js"></script>


    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/charts/flot.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/charts/flot.orderbars.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/charts/flot.pie.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/charts/flot.time.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/charts/flot.animator.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/charts/excanvas.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/charts/flot.resize.min.js"></script>

    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/uniform.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/select2.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/inputmask.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/autosize.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/inputlimit.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/listbox.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/multiselect.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/validate.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/tags.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/jquery.form.min.js"></script>

    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/uploader/plupload.full.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/forms/uploader/plupload.queue.min.js"></script>

    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/interface/jgrowl.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/interface/prettify.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/interface/fancybox.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/interface/colorpicker.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/interface/timepicker.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/interface/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/plugins/interface/collapsible.min.js"></script>

    <script type="text/javascript" src="/Areas/Admin/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Content/js/application.js"></script>

    <script type="text/javascript" src="/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/styles.js"></script>

    <script type="text/javascript" src="/Scripts/underscore-min.js"></script>
</head>

<body>

    <!-- Navbar -->
    @Html.Partial("~/Areas/Admin/Views/Shared/Partial/_Navbar.cshtml")
    <!-- /navbar -->
    <!-- Page header -->
    @Html.Partial("~/Areas/Admin/Views/Shared/Partial/_PageHeader.cshtml")
    <!-- /page header -->
    <!-- Page container -->
    <div class="page-container container-fluid">

        <!-- Sidebar -->
        @Html.Action("SideBar", "Home")
        <!-- /sidebar -->
        <!-- Page content -->
        <div class="page-content">
            @Html.Partial("~/Areas/Admin/Views/Shared/Partial/_Errors.cshtml")

            <!-- Page title -->
            <div class="page-title">
                <h5><i class="fa fa-bars"></i>@ViewBag.Title</h5>
            </div>
            <!-- /page title -->
            @RenderBody()


            <!-- Footer -->
            <div class="footer">
                &copy;Администраторская панель <a href="http://reshim.net" title="">Reshim.net</a>
            </div>
            <!-- /footer -->

        </div>
    </div>

</body>
</html>
