﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.common.core.Pagination
@using reshim.web.core.Extensions
@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TasksViewModelWithCriteria

@{
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Employee/Scripts/action/employee.action.table.js"></script>

@{
    var curUser = User.GetReshimUser();
}

@Html.Partial("Partials/_FilterTasks")

<table class="custom">
    <thead>
        <tr>
            <td><span>№</span></td>
            <td><span class="mini-icon ico-save-file">Условие</span></td>
            <td><span class="mini-icon ico-save-file">Решение</span></td>
            <td><span class="mini-icon ico-user">Заказчик</span></td>
            <td><span class="mini-icon ico-college">Решивший</span></td>
            <td><span class="mini-icon ico-five">Статус</span></td>
            <td><span class="mini-icon ico-calendar">Срок</span></td>
            <td><span class="mini-icon ico-book">Предмет</span></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr id="@task.Id" data-task-id="@task.Id">

                <td class="task hover" data-task-id="@task.Id"><a href="#">@task.Id</a></td>

                @{
                    string conditionPath = string.Format("{0}?id={1}", task.Condition.Path, task.Id);
                }
                <td class="condition hover"><a href="@conditionPath" rel="nofollow">Условие</a></td>

                <td class="solution hover">
                    @Html.SolutionLink(task, User.GetReshimUser(), new Dictionary<string, object> { { "rel", "nofollow" }, { "data-role", "accessFileSolution" } })
                </td>

                <td class="customer hover">
                    @Html.ActionLink(task.Customer.Login, "Index", "User", new { @area = "", @id = task.Customer.UserId }, null)
                </td>
                <td class="decided @(task.Decided != null ? "hover" : "")">
                    @(task.Decided != null ? Html.ActionLink(task.Decided.Login, "Index", "User", new { @area = "", @id = task.Decided.UserId }, null) : Html.Raw("-"))
                </td>
                <td class="status"><label class="stick @Html.ColorForTask(task.Status)">@task.Status.GetAttributeValue(typeof(NameAttribute), string.Empty)</label></td>
                <td class="date">@task.ShortFormatDateOfExecution</td>
                <td class="subject">@task.Subject.Name</td>
                <td class="btn-detail-order">
                    <a href="@Url.Action("Detail", "Task", new { id = task.Id })" class="btn green mini-icon ico-right">К заказу</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="pager">
    @Html.Pager(Model.Tasks.PageSize, Model.Tasks.PageNumber, Model.Tasks.TotalItemCount).Options(o => o.Action("Index").AddRouteValue("status", Model.SelectedStatus))
</div>
