﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

@*
    status: new
    customers or users
*@

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw("Заказ находится в стадии оценки нашими исполнителями! Среднее время оценки заказа составляет <b>15 минут</b>.")
</div>
<div class="preview">
    <div class="image-container">
        <span class="helper"></span>
        @SVGHelper.SearchICO()
    </div>
    <div class="text-container">
        Поиск исполнителей для заказа!
    </div>
</div>

