﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.ComplitedTask.CompletedTaskViewModel

@{
    Layout = "~/Views/Shared/Layouts/CompletedTask/_LayoutDetailCompletedTask.cshtml";
}

<div class="completed-task-wrapper column8">
    <article id="@string.Format("completed-task-{0}", Model.Id)" class="entity-reviews" data-id="@Model.Id" data-type="completedtask">

        <div class="completed-task-cover">

            <div class="cover-wrap">

                <header class="entry-header">
                    <h1 class="entry-title">@string.Format("#{0} {1}", Model.Id, Model.Name)</h1>
                </header>
                <div class="the-excerpt">
                    <p>@Html.Raw(Model.Condition)</p>
                </div>
                <div class="the-comments">
                    <p><b>Комментарии:&nbsp;</b>@Model.Comment</p>
                </div>

                <ul class="post-meta">
                    <li class="item-meta meta-views-counter">
                        @SVGHelper.EyeICO() @Html.Raw(Model.CountReviews)
                    </li>
                    <li class="item-meta meta-buy-counter">
                        @SVGHelper.CartICO() @Html.Raw(Model.CountPurchasesSuccess)
                    </li>
                    <li class="item-meta btn-order">
                        <a href="#" class="btn green buy" id="OrderCompletedTask" data-id="@Model.Id">Купить за @Model.FormatCost</a>
                    </li>
                </ul>
            </div>

        </div>
    </article>
</div>

<script src="~/Scripts/action/action.completed-task.js"></script>
<script src="/Scripts/action/action.reviews.js"></script>