﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.common.core.Pagination
@using reshim.model.Entities
@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.ComplitedTask.HistoryCompletedTaskViewModel>

@{
    ViewBag.Title = "История заказа решенных задач";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="custom">
    <thead>
        <tr>
            <td><span>№</span></td>
            <td><span>Дата создания</span></td>
            <td><span>Тип валюты</span></td>
            <td><span>Платёжная система</span></td>
            <td><span>Статус</span></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td class="number">@task.Id</td>
                <td class="date-create">@task.FormatCreate</td>
                <td class="currency">@task.Currency.GetAttributeValue(typeof(NameAttribute), string.Empty)</td>
                <td class="payway-via">@task.PaywayVia.GetAttributeValue(typeof(NameAttribute), string.Empty)</td>
                <td class="state">@task.State.GetAttributeValue(typeof (NameAttribute), string.Empty)</td>
                <td>
                    @{
                        string pathCompletedTask = string.Format("{0}?id={1}", task.CompletedTask.Solution.Path, task.Id);
                    }

                    @if (task.State != PaymentState.Success)
                    {
                        @Html.Raw("Ссылка не досутпна")
                    }
                    else
                    {
                        <a href="@pathCompletedTask">Условие</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
