﻿@using reshim.common.core.Pagination
@using reshim.web.Helpers
@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.ComplitedTask.CompletedTaskViewModel>
@{
    Layout = "~/Views/Shared/Layouts/CompletedTask/_LayoutCompletedTasks.cshtml";
}

<div class="wrapper-completed-tasks">
    @{
        int i = 1;
    }
    @foreach (var task in Model)
    {
        <div id="@string.Format("completed-task-{0}", task.Id)" class="completed-task column4">
            <div class="wrapper">
                <header class="entry-header">
                    <h2 class="entry-title">
                        <a href="@Url.Action("Detail", "CompletedTask", new {id = task.Id})" title="@task.Name" rel="bookmark">@task.Name</a>
                    </h2>
                    @*<span class="entry-category">
                            <a href="@Url.Action("Lessons", "Content", new {category = lesson.Category.Alias})" title="@lesson.Category.Name" rel="bookmark">@lesson.Category.Name</a>
                            <text>/</text>
                            <span>@lesson.NameLesson.Name</span>
                            @if (lesson.ChapterId.HasValue)
                            {
                                <text>,</text>
                                <span>@lesson.Chapter.Name</span>
                            }
                        </span>*@
                </header>

                <div class="entry-content clearfix">
                    <p>@Html.Raw(task.Condition.TruncateHtml(256, "..."))</p>
                </div>

                <div class="btn-wrapper">
                    <a class="buy btn green" href="@Url.Action("Detail", "CompletedTask", new {@id = task.Id})">
                        <span class="btn-icon">@SVGHelper.ArrowRightICO()</span>
                        <span class="btn-text">Подробнее</span>
                    </a>
                </div>
            </div>
        </div>

        if (i % 3 == 0)
        {
            <div class="clearfix"></div>
        }

        {
            i++;
        }
    }
</div>
<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
