﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel


<script src="/Areas/Employee/Scripts/action/employee.action.upload-solution.js" type="text/javascript"></script>

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw(string.Format("Вас выбрали исполнителем, Вы должны выполнить заказ до <b>{0}</b>. Если Вы выполнили заказ, загрузите решение воспользовавшись формой ниже.", Model.FullFormatDateOfExecution))
</div>

<div class="preview">
    <div class="image-container">
        <span class="helper"></span>
        @SVGHelper.FolderUploadICO()
    </div>
    <div class="text-container">
        Загрузите решение!
    </div>
</div>

<form class="solution" action="api/task" novalidate="">
    <input name="id" value="@Model.Id" hidden>

    <fieldset>
        <label>Решение задачи*:</label>
        <div data-role="file-input"></div>
        <div class="note">
            Объём файла не более 15Мб.
            <div id="ProgressUploadTask" class="progress-bar" data-role="progress-bar" data-value="0"></div>
        </div>
    </fieldset>

    <button class="green">Загрузить</button>

</form>