﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel


<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw(string.Format("Увы, исполнитель не выбрал Вас в качестве исполнителя заказа!"))
</div>

<div class="preview">
    <div class="image-container">
        <span class="helper"></span>
        @SVGHelper.SadICO()
    </div>
    <div class="text-container">
        В этот раз Вам не повезло!
    </div>
</div>