﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

@*
    status: new
    employee
*@

<input name="taskId" type="hidden" value="@Model.Id">

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw("Вы можете оценить заказ первым!")
</div>

@Html.Partial("~/Areas/Employee/Views/Task/Partials/_FormEstimateTask.cshtml")


<script src='/Areas/Employee/Scripts/action/employee.action.estimate-order.js'></script>
