﻿@{
    ViewBag.Title = "Неизвестная ошибка приложения";
}

<div class="info-place error">
    <div class="img error"></div>
    <div class="content">
        <p>Неизвестная ошибка приложения.</p>
    </div>
    <div class="clearfix"></div>
</div>
