﻿@{
    ViewBag.Title = "Доступ к ресурсу запрещён";
}

<div class="info-place error">
    <div class="img error"></div>
    <div class="content">
        <p>Доступ к ресурсу запрещён.</p>
    </div>
    <div class="clearfix"></div>
</div>