﻿@{
    ViewBag.Title = "Страница не существует";
}

<div class="info-place error">
    <div class="img error"></div>
    <div class="content">
        <p>Данная страница не сущесвует.</p>
    </div>
    <div class="clearfix"></div>
</div>