﻿@{
    ViewBag.Title = "Вы не авторизированы.";
}

<div class="info-place error">
    <div class="img error"></div>
    <div class="content">
        <p>Вы не авторизированы.</p>
    </div>
    <div class="clearfix"></div>
</div>