﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.common.core.Pagination
@using reshim.web.Areas.Admin.Helpers
@model reshim.model.view.ViewModels.Task.TasksViewModelWithCriteria

@{
    ViewBag.Title = "Задачи в системе";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.Action("StatisticsTasks", "Home")


<div class="row">
    <div class="col-md-12">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <strong class="label label-danger">@Model.Tasks.TotalItemCount задач</strong>
                </h6>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Условие</th>
                            <th>Решение</th>
                            <th>Заказчик</th>
                            <th>Решивший</th>
                            <th>Статус</th>
                            <th>Дата загрузки</th>
                            <th>Срок решения</th>
                            <th>Предмет/раздел</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Tasks)
                        {
                            <tr id="@task.Id">
                                <td>@Html.ActionLink(task.Id.ToString(), "DetailTask", "Task", new { @id = task.Id, @area = "admin" }, null)</td>
                                @{
                                    string conditionPath = string.Format("{0}?id={1}", task.Condition.Path, task.Id);
                                }
                                <td>
                                    <a href="@conditionPath">Условие</a>
                                </td>
                                @{
                                    string solutionPath = string.Empty;
                                    if (task.Solution != null)
                                    {
                                        solutionPath = string.Format("{0}?id={1}", task.Solution.Path, task.Id);
                                    }
                                }
                                <td>
                                    @if (!string.IsNullOrEmpty(solutionPath))
                                    {
                                        <a href="@solutionPath">Решение</a>
                                    }
                                    else
                                    {
                                        @Html.Raw("Не решено")
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(task.Customer.Login, "Index", "User", new { @area = "", @id = task.Customer.UserId }, null)
                                </td>
                                <td>
                                    @(task.Decided != null ? Html.ActionLink(task.Decided.Login, "Index", "User", new { @area = "", @id = task.Decided.UserId }, null) : Html.Raw("-"))
                                </td>
                                <td>
                                    <span class="label @Html.ColorForTask(task.Status)">@task.Status.GetAttributeValue(typeof(NameAttribute), string.Empty)</span>
                                </td>
                                <td>
                                    @task.FullFormatDateCreated
                                </td>
                                <td>
                                    @task.FullFormatDateOfExecution
                                </td>
                                <td>
                                    @string.Format("{0}/{1}", task.TypeWork.ShortName, task.Subject.Name)
                                </td>
                                <td>
                                    <div class="table-controls">
                                        <a class="btn btn-default btn-icon btn-xs tip" title=""
                                           data-original-title="Удалить заказ" href="#delete"
                                           data-toggle="modal" data-id="@task.Id"
                                           data-url-delete="@string.Format("{0}", "/api/task/admin/delete/" + task.Id)"
                                           data-name="@task.Id"
                                           data-text="@string.Format("Удалание заказа \"{0}\".", task.Id)"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="table-footer">
                @Html.Pager(Model.Tasks.PageSize, Model.Tasks.PageNumber, Model.Tasks.TotalItemCount).Options(o => o.Action("Index").AddRouteValue("status", Model.SelectedStatus))
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/Partial/_DeleteEntity.cshtml")
