﻿@using reshim.common.core.Pagination
@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.Content.Article.ArticleViewModel>

@{
    ViewBag.Title = "Cтатьи";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-header">
        <ul class="middle-nav left-nav">
            <li><a href="@Url.Action("CreateOrUpdateArticle", "Article", new { area = "admin" })" class="btn btn-default"><i class="fa fa-plus-square-o"></i><span>Создать статью</span></a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">
            <strong class="label label-danger">@Model.TotalItemCount статьи</strong>
        </h6>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Картинка</th>
                    <th>Название статьи</th>
                    <th>Дата создания</th>
                    <th>Дата обновления</th>
                    <th>Категория</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model)
                {
                    <tr id="@article.Id">
                        <td>@article.Id</td>
                        <td><img class="miniature" src="@article.Image" /></td>
                        <td>@article.Name</td>
                        <td>@article.DateCreate</td>
                        <td>@article.DateUpdate</td>
                        <td>
                            @article.Category.Name
                        </td>
                        <td>
                            <div class="table-controls">
                                <a href="@Url.Action("CreateOrUpdateArticle", "Article", new { id = article.Id })" class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Редактировать"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Удалить статью" href="#delete" data-toggle="modal" data-id="@article.Id" data-name="@article.Name" data-text="@string.Format("Удалание статьи \"{0}\".", article.Name)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="table-footer">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/Helpers/_DeleteContent.cshtml", Url.Action("Delete", "Article"))
