﻿@model reshim.model.view.ViewModels.Content.Article.ArticleFormModel

<link href="@Url.Content("~/Areas/Admin/Content/css/jquery.Jcrop.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.fileupload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Admin/Content/js/plugins/interface/jquery.Jcrop.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = Model.Id.HasValue ? "Редактирование статьи" : "Создание статьи";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateOrUpdateArticle", "Article", FormMethod.Post, new { @class = "form-horizontal validate", role = "form" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">@ViewBag.Title</h6>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Название статьи: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Name, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Заголовок статьи (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.TitleSeo, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Описание статьи (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.DescriptionSeo, 5, 5, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Ключевые статьи (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.KeywordsSeo, 5, 5, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Текст: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Text, 5, 5, new { @class = "required form-control editor" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Превью: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Preview, 5, 5, new { @class = "required form-control editor" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Категория: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.CategoryId, Model.Categories.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }), new { @class = "select-search" })
                </div>
            </div>
            @Html.Partial("~/Areas/Admin/Views/Shared/Helpers/_CropImage.cshtml", string.IsNullOrEmpty(Model.Image) ? "" : Model.Image)


            <div class="form-actions text-right">
                <input type="submit" value="Сохранить" class="btn btn-primary">
            </div>

        </div>
    </div>
}
<script src="/Areas/Admin/Content/js/admin/helper.crop-image.js"></script>

<script>
    (function ($) {
        $(".validate").validate({
            onkeyup: true,
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                Name: {
                    required: true
                },
                TitleSeo: {
                    required: true
                },
                DescriptionSeo: {
                    required: true
                },
                KeywordsSeo: {
                    required: true
                },
                Text: {
                    required: true
                },
                Preview: {
                    required: true
                }
            },
            success: function (label) {
                label.text('Успешно!').addClass('valid');
            }
        });
    })(jQuery);
</script>


