﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

@*
    status: complited
    users
*@

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw(string.Format("Исполнитель заказа - <b>{0}</b>. Стоимость выполнения заказа составила <b>{1}</b>!", Model.Decided.Login, Model.FormatCost))
</div>

<div class="preview">
    <div class="image-container">
        <span class="helper"></span>
        @SVGHelper.Checkmark2ICO()
    </div>
    <div class="text-container">
        Заказ успешно выполнен!
    </div>
</div>