﻿@using reshim.web.core.Extensions
@model reshim.model.view.ViewModels.Home.AuthMenuViewModel

<div class="auth-photo column3">
    <div class="photo-container">
        <img class="photo-profile" src="@string.Format("{0}?w=90&h=90&mode=crop", Model.User.GetPhoto)" alt="@Model.User.Login" />
    </div>
    <a href="@Url.Action("Profile", "User")">@Model.User.FirstName @Model.User.LastName</a>
</div>

<div class="auth-menu column5">
    <ul>
        <li data-link="@Url.Action("Logout", "Auth")">
            <div class="sprite-exit"></div>
            <p class="text">Выход</p>
        </li>
        <li data-link="@Url.Action("PersonalCabinet", "User", new { @area = User.GetReshimUser().RoleName == "User" || User.GetReshimUser().RoleName == "Admin" ? "" : User.GetReshimUser().RoleName })">
            <div class="sprite-user"></div>
            <p class="text">Личный кабинет</p>
        </li>
        <li data-link="@Url.Action("Index", "Billing", new { @page = "cash-in", @area = "" })">
            <div class="sprite-pay"></div>
            <p class="text">Балланс</p>
            <p id="PayValue">(@Model.User.PaymentData.Ballance RUR)</p>
        </li>
        <li data-link="@Url.Action("Index", "Chat")">
            <div class="sprite-mail"></div>
            <p class="text">Сообщений</p>
            <p class="CountNewMessage">(@Model.CountNewMessage)</p>
        </li>
    </ul>
</div>
