﻿@using reshim.web.core.Extensions
@using reshim.web.Helpers
@model reshim.model.view.ViewModels.User.StatisticsViewModel
@{
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

<div class="place clearfix">
    <p class="title">Меню исполнителя</p>
    <div class="menu-tiles">
        <a class="task-preview" href="@Url.Action("Index", "Task", new {@area = User.GetReshimUser().RoleName})">
            <span>@SVGHelper.SearchICO()</span>
            <span>Просмотр задач</span>
        </a>
    </div>
</div>

<div class="place clearfix">
    <p class="title">Статистика</p>
    <div class="left">
        <div class="line">
            <label>Количество решенных задач:</label>
            <span>@Model.CountSolvedTask</span>
        </div>
    </div>
    <div class="right">
        <div class="line">
            <label>Количество заказанных задач:</label>
            <span>@Model.CountOrderTask</span>
        </div>
    </div>
</div>

<div class="place clearfix">
    <p class="title">Биллинг</p>
    <div class="menu-tiles">
        <a class="lk-cash-in" href="@Url.Action("Index", "Billing", new { page = "cash-in", @area = "" })">
            @Html.Raw("Пополнить балланс")
        </a>
        <a class="lk-cash-out" href="@Url.Action("Index", "Billing", new { page = "cash-out", @area = ""  })">
            @Html.Raw("Вывод средств")
        </a>
        <a class="lk-history" href="@Url.Action("Index", "Billing", new { page = "history", @area = ""  })">
            @Html.Raw("История")
        </a>
    </div>
</div>