﻿<form class="estimate-task" action="api/task" novalidate="">
    <fieldset>
        <label>Стоимость:</label>
        <div class="input-control text">
            <input name="value" type="text" placeholder='Введите цену в российких рублях'>
        </div>
        <div class="note">
            Укажите стоимость, за которую Вы выполните задание (<b>RUR</b>)
        </div>
    </fieldset>

    <fieldset>
        <label>Комментарии:</label>
        <div class="input-control textarea">
            <textarea name="comment" placeholder='Введите комментарий'></textarea>
        </div>
        <div class="note">В комментарии оставлять контактные данные запрещено!</div>
    </fieldset>

    <button class="green">Оставить заявку</button>
</form>