﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.EditTaskViewModel
@{
    ViewBag.Title = "Редактирование заказа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/Scripts/action/action.order.update.js" type="text/javascript"></script>
@if (!ViewData.ModelState.IsValid)
{
    @Html.ReshimValidationSummary()
}
else
{
    <form class="order" action="api/task" novalidate="" data-id="@Model.TaskId">
        <fieldset>
            <label>Условие задачи*:</label>
            <div data-role="file-input"></div>
            <div class="note">
                Измените условие задачи либо оставьте пустым.
                <div id="ProgressUploadTask" class="progress-bar" data-role="progress-bar" data-value="0"></div>
            </div>
        </fieldset>

        <fieldset>
            <label>Тип работы*:</label>
            <div class="input-control select">
                <select class="typeWorks custom-select2" name="typeWork" data-placeholder="Выберите тип работы">
                    <option value="">Выберите тип работы</option>
                    @foreach (var typeWork in Model.TypeWorks)
                    {
                        <option value="@typeWork.Id" selected="@(typeWork.Id == Model.TypeWorkId)">@typeWork.Name</option>
                    }
                </select>
            </div>
            <div class="note"></div>
        </fieldset>

        <fieldset>
            <label>Предмет*:</label>
            <div class="input-control select">
                <select class="subjects custom-select2" name="subject" data-placeholder="Выберите предмет">
                    <option value="">Выберите предмет</option>
                    @foreach (var subject in Model.Subjects)
                    {
                        <option value="@subject.Id" selected="@(subject.Id == Model.SubjectId)">@subject.Name</option>
                    }
                </select>
            </div>
            <div class="note">Можете изменить предмет и раздел задачи, либо оставить текущими.</div>
        </fieldset>

        <fieldset>
            <label>Срок решения*:</label>
            <div class="input-control text datatimeorder" data-role="datepicker" data-selectdate="@Model.DateOfExecution.ToString("dd/MM/yyyy")">
                <input name="datatimeorder" type="text">
                <input class="calendar btn-date" type="submit" value="">
            </div>
            <div class="note">Измените срок решения, либо оставьте текущим (при уменьшении срока решения, сумма решения может увеличиться).</div>
        </fieldset>

        <fieldset>
            <label>Стоимость:</label>
            <div class="input-control text">
                <input name="cost" type="text" placeholder='Введите стоимость' value="@String.Format("{0:0}", Model.Cost)">
            </div>
            <div class="note">Укажите примерную стоимость, либо оставьте пустым.</div>
        </fieldset>

        <fieldset>
            <label>Комментарии:</label>
            <div class="input-control textarea">
                <textarea name="comment" placeholder='Введите комментарий'>@Model.Comment</textarea>
            </div>
            <div class="note">В комментарии, как и в тексте заказа, оставлять контактные данные запрещено!</div>
        </fieldset>

        <button id="SendOrder" class="green">Обновить</button>

    </form>
}