﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.common.core.Pagination
@using reshim.web.core.Extensions
@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TasksViewModelWithCriteria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/Scripts/action/action.table.js" type="text/javascript"></script>

@Html.Partial("Partials/_FilterTasks")

<table class="custom">
    <thead>
        <tr>
            <td>
                @Html.TextWithIco(MvcHtmlString.Create("№"), isTable: true, colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_24" })
            </td>
            <td>
                @Html.TextWithIco(SVGHelper.FileWordICO(), "Условие", isTable: true, colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_24" })
            </td>
            <td>
                @Html.TextWithIco(SVGHelper.FileWordICO(), "Решение", isTable: true, colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_24" })
            </td>
            <td>
                @Html.TextWithIco(SVGHelper.UserICO(), "Заказчик", isTable: true, colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_24" })
            </td>
            <td>
                @Html.TextWithIco(@SVGHelper.UserTieICO(), "Исполнитель", isTable: true, colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_24" })
            </td>
            <td>
                @Html.TextWithIco(@SVGHelper.ListNumberedICO(), "Статус", isTable: true, colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_24" })
            </td>
            <td>
                @Html.TextWithIco(@SVGHelper.CalendarICO(), "Срок", isTable: true, colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_24" })
            </td>
            <td>
                @Html.TextWithIco(@SVGHelper.SubjectICO(), "Предмет", isTable: true, colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_24" })
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr id="@task.Id" data-task-id="@task.Id">

                <td class="task hover" data-task-id="@task.Id"><a href="#">@task.Id</a></td>

                @{
                    string conditionPath = string.Format("{0}?id={1}", task.Condition.Path, task.Id);
                }
                <td class="condition hover"><a href="@conditionPath" rel="nofollow">Условие</a></td>

                <td class="solution hover">
                    @Html.SolutionLink(task, User.GetReshimUser(), new Dictionary<string, object> { { "rel", "nofollow" }, { "data-role", "accessFileSolution" } })
                </td>

                <td class="customer hover">
                    @Html.ActionLink(task.Customer.Login, "Index", "User", new { @area = "", @id = task.Customer.UserId }, null)
                </td>
                <td class="decided @(task.Decided != null ? "hover" : "")">
                    @(task.Decided != null ? Html.ActionLink(task.Decided.Login, "Index", "User", new { @area = "", @id = task.Decided.UserId }, null) : Html.Raw("-"))
                </td>
                <td class="status"><label class="stick @Html.ColorForTask(task.Status)">@task.Status.GetAttributeValue(typeof(NameAttribute), string.Empty)</label></td>
                <td class="date">@task.ShortFormatDateOfExecution</td>
                <td class="subject">@task.Subject.Name</td>
                <td class="btn-detail-order">
                    <a href="@Url.Action("Detail", "Task", new {id = task.Id})" class="btn green">
                        @Html.TextWithIco(@SVGHelper.ArrowRightICO(), "К заказу", isTable: false, colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_20" })
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="pager">
    @Html.Pager(Model.Tasks.PageSize, Model.Tasks.PageNumber, Model.Tasks.TotalItemCount).Options(o => o.Action("Index").AddRouteValue("status", Model.SelectedStatus))
</div>
