﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.CreateTaskFormModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Scripts/action/action.order.js" type="text/javascript"></script>

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw("ВНИМАНИЕ! После оценки заказа для начала решения необходимо будет внести предоплату 50% от стоимости. При задержке с оплатой срок решения будет автоматически продлен!")
</div>

<form class="order" action="api/task" novalidate="">
    <fieldset>
        <label>Условие задачи*:</label>
        <div data-role="file-input"></div>
        <div class="note">
            Объём файла не более 15Мб (только gif, jpg, png, doc, docx, rar, zip).
            <div id="ProgressUploadTask" class="progress-bar" data-role="progress-bar" data-value="0"></div>
        </div>
    </fieldset>

    <fieldset>
        <label>Тип работы*:</label>
        <div class="input-control select">
            <select class="typeWorks custom-select2" name="typeWork" data-placeholder="Выберите тип работы">
                <option value="">Выберите тип работы</option>
                @foreach (var typeWork in Model.TypeWorks)
                {
                    <option value="@typeWork.Id" selected="@(typeWork.Id == Model.TypeWorkId)">@typeWork.ShortName</option>
                }
            </select>
        </div>
        <div class="note">Нет нужного типа работы? Выберите "Другое", а нужный тип укажите в комментарии.</div>
    </fieldset>

    <fieldset>
        <label>Предмет*:</label>
        <div class="input-control select">
            <select class="subjects custom-select2" name="subject" data-placeholder="Выберите предмет">
                <option value="">Выберите предмет</option>
                @foreach (var subject in Model.Subjects)
                {
                    <option value="@subject.Id">@subject.Name</option>
                }
            </select>
        </div>
        <div class="note">Нет нужного предмета? Выберите "Разное", а нужный предмет и раздел укажите в комментарии.</div>
    </fieldset>

    <fieldset>
        <label>Срок решения*:</label>
        <div class="input-control text datatimeorder" data-role="datepicker">
            <input name="datatimeorder" type="text">
            <input class="calendar btn-date" type="submit" value="">
        </div>
        <div class="note">Указан стандартный срок 3 дня. Укажите нужный Вам!</div>
    </fieldset>

    <fieldset>
        <label>Стоимость:</label>
        <div class="input-control text">
            <input name="cost" type="text" placeholder='Введите стоимость в российких рублях'>
        </div>
        <div class="note">
            Укажите примерную стоимость, на которую Вы рассчитываете или оставьте пустым (<b>RUR</b>)
        </div>
    </fieldset>

    <fieldset>
        <label>Комментарии:</label>
        <div class="input-control textarea">
            <textarea name="comment" placeholder='Введите комментарий'></textarea>
        </div>
        <div class="note">В комментарии, как и в тексте заказа, оставлять контактные данные запрещено!</div>
    </fieldset>

    @if (!User.Identity.IsAuthenticated)
    {
        <fieldset class="radio-button">
            <label>Уведомление о стоимости работы:</label>
            <div class="input-control radio">
                <label>
                    <input type='radio' name='notify' value='email' id="NotifyEmail" />
                    <span class='check'></span>
                    <span>на email</span>
                </label>
                <label>
                    <input type='radio' name='notify' value='vk' id="NotifyVk" />
                    <span class='check'></span>
                    <span>Вконтакте</span>
                </label>
            </div>
            <div class="note">Выберите способ уведомления о стоимости Вашего заказа!</div>
        </fieldset>
    }
    
    <div class="quick-reg">
        <h2>Быстрая регистрация</h2>
        <fieldset>
            <label>Email:</label>
            <div class="input-control text">
                <input name="email" type="text" placeholder='Введите email'>
            </div>
            <div class="note">
            </div>
        </fieldset>

        <fieldset>
            <label>Логин:</label>
            <div class="input-control text">
                <input name="login" type="text" placeholder='Введите логин'>
            </div>
            <div class="note">
            </div>
        </fieldset>

        <fieldset>
            <label>Пароль:</label>
            <div class="input-control text">
                <input name="password" type="password" id="password" placeholder='Введите пароль'>
            </div>
            <div class="note">
            </div>
        </fieldset>

        <fieldset>
            <label>Повтор пароля:</label>
            <div class="input-control text">
                <input name="confirmpassword" type="password" placeholder='Повторите пароль'>
            </div>
            <div class="note">
            </div>
        </fieldset>
    </div>

    <div id="Yes" data-role="checkbox" data-caption="С правилами оформления заказов и условиями решения согласен."></div>
    <button id="SendOrder" class="green" disabled="disabled">Заказать</button>

</form>