﻿@model reshim.model.view.ViewModels.Task.RenderPartialTabsDetailTaskViewModel

<div class="top-block detail-estimate-task customer @Model.Task.Status.ToString().ToLower()">
    <div class="left-side">
        @Html.Partial(Model.Layout, Model.Task)
    </div>
    <div class="right-side">
        @Html.Partial("~/Views/Task/Partials/_SideStatuses.cshtml", Model.Task)
    </div>
</div>

