html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
}

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
    display: block;
}

a img {
    border: 0;
}

figure {
    position: relative;
}

    figure img {
        width: 100%;
    }

.container12 {
    margin: 0 auto;
    padding: 0;
    width: 1140px;
}

.row {
    margin-bottom: 10px;
    margin-top: 10px;
}

.column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9, .column10, .column11, .column12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.container12 .alpha, .container16 .alpha {
    margin-left: 0;
}

.container12 .omega, .container16 .omega {
    margin-right: 0;
}

.container12 .column1 {
    width: 75px;
}

.container12 .column2 {
    width: 170px;
}

.container12 .column3 {
    width: 265px;
}

.container12 .column4 {
    width: 360px;
}

.container12 .column5 {
    width: 455px;
}

.container12 .column6 {
    width: 550px;
}

.container12 .column7 {
    width: 645px;
}

.container12 .column8 {
    width: 740px;
}

.container12 .column9 {
    width: 835px;
}

.container12 .column10 {
    width: 930px;
}

.container12 .column11 {
    width: 1025px;
}

.container12 .column12 {
    width: 1120px;
}

.container12 .prefix1 {
    padding-left: 95px;
}

.container12 .prefix2 {
    padding-left: 190px;
}

.container12 .prefix3 {
    padding-left: 285px;
}

.container12 .prefix4 {
    padding-left: 380px;
}

.container12 .prefix5 {
    padding-left: 475px;
}

.container12 .prefix6 {
    padding-left: 570px;
}

.container12 .prefix7 {
    padding-left: 665px;
}

.container12 .prefix8 {
    padding-left: 760px;
}

.container12 .prefix9 {
    padding-left: 855px;
}

.container12 .prefix10 {
    padding-left: 950px;
}

.container12 .prefix11 {
    padding-left: 1045px;
}


.clearfix:before, .clearfix:after,
.row:before, .row:after,
.container12:before, .container12:after {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
/* http://sonspring.com/journal/clearing-floats */
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    float: none !important;
}

.row:after, .clearfix:after, .container12:after {
    clear: both;
}
/* For IE7. Move this to separate file when you notice some problems */
.row, .clearfix {
    zoom: 1;
}

img, object, embed {
    max-width: 100%;
}

img {
    height: auto;
}