﻿
/*/////////////////////////// попапчик ///////////////////////////*/
.dialog-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1049;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

.window {
    position: absolute;
    background-color: #ffffff;
    border-top: 0;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    min-width: 200px;
}

    /* заголовок попапчика */
    .window .caption {
        padding: 7px 5px;
        top: 0;
        height: 32px;
        width: 100%;
        background-color: #066bc6;
        cursor: default;
        z-index: 2;
        border-bottom: 1px #e9e9e9 solid;
        border-top: 0;
    }

        /* иконка */
        .window .caption .icon {
            width: 16px;
            height: 16px;
            font-size: 16px;
            margin-top: 0;
            margin-left: 0px;
            margin-right: 5px;
            position: relative;
            float: left;
        }

        /* текст заголовок */
        .window .caption .title {
            margin-left: 4px;
            position: relative;
            float: left;
            color: #ffffff;
            font-weight: bolder;
        }

        /* кнопка закрыть */
        .window .caption .btn-close {
            background-color: #066bc6;
            color: #FFFFFF;
            position: absolute;
            top: 4px;
            right: 6px;
            width: 24px;
            height: 24px;
            min-height: 24px;
            text-align: center;
            font-size: 14pt;
            font-weight: normal;
            padding: 0 0 10px 0;
            z-index: 3;
            outline: none;
        }

            .window .caption .btn-close:hover {
                color: #eb4444;
            }

            .window .caption .btn-close:active {
                background-color: #069dfa !important;
                left: auto;
            }

            .window .caption .btn-close:after {
                border-color: #777777;
                width: 10px !important;
                height: 6px !important;
                content: '\D7';
            }

    /* содержимое попапчика */
    .window .content {
        position: relative;
        width: auto;
        height: auto;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
        -o-box-sizing: content-box;
        box-sizing: content-box;
    }

    .window input {
        margin-bottom: 10px;
    }
/*/////////////////////////////////////////////////////////////////*/


/*///////////////////////// лоадер ///////////////////////////////*/
.loader-reshim {
    width: 56px;
    height: 86px;
    position: absolute;
    background-image: url('./img/loading.png');
    -webkit-animation: play 1.5s steps(6) infinite;
    -moz-animation: play 1.5s steps(6) infinite;
    -ms-animation: play 1.5s steps(6) infinite;
    -o-animation: play 1.5s steps(6) infinite;
    animation: play 1.5s steps(6) infinite;
}

.loader-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10004;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

@-webkit-keyframes play {
    from {
        background-position: 1px;
    }

    to {
        background-position: -341px;
    }
}

@-moz-keyframes play {
    from {
        background-position: 1px;
    }

    to {
        background-position: -341px;
    }
}

@-ms-keyframes play {
    from {
        background-position: 1px;
    }

    to {
        background-position: -341px;
    }
}

@keyframes play {
    from {
        background-position: 1px;
    }

    to {
        background-position: -341px;
    }
}


@-webkit-keyframes three-quarters {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes three-quarters {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes three-quarters {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes three-quarters {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Styles for old versions of IE */
.three-quarters {
    font-family: sans-serif;
    font-weight: 100;
}

    /* :not(:required) hides this rule from IE9 and below */
    .three-quarters:not(:required) {
        -webkit-animation: three-quarters 1250ms infinite linear;
        -moz-animation: three-quarters 1250ms infinite linear;
        -ms-animation: three-quarters 1250ms infinite linear;
        -o-animation: three-quarters 1250ms infinite linear;
        animation: three-quarters 1250ms infinite linear;
        border: 8px solid #3388ee;
        border-right-color: transparent;
        border-radius: 50px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        text-indent: -9999px;
        width: 100px;
        height: 100px;
    }


/*/////////////////////////////////////////////////////////////////*/


/*///////////////////////// прогрес бар //////////////////////////*/
.progress-bar {
    display: block;
    position: relative;
    height: 10px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #eeeeee;
}

    .progress-bar .bar {
        position: relative;
        display: block;
        float: left;
        width: 0;
        background-color: #1ba1e2;
        height: 100%;
    }

/*/////////////////////////////////////////////////////////////////*/


/*///////////////////////// checkbox //////////////////////////*/
.checkbox {
    text-align: left;
    margin-bottom: 10px;
}

    .checkbox input[type=checkbox] {
        position: absolute;
        opacity: 0;
        width: 1px;
        height: 1px;
    }

    .checkbox .check {
        width: 22px;
        height: 22px;
        background-color: #ffffff;
        border: 1px #d9d9d9 solid;
        padding: 0;
        margin: 0 5px 0 0;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        float: left;
    }

    .checkbox input[type="checkbox"]:checked + label:after {
        content: "\2713";
        margin: 5px;
        top: 0;
        color: #FFFFFF;
    }

    .checkbox input[type="checkbox"]:checked + .check {
        background-color: #066bc6;
        border: 1px #066bc6 solid;
    }
/*/////////////////////////////////////////////////////////////////*/


/*///////////////////////// переключатель //////////////////////////*/
.radio {
    text-align: left;
    margin-bottom: 10px;
}

    .radio input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: 1px;
        height: 1px;
    }

.input-control.radio .check {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 1px #d9d9d9 solid;
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
    border-radius: 50%;
}

.input-control.radio label span {
    vertical-align: middle;
}

.radio input[type="radio"]:checked ~ .check:after {
    content: "\2713";
    margin: 3px;
    color: #FFFFFF;
}

.radio input[type="radio"]:checked ~ .check {
    background-color: #066bc6;
}

/*/////////////////////////////////////////////////////////////////*/
/*////////////////////// загрузчик файлов /////////////////////////////////*/

.input-control.file.text {
    border: 1px solid #d9d9d9;
    overflow: hidden;
    padding: 1px;
}

    .input-control.file.text input[type='text'] {
        border: none;
        outline: none;
        -webkit-appearance: none;
        width: 60%;
    }

    .input-control.file.text input[type='file'] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        cursor: pointer;
    }


    .input-control.file.text button[type='button'] {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 1px;
    }



/*/////////////////////////////////////////////////////////////////*/

/*//////////////////////// контекстное меню ////////////////////////*/
.context-menu {
    position: absolute;
    background-color: #ffffff;
    border-top: 0;
    -webkit-box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.5);
    min-width: 200px;
}

    .context-menu ul {
        list-style-type: none;
    }

    .context-menu li {
        padding: 5px;
    }


        .context-menu li:hover {
            background-color: #069dfa;
        }

        .context-menu li a {
            display: block;
            height: 100%;
            width: 100%;
            color: #6a6a6a;
        }

            .context-menu li a:hover {
                color: #FFF;
            }


        .context-menu li.disable {
            opacity: 0.5;
            color: #ffffff;
            background-color: #e9e9e9;
            padding: 5px;
        }

            .context-menu li.disable a {
                color: #ffffff;
                cursor: default;
            }

            .context-menu li.disable:hover {
                background-color: #e9e9e9;
            }

/*/////////////////////////////////////////////////////////////////*/

/*/////////////////// таб контролл ////////////////////////////*/

.tab-control {
    width: 98%;
}

    .tab-control .tabs {
    }

        .tab-control .tabs li ul,
        .tab-control .tabs li ol {
            list-style: none;
            padding-left: 25px;
        }

        .tab-control .tabs:before,
        .tab-control .tabs:after {
            display: table;
            content: "";
        }

        .tab-control .tabs:after {
            clear: both;
        }

        .tab-control .tabs > li {
            background-color: #7e7e7e;
            display: block;
            float: left;
            margin-right: 10px;
            border-top: 5px #7e7e7e solid;
        }

            .tab-control .tabs > li a {
                display: block;
                padding: 5px 10px;
                color: #ffffff;
                height: 36px;
            }

            .tab-control .tabs > li:hover {
                border-top: 5px #00b05a solid;
                background-color: #00b05a;
            }

            .tab-control .tabs > li.active {
                border-top: 5px #066bc6 solid;
            }


    .tab-control .frames {
        margin-top: -1px;
        border: 1px #bdbec7 solid;
    }

        .tab-control .frames .frame {
            display: none;
        }

            .tab-control .frames .frame:first-child {
                display: block;
            }

    .tab-control .frame {
        padding: 20px;
    }
/*/////////////////////////////////////////////////////////////////*/

/*/////////////////// notify ////////////////////////////*/
.notify-container {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1060;
    min-width: 320px;

}

    .notify-container .notify {
        background-color: #00b05a;
        display: block;
        position: relative;
        min-width: 220px;
        max-width: 400px;
        color: #1d1d1d;
        padding: 10px;
        margin: 2px 2px 2px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

        .notify-container .notify .content {
            font-size: 16px;
            margin-right: 10px;
            position: relative;
        }

        .notify-container .notify .btn-close {
            background-color: #00b05a;
            color: #FFFFFF;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 24px;
            height: 24px;
            min-height: 24px;
            text-align: center;
            font-size: 14pt;
            font-weight: normal;
            padding: 0 0 10px 0;
            z-index: 3;
            outline: none;
        }

            .notify-container .notify .btn-close:hover {
                color: #eb4444;
            }

            .notify-container .notify .btn-close:active {
                color: #16cc73;
            }

            .notify-container .notify .btn-close:after {
                border-color: #777777;
                width: 10px !important;
                height: 6px !important;
                content: '\D7';
            }
/*/////////////////////////////////////////////////////////////////*/

/*/////////////////// calendar ////////////////////////////*/
.calendar {
    width: 268px;
    border: 1px #eeeeee solid;
    font-size: 10pt;
    background-color: #ffffff;
    text-align: center;
}

    .calendar table {
        width: 100%;
        border-collapse: collapse;
    }

    .calendar td,
    .calendar th {
        padding: 0;
        width: 14.28%;
    }

    .calendar td {
        border: 1px solid;
        border-color: #D9D9D9;
    }

        .calendar td:first-child {
            border-left: 0;
        }

        .calendar td:last-child {
            border-right: 0;
        }

    .calendar tr:last-child td {
        border-bottom: 0;
    }

    .calendar .day-of-week {
        padding: 5px;
        cursor: default;
        font-weight: bolder;
    }

    .calendar a {
        display: block;
        padding: 5px;
    }

        .calendar a:hover {
            background-color: #eeeeee;
        }

    .calendar .calendar-header {
        background-color: #066bc6;
        color: #ffffff;
    }

        .calendar .calendar-header td,
        .calendar .calendar-header th {
            border: 0 !important;
        }

            .calendar .calendar-header td a,
            .calendar .calendar-header th a {
                color: #ffffff;
            }

                .calendar .calendar-header td a:hover,
                .calendar .calendar-header th a:hover {
                    background-color: #069dfa;
                    color: #ffffff;
                }

    .calendar .calendar-actions td,
    .calendar .calendar-actions th {
        padding: 10px;
    }

    .calendar .today a {
        background-color: #00b05a;
        color: #ffffff;
    }

        .calendar .today a:hover {
            background-color: #16cc73;
            color: #ffffff;
        }

    .calendar .other-day {
        font-size: 8pt;
        color: #D9D9D9;
    }

    .calendar .day a {
        display: block;
        position: relative;
        border: 1px transparent solid;
        color: #333;
    }

        .calendar .day a.selected {
            border: 1px #eb4444 solid;
        }

            .calendar .day a.selected:after {
                position: absolute;
                display: block;
                border-top: 28px solid #eb4444;
                border-left: 28px solid transparent;
                right: 0;
                content: "";
                top: 0;
                z-index: 101;
            }

            .calendar .day a.selected:after {
                border-top-width: 12px;
                border-left-width: 12px;
            }



.calendar-dropdown {
    border: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
}

/*/////////////////////////////////////////////////////////////////*/
