﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
