.wrapper-type-work {
    border: 1px solid #e5e5e5;
    clear: both;
    padding: 15px 0px;
    margin-bottom: 10px;
}

.wrapper-type-work {
}

    .wrapper-type-work h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .wrapper-type-work .table {
        display: table;
    }

.wrapper-type-work .subject a {
    display: table-cell;
    margin-right: 0;
    vertical-align: middle;
    padding: 10px 0 0 0;
    color: #066BC6;
}

.wrapper-type-work .price {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

    .wrapper-type-work .price > div {
        float: left;
        background-color: #069dfa;
        text-align: center;
        line-height: 14px;
        margin: 0px 0px;
        padding: 10px 0px;
        width: 140px;
        color: white;
    }

    .wrapper-type-work .price .center {
        background-color: #066BC6;
        font-size: 230%;
        padding: 25px 0px;
        margin: 0;
        margin:-21px 0 0 0;
        border-bottom: solid 8px #fff;
        border-top: solid 8px #fff;
        line-height: 24px;
    }

    .wrapper-type-work .price strong {
        color: white;
    }

.wrapper-type-work .count-order {
    display: block;
    color: white;
    background-color: #00B05A;
    margin-right: 0;
    text-align: center;
    line-height: 14px;
    padding: 20px 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: table-cell;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

    .wrapper-type-work .count-order strong {
        color: white;
        font-size: 220%;
    }
