﻿/*
    00b05a green
    ffd6d6 pink
    a8ff9f light green
    066bc6 blue
    eb4444 red
*/
/*///////////////////////// global ////////////////////////*/

html {
    height: 100%;
}

body {
    font-size: 17px;
    height: 100%;
}

html,
body,
* {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #333333;
    margin: 0px;
    padding: 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
        -webkit-transition: all .15s linear;
        -moz-transition: all .15s linear;
        transition: all .15s linear;
    }

    a:hover,
    a:active,
    .tile:active {
        outline: 0;
    }

sub,
sup {
    position: relative;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -8px;
}

sub {
    bottom: -4px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 17px;
    vertical-align: middle;
}

button,
input {
    line-height: normal;
}

    select,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    input[type="radio"],
    input[type="checkbox"] {
        cursor: pointer;
    }

textarea {
    overflow: auto;
    vertical-align: top;
}

.wrapper-bottom-footer > footer {
    min-width: 1140px;
    height: 205px;
    margin-top: -205px;
}

h2, h3 {
    font-size: 20px;
}

section {
    padding-top: 10px;
}

    section a {
        text-decoration: underline;
    }

        section a:hover {
            text-decoration: none;
        }

/* основные цвета сайта */
.white {
    color: #fff;
}

.blue {
    color: #066BC6;
}

.gray90 {
    color: #E5E5E5;
}

.gray20 {
    color: #333333;
}

/* кнопки */
button {
    padding: 4px 12px;
    text-align: center;
    border: 1px transparent solid;
    color: #FFF;
    border-radius: 0;
    outline: none;
    margin: auto;
}



    button.green {
        background-color: #00b05a;
    }

        button.green:hover {
            background-color: #16cc73;
        }

    button.gray {
        background-color: #7e7e7e;
    }

        button.gray:hover {
            background-color: #919191;
        }

    button.blue {
        background-color: #066bc6;
    }

        button.blue:hover {
            background-color: #069dfa;
        }

    button.red {
        background-color: #eb4444;
    }

        button.red:hover {
            background-color: #eb9999;
        }

    button:disabled {
        background-color: #eeeeee !important;
        cursor: not-allowed;
    }

a.btn.red {
    display: inline-block;
    background-color: #eb4444;
    color: #FFF;
    padding: 5px;
    text-decoration: none;
}

    a.btn.red:hover {
        background-color: #eb9999;
    }

a.btn.green {
    display: inline-block;
    background-color: #00b05a;
    color: #FFF;
    padding: 5px;
    text-decoration: none;
}

    a.btn.green:hover {
        background-color: #16cc73;
    }

a.btn .btn-icon {
    vertical-align: middle;
}

a.btn .btn-text {
    color: #FFF;
}

a.btn .btn-icon .icon-arrow-right {
    color: #FFF;
}

div.float-left {
    float: left;
}

.position-relative {
    position: relative;
}

.text-align-justify {
    text-align: justify;
}

.paddingtop20 {
    padding-top: 20px;
}

.wrapper-bottom-footer {
    height: 100%;
}

.wrapper-content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 215px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p {
        display: inline;
    }

/*/////////////////////////////////////////////////////////////*/


/*///////////////////// попапчики аутификации ///////////////////////*/
form button[class='blue'] {
    float: right;
    margin-bottom: 10px;
}


.social-networks a.social-button .icon {
    width: 60px;
    height: 60px;
    margin: -15px 0 -20px 0px;
}

form.two-elements > fieldset > div.input-control {
    width: 60%;
}

form.two-elements > fieldset > label {
    width: 40%;
}

form.two-elements .info-place.info {
    margin-bottom: 0px;
    width: 100%;
}

.window .tab-control .tabs > li a {
    height: 32px;
}

/*/////////////////////////////////////////////////////////////*/

/*///////////////////// попапчик регистрации ///////////////////////*/

form.reg button[class='blue'] {
    float: right;
    margin-bottom: 0px;
}

/*/////////////////////////////////////////////////////////////*/

/*/////////////////////// форма ////////////////////////////////////*/
.input-control {
    margin-bottom: 5px;
    margin-top: 5px;
}


    .input-control.select {
        display: inline-block;
        cursor: pointer;
        position: relative;
        width: 100%;
    }

        .input-control.select select {
            border: 1px #d9d9d9 solid;
            width: 100%;
            padding: 5px;
        }

    .input-control.textarea {
        display: inline-block;
        cursor: pointer;
        position: relative;
        background-color: #fff;
        outline: 0;
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
    }

    .input-control.text, .input-control.password, .input-control.email {
        display: inline-block;
        cursor: pointer;
        position: relative;
        background-color: #fff;
        outline: 0;
        height: 35px;
        width: 100%;
    }

        .input-control.text input,
        .input-control.password input,
        .input-control.email input,
        .input-control.textarea textarea {
            border: 1px #d9d9d9 solid;
            width: 100%;
            height: 100%;
            padding: 5px;
            z-index: 1;
        }

    .input-control label.error {
        display: none !important;
    }

    .input-control.error {
        border: 2px solid #f00 !important;
    }

    .input-control.text input:disabled,
    .input-control.password input:disabled,
    .input-control.email input:disabled,
    .input-control.select select:disabled,
    .input-control.textarea textarea:disabled {
        background-color: #eeeeee !important;
        cursor: not-allowed;
    }

    .input-control.radio label, .input-control.checkbox label {
        cursor: pointer;
    }

/* позиционирование */
fieldset > label {
    width: 33%;
    display: block;
    float: left;
    line-height: 40px;
    text-align: left;
}

fieldset div.input-control.text,
fieldset div.input-control.password,
fieldset div.input-control.email,
fieldset div.input-control.select,
fieldset div.input-control.radio,
fieldset div.input-control.textarea {
    width: 33%;
    float: left;
}

fieldset .note {
    width: 33%;
    float: left;
    text-align: left;
    padding-left: 10px;
    font-size: 13px;
    margin-top: 5px;
}

fieldset button {
    margin-top: 7px;
    margin-left: 20px;
}

/*/////////////////////////////////////////////////////////////*/


/*///////////////////////// заголовок ////////////////////////*/
header.container12 {
    margin-bottom: 10px;
}

header .logo a {
    display: block;
}

header .slogan {
    height: 100%;
    padding-top: 19px;
}

header .slogan .svg-icon.wrapper span.title {
    vertical-align: text-bottom;
}

header p.slogan {
    margin-left: 52px;
}

header .auth button {
    margin-top: 19px;
    float: right;
    margin-right: 10px;
}

/* при авторизации */
header .auth-photo {
    background-color: #ffc935;
    color: #000;
    text-align: center;
}

    header .auth-photo .photo-container {
        width: 90px;
        height: 90px;
        float: left;
        overflow: hidden;
        position: relative;
    }


    header .auth-photo img {
        max-width: 200%;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        margin: auto;
    }

    header .auth-photo a {
        color: #000;
        line-height: 90px;
        display: inline-block;
        width: 66%;
    }


/* меню при авторизации */
header .auth-menu ul {
    padding: 0px;
    margin: 0 auto;
}

    header .auth-menu ul li {
        display: inline-block;
        float: right;
        color: #FFFFFF;
        border-right: 1px solid #FFF;
        background-color: #7e7e7e;
        height: 90px;
        padding-top: 20px;
        text-align: center;
        word-wrap: break-word;
        width: 25%;
    }

        header .auth-menu ul li:hover {
            background-color: #00b05a;
            cursor: pointer;
        }

header .auth-menu div {
    display: inline-block;
    text-align: center;
}

.sprite-exit {
    background: url(./img/auth-panel.png) no-repeat top left;
    background-position: 0 0;
    width: 16px;
    height: 16px;
}

.sprite-mail {
    background: url(./img/auth-panel.png) no-repeat top left;
    background-position: -18px 0;
    width: 14px;
    height: 14px;
}

.sprite-pay {
    background: url(./img/auth-panel.png) no-repeat top left;
    background-position: -34px 0;
    width: 15px;
    height: 16px;
}

.sprite-user {
    background: url(./img/auth-panel.png) no-repeat top left;
    background-position: -50px 0;
    width: 12px;
    height: 16px;
}

/*/////////////////////////////////////////////////////////////*/


/*///////////////////////// верхнее горизонтальное меню ////////////////////////*/

nav {
    background-color: #066bc6;
    height: 60px;
    min-width: 1140px;
}

    nav.categories-article {
        background-color: #e5e5e5;
        height: 40px;
    }

    nav .wrapper-nav {
        margin: 0 auto;
        padding: 0;
        width: 1140px;
    }

        nav .wrapper-nav a.enable-icon {
            position: relative;
            padding-right: 20px;
        }

            nav .wrapper-nav a.enable-icon:after {
                content: ' ';
                position: absolute;
                top: 42%;
                right: 5px;
                border-width: 6px 4px;
                border-style: solid;
                margin-left: 6px;
                border-right-color: transparent !important;
                border-bottom-color: transparent !important;
                border-left-color: transparent !important;
            }


    nav .subCategories {
        position: absolute;
        background-color: #FFF;
        -webkit-box-shadow: 0px 4px 13px -3px #808080;
        -moz-box-shadow: 0px 4px 13px -3px #808080;
        -ms-box-shadow: 0px 4px 13px -3px #808080;
        -o-box-shadow: 0px 4px 13px -3px #808080;
        box-shadow: 0px 4px 13px -3px #808080;
        width: 400px;
        display: none;
    }

        nav .subCategories li {
            width: 50%;
        }

            nav .subCategories li a {
                padding-left: 20px;
            }

    nav .isSubCategories:hover .subCategories {
        display: block;
    }

    nav .wrapper-nav li {
        position: relative;
    }

    nav .right {
        float: right;
        position: relative;
    }

    nav ul li {
        display: inline;
        float: left;
    }

        nav ul li a {
            transition: 220ms ease-in-out;
            display: inline-block;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            line-height: 3.55;
            padding-left: 9px;
            padding-right: 9px;
            width: 100%;
            height: 100%;
        }

    nav.categories-article ul li a {
        line-height: 3.1;
        color: #000;
        font-size: 13px;
    }

    nav.categories-article ul li.first {
        font-weight: bolder;
        line-height: 2.4;
        padding-right: 15px;
    }

    nav ul li a:hover {
        background-color: #069dfa;
    }

    nav.categories-article ul li a:hover {
        background-color: #16cc73;
    }

/*/////////////////////////////////////////////////////////////*/

/*////////////////// блок новостей и заданий ///////////////////////////////*/
.info-block {
    border-spacing: 10px 0px;
}

    .info-block .last-news, .info-block .last-task, .info-block .typeworks-block {
        display: table-cell;
        border: 5px solid #e5e5e5;
        position: relative;
        padding: 10px;
        float: none;
    }

/*/////////////////////////////////////////////////////////////*/

/*////////////////// блок новостей ///////////////////////////////*/

.block-new {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bdbec7;
    text-align: justify;
}

    .block-new:last-child {
        border-bottom: none;
    }

.title-block-new {
    width: 100%;
}

.last-news > .wrapper {
    position: static;
}

    .last-news > .wrapper > .news {
        padding: 0px 0px 24px;
    }

        .last-news > .wrapper > .news .title {
            color: #066bc6;
            text-transform: uppercase;
            font-weight: bolder;
        }



        .last-news > .wrapper > .news > p {
            color: #066bc6;
            text-transform: uppercase;
            font-weight: bolder;
            padding-bottom: 10px;
        }

.date-new {
    border: 3px solid #066bc6;
    color: #066bc6;
    height: 50px;
    width: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    float: left;
    line-height: 22px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
}

.block-new .title-new {
    font-weight: bolder;
}

.all-news {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}
/* страница новостей  */
.news-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

    .news-wrapper .date {
        font-size: 14px;
        color: #999999;
    }

    .news-wrapper .top-block a {
        font-weight: bolder;
        text-decoration: underline;
    }

    .news-wrapper a.more, .block-new a.more {
        padding-left: 10px;
        font-weight: bolder;
        float: right;
    }

/*/////////////////////////////////////////////////////////////*/

/*////////////////// блок последних выполенных заданий ///////////////////////////////*/

.last-task {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bdbec7;
    text-align: justify;
}

    .last-task > .wrapper {
        position: static;
    }

        .last-task > .wrapper > .tasks {
            padding: 0px 0px 24px;
        }

            .last-task > .wrapper > .tasks > * > .title {
                color: #066bc6;
                text-transform: uppercase;
                font-weight: bolder;
            }

            .last-task > .wrapper > .tasks > p {
                color: #066bc6;
                text-transform: uppercase;
                font-weight: bolder;
                padding-bottom: 10px;
            }

.all-tasks {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.last-task .task {
    border-bottom: 1px solid #bdbec7;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

    .last-task .task:last-child {
        border: none;
    }

    .last-task .task > div {
        display: block;
        float: left;
        padding: 0 10px 0 10px;
    }

.last-task > .wrapper > .tasks .text {
    width: 45%;
}

.last-task > .wrapper > .tasks .time-execute {
    width: 25%;
}

.last-task > .wrapper > .tasks .price {
    width: 25%;
}


/*/////////////////////////////////////////////////////////////*/

/*////////////////// блок типов работ ///////////////////////////////*/

.typeworks-block {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bdbec7;
    text-align: justify;
}

    .typeworks-block > .wrapper {
        position: static;
    }

        .typeworks-block > .wrapper > .typeWorks {
            padding: 0px 0px 24px;
        }

            .typeworks-block > .wrapper > .typeWorks > p {
                color: #066bc6;
                text-transform: uppercase;
                font-weight: bolder;
                padding-bottom: 10px;
                margin-left: 19px;
            }

                .typeworks-block > .wrapper > .typeWorks > p:before {
                    content: "";
                    margin-left: -19px;
                    width: 16px;
                    height: 16px;
                    margin-top: 4px;
                    position: absolute;
                    background: url(./img/ico/ok16x16.png) no-repeat top left;
                }

.all-typeWorks {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.typeworks-block .typeWork {
    border-bottom: 1px solid #bdbec7;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

    .typeworks-block .typeWork:last-child {
        border: none;
    }

    .typeworks-block .typeWork > div {
        display: block;
        float: left;
        padding: 0 10px 0 10px;
    }

    .typeworks-block .typeWork.content > div.padding-top {
        padding-top: 6px;
    }

.typeworks-block > .wrapper > .typeWorks .text {
    width: 30%;
}

    .typeworks-block > .wrapper > .typeWorks .text a {
        text-decoration: underline;
    }

.typeworks-block > .wrapper > .typeWorks .time-execute {
    width: 30%;
}

.typeworks-block > .wrapper > .typeWorks .price {
    width: 20%;
}

.typeworks-block > .wrapper > .typeWorks .btnOrder {
    width: 20%;
}

/* всплывашка типа работ */
table.typeWorks {
    width: 100%;
}

    table.typeWorks td {
        width: 33.33%;
        text-align: center;
    }

    table.typeWorks .name {
        font-weight: bolder;
        text-decoration: underline;
    }


/*////////////////// преимущества ///////////////////////////////*/

.advantages strong.title {
    font-size: 32px;
    display: block;
    margin: 0 0 10px;
    font-weight: 700;
    text-align: center;
}

.advantages ul {
    list-style-type: none;
}

    .advantages ul li {
        float: left;
        width: 178px;
        margin-left: 40px;
        text-align: center;
    }

        .advantages ul li p.frame {
            display: block;
            border: 10px solid #ffe400;
            padding: 35px 0;
            height: 150px;
        }

            .advantages ul li p.frame strong:last-child {
                display: block;
                font-size: 20px;
                font-weight: 900;
            }

            .advantages ul li p.frame strong:first-child {
                display: block;
                font-size: 54px;
                line-height: 1;
                font-weight: 900;
            }

/*/////////////////////////////////////////////////////////////*/


/*////////////////////// подвал ///////////////////////////////////////*/
footer .slogan {
    background-color: #066bc6;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 2.5;
}

    footer .slogan .text {
        color: #FFF;
    }


footer .content {
    background-color: #e5e5e5;
}

    footer .content > div {
        padding: 15px 0 15px 0;
    }

footer .social-networks p {
    font-weight: bolder;
    color: #000;
}

footer .menu p {
    font-weight: bolder;
    color: #000;
    margin-bottom: 15px;
}

footer .menu li {
    list-style-type: none;
}

footer .menu ul a {
    text-decoration: none;
    color: #000;
}

    footer .menu ul a:hover {
        color: #069dfa;
    }

footer .end {
    background-color: #727272;
    color: #FFF;
}

    footer .end ul.list-pay {
        list-style-type: none;
        display: table;
    }

        footer .end ul.list-pay .title {
            text-align: left;
            line-height: 2.5;
            color: #ffffff;
            padding-right: 0;
            width: 170px;
        }

        footer .end ul.list-pay li {
            display: table-cell;
            text-align: center;
            padding-right: 40px;
        }

            footer .end ul.list-pay li .b-ico {
                vertical-align: middle;
            }

footer .yandex-block {
    padding-top: 5px;
}
/*/////////////////////////////////////////////////////////////*/

/*/////////////////////// главная страница ///////////////////////////////*/
.content-name h1, .content-name h2, .content-name span {
    font-weight: bolder;
    font-size: 22px;
}

.breadcrumbs {
    text-align: right;
    padding-right: 25px;
}

    .breadcrumbs a {
        color: #066bc6;
    }

.social-networks {
    float: right;
}

    .social-networks p {
        text-transform: uppercase;
        float: left;
    }

    .social-networks > div {
        float: right;
    }

    .social-networks a {
        height: 100%;
        display: block;
        text-decoration: none;
        float: left;
    }

        .social-networks a .icon {
            width: 25px;
            height: 25px;
            color: #7E7E7E;
            margin-top: -3px;
        }


/* страница статей/уроков  */
.content-wrapper {
    line-height: 1.58;
}

.article {
    margin: 0 0 30px;
}

.entry-header {
    margin: 0 0 20px;
}

.article span.name-marker {
    position: absolute;
    bottom: 60px;
    left: 0px;
    font-size: 24px;
    background-color: #000;
    -ms-opacity: 0.5;
    opacity: 0.5;
    padding: 0px 20px;
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.entry-header h2.entry-title {
    font-size: 22px;
    text-transform: none;
    letter-spacing: normal;
    margin: 0;
}

    .entry-header h2.entry-title a {
        color: #000;
        text-decoration: none;
    }

.entry-header .entry-title a:hover {
    color: #16cc73;
}

.entry-header span.entry-category {
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
}

    .entry-header span.entry-category a {
        opacity: 0.8;
        text-decoration: none;
    }

        .entry-header span.entry-category a:hover {
            color: #eb9999;
        }

.article .entry-content .article-image {
    margin: 0 auto 10px auto;
    display: block;
    width: 100%;
}

.article .entry-content .image-wrapper {
    position: relative;
    display: block;
}

.article .entry-content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;
}

    .article .entry-content table thead td {
        font-weight: bolder;
        border-bottom: 2px solid #000;
        text-align: center;
    }

    .article .entry-content table tbody td {
        border-bottom: 1px solid #e5e5e5;
        padding: 2px 0 0 10px;
    }

.entry-footer {
    padding: 0.4rem 0;
    border-bottom: solid 5px #e5e5e5;
}

    .entry-footer .yashare-auto-init {
        float: left;
    }

    .entry-footer .entry-more {
        float: right;
        width: 30%;
        text-align: right;
    }

        .entry-footer .entry-more p {
            margin: 0;
        }

    .entry-footer a.more-link {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

        .entry-footer a.more-link:hover {
            color: #16cc73;
        }

/* статья */
.article-index img.float-left {
    float: left;
    padding-right: 10px;
    max-height: 446px;
}

.article-index .content-wrapper {
    width: 100%;
}

.article-index .article {
    padding: 0;
    margin: 0;
}

.article .article-cover {
    background: #e5e5e5;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

    .article .article-cover .entry-header h1.entry-title {
        font-size: 24px;
        line-height: 0.75;
    }

    .article .article-cover .the-excerpt {
        font-style: italic;
        opacity: 0.8;
    }

    .article .article-cover .post-meta {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .article .article-cover .post-meta .item-meta {
            position: relative;
            z-index: 1;
            display: inline-block;
            vertical-align: top;
            opacity: .28;
            padding-right: 7px;
        }

            .article .article-cover .post-meta .item-meta .icon {
                vertical-align: -2px;
            }

    .article .article-cover .cover-image {
        margin: 0px -40px 0px;
        position: relative;
    }

.article .yashare-auto-init.big {
    margin-bottom: 15px !important;
}

    .article .yashare-auto-init.big .b-share__handle {
        width: 143px !important;
        height: 30px !important;
        padding-top: 7px !important;
        border: none !important;
        padding-left: 60px !important;
    }

.article p {
    margin-bottom: 24px;
}

.article ol, .article ul {
    margin: 0 0 24px 0;
    padding-left: 48px;
    overflow: auto;
}

    .article ol li, .article ul li {
        margin-bottom: 20px;
    }

        .article ol li:last-child, .article ul li:last-child {
            margin-bottom: 0;
        }

.article h2, .article h3 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
}

/* содержание для урока */
ul.table-contents {
    list-style: none;
    background: #e5e5e5;
    padding: 5px 0 5px 0;
}

    ul.table-contents li {
        width: 265px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
        padding-left: 10px;
    }

        ul.table-contents li.active {
            text-decoration: underline;
        }

        ul.table-contents li a {
            text-decoration: none;
        }

    ul.table-contents .first {
        font-weight: bolder;
        line-height: 2.4;
        padding-right: 15px;
    }

    ul.table-contents li + ul {
        background-color: #00B05A;
        padding: 8px 0 8px 0;
    }

/* сео статья - меню */
ul.menu-typeWork li.header {
    font-size: 20px;
    line-height: 1;
    font-weight: bolder;
    list-style-type: none;
    padding-bottom: 10px;
}

ul.menu-typeWork li {
    list-style-type: none;
}

    ul.menu-typeWork li a {
        text-decoration: none;
    }

    ul.menu-typeWork li.active {
        text-decoration: underline;
        font-weight: bolder;
    }

/*/////////////////////////////////////////////////////////////*/

/*//////////////////////// риббон /////////////////////////////////////*/

.ribbon-background {
    background: url('/Content/img/ribbon/LineVertGradient.png') repeat-x;
    height: 250px;
    min-width: 1140px;
}

.ribbon {
    padding-top: 40px;
}


    .ribbon .ribbon-container {
        width: 11.11%;
        float: none;
        text-align: center;
        display: table-cell;
    }

    .ribbon .ribbon-desc {
        padding-top: 10px;
        font-size: 16px;
        opacity: 0.8;
    }

/*/////////////////////////////////////////////////////////////*/

/*/////////////////////// главная страница //////////////////////////////////////*/
.block-info {
    padding: 0px 5px 10px 5px;
    width: 33%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slider-subjects .image-container {
    position: relative;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 55px;
    overflow: hidden;
    background-color: rgb(90, 90, 90);
    bottom: 0;
    color: #fff;
    line-height: 3;
    text-transform: uppercase;
    text-align: center;
    opacity: .8;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.image-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.block-info > a {
    border: 3px solid #066bc6;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #066bc6;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-align: center;
}

.content p.text {
    width: 98%;
    text-align: justify;
    padding: 0px 0px 20px 0px;
}

/*/////////////////////////////////////////////////////////////*/


/*//////////////////// информационный плейсхолдер /////////////////////////////*/
.info-place {
    display: table;
    width: 100%;
    padding: 10px 0px 10px 5px;
    color: #000;
}

    .info-place .icon-wrapper {
        display: table-cell;
        width: 5%;
        padding-right: 10px;
        vertical-align: middle;
    }

    .info-place .content {
        vertical-align: middle;
        display: table-cell;
        text-align: left;
    }

    .info-place .close {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-right: 10px;
    }

        .info-place .close .icon {
            color: #eb4444;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            cursor: pointer;
        }

            .info-place .close .icon:hover {
                color: #eb9999;
            }

    /* ошибка */
    .info-place.error {
        background-color: #ffd6d6;
        border-left: 5px solid #eb4444;
        margin-bottom: 10px;
    }

        .info-place.error .icon-wrapper .icon {
            color: #eb4444;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            margin-left: 10px;
        }

    /* успешно */
    .info-place.success {
        background-color: #a8ff9f;
        border-left: 5px solid #00b05a;
        margin-bottom: 10px;
    }

        .info-place.success .icon-wrapper .icon {
            color: #00b05a;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            margin-left: 10px;
        }

    /* информация */
    .info-place.info {
        background-color: #eaf2f5;
        border-left: 5px solid #066bc6;
        margin-bottom: 10px;
        margin-top: 10px;
    }

        .info-place.info .icon-wrapper .icon {
            color: #066bc6;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            margin-left: 10px;
        }

/*/////////////////////////////////////////////////////////////*/


/*//////////////////// информационная картинка /////////////////////////////*/
.preview {
    padding-bottom: 10px;
    text-align: center;
}

    .preview .image-container {
        text-align: center;
        height: 160px;
    }

        .preview .image-container .icon {
            width: 100px;
            height: 100px;
            color: #066bc6;
            vertical-align: middle;
        }

    .preview .text-container {
        width: 50%;
        font-weight: bolder;
        display: inline-block;
    }
/*/////////////////////////////////////////////////////////////*/

/*/////////////////// страница заказа /////////////////////////////*/
form[class="order"] {
    margin-top: 20px;
    text-align: center;
}

    form[class="order"] #SendOrder {
        margin-top: 10px;
    }

    form[class="order"] .datatimeorder {
        border: 1px solid #d9d9d9;
    }

    form[class="order"] input[name='datatimeorder'] {
        border: none;
        outline: none;
        -webkit-appearance: none;
        width: 87%;
    }

input[type='submit'].calendar {
    width: 18px;
    border: none;
    background: url(/Content/img/calendar.png) no-repeat 50% 50%;
}

.quick-reg {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    border: 5px solid #eaf2f5;
    display: none;
}

/*/////////////////////////////////////////////////////////////*/

/*/////////////////// страница быстрого заказа /////////////////////////////*/
.order#quick-order {
    z-index: 1;
    text-align: center;
    border: 5px solid #ffe400;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #FFF;
    position: absolute;
    width: 100%;
}

    .order#quick-order h3 {
        font-size: 26px;
    }

    .order#quick-order .datatimeorder {
        border: 1px solid #d9d9d9;
    }

    .order#quick-order input[name='datatimeorder'] {
        border: none;
        outline: none;
        -webkit-appearance: none;
        width: 87%;
    }

    .order#quick-order .input-control {
        height: auto;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .order#quick-order fieldset > label {
        line-height: 23px;
    }

    /* хак */
    .order#quick-order .input-control.select .select2.select2-container {
        width: 100% !important;
    }
/*/////////////////////////////////////////////////////////////*/



/*/////////////////// таблица заказов /////////////////////////////*/
table.custom {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

    table.custom thead {
        background-color: rgb(90, 90, 90);
    }

        table.custom thead tr {
            height: 50px;
        }

            table.custom thead tr td {
                border-left: 1px solid #FFF;
                border-bottom: 1px solid rgb(90, 90, 90);
                padding: 0px 5px;
            }

                table.custom thead tr td:first-child {
                    border-left: 1px solid rgb(90, 90, 90);
                }

                table.custom thead tr td:last-child {
                    border-right: 1px solid rgb(90, 90, 90);
                }

    table.custom tbody {
        font-size: 16px;
    }

        table.custom tbody tr {
            height: 50px;
        }

            table.custom tbody tr td {
                height: 50px;
                border-left: 1px solid #bdbec7;
                border-right: 1px solid #bdbec7;
                border-bottom: 1px solid #bdbec7;
                padding-left: 5px;
                padding-right: 5px;
            }

            table.custom tbody tr:hover td {
                background-color: #a8ff9f;
            }

            table.custom tbody tr td.hover:hover {
                border: 1px solid #00b05a;
                background-color: #00b05a;
                cursor: pointer;
                color: #FFF;
            }


.stick {
    padding: 4px 5px 4px 5px;
    color: #fff;
    border-radius: 4px;
}

.new {
    background-color: gold !important;
}

.rating {
    background-color: #066bc6 !important;
}

.agreement {
    background-color: #069dfa !important;
}

.completed-not-pay {
    background-color: #16cc73 !important;
}

.completed {
    background-color: #00b05a !important;
}

.not-relevant {
    background-color: #FF7F50 !important;
}

table.custom .task {
    width: 5%;
}

table.custom.custom .solution {
    width: 11%;
}

table .customer {
    width: 15%;
}

table.custom .decided {
    width: 15%;
}

table.custom .status {
    width: 11%;
}

table.custom .btn-detail-order {
    width: 10%;
}

table.custom a {
    display: inline-block;
}


    table.custom a[not:btn] {
        height: 100%;
        line-height: 50px;
    }

        table.custom a[not:btn]:hover {
            color: #ffffff;
        }

.filter .input-control.select {
    width: 25%;
    float: left;
    margin-right: 10px;
}

.filter .input-control.checkbox {
    float: left;
    padding-top: 6px;
}

#FilterBtn {
    float: left;
    margin-top: 6px;
    margin-left: 5px;
}


/* подробный заказ */
.detail-order span {
    float: left;
    padding-right: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

.detail-order a {
    text-decoration: underline;
}

/* подробный заказ отдельная страница */
.detail-common-task .line {
    width: 100%;
}

    .detail-common-task .line span {
        width: 60%;
        float: right;
    }

/* подробный заказ отдельная страница/ список предложений общие стили */
.detail-estimate-task .left-side {
    width: 80%;
    float: left;
}

    .detail-estimate-task .left-side button {
        float: right;
    }

.detail-estimate-task .right-side {
    width: 20%;
    float: left;
}

.detail-estimate-task .info-place {
    width: 100% !important;
}

.detail-estimate-task .head-row div {
    float: left;
}

.detail-estimate-task .head-row {
    border-bottom: #066bc6 dashed 2px;
    padding: 5px;
    min-height: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.detail-estimate-task .offer {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #eeeeee;
    display: table;
}

    .detail-estimate-task .offer.selected {
        background: repeating-linear-gradient( 45deg, #eeeeee, #eeeeee 10px, rgba(238, 238, 238, 0.51) 10px, rgba(238, 238, 238, 0.51) 20px );
    }

    .detail-estimate-task .offer .photo-container {
        display: table-cell;
        vertical-align: middle;
    }

        .detail-estimate-task .offer .photo-container span {
            padding-left: 20px;
        }

    .detail-estimate-task .offer .wrapper {
        display: table-cell;
        vertical-align: middle;
    }

/* подробный заказ отдельная страница/ список статусов */
.detail-estimate-task .order-status {
    padding: 10px 10px 10px 20px;
}

    .detail-estimate-task .order-status .order-status-title {
        font-weight: bolder;
        text-align: center;
    }

    .detail-estimate-task .order-status .order-status-item {
        line-height: 52px;
        position: relative;
        padding-left: 70px;
        border-radius: 3px;
    }

    .detail-estimate-task .order-status .order-status-item-count {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        margin-top: 9px;
        left: 20px;
        border: #7E7E7E 2px solid;
        background: #fff;
    }

    .detail-estimate-task .order-status .order-status-item.active {
        background: #00b05a;
    }

/* очистка статусов */
.detail-estimate-task.new {
    background-color: transparent !important;
}

.detail-estimate-task.rating {
    background-color: transparent !important;
}

.detail-estimate-task.agreement {
    background-color: transparent !important;
}

.detail-estimate-task.completed {
    background-color: transparent !important;
}


/* подробная страница для заказчика */
.detail-estimate-task.customer.rating .offer.hover:hover {
    transition: 220ms ease-in-out;
    background-color: #16cc73 !important;
    cursor: pointer;
}

.detail-estimate-task.customer.rating .offer .icon-checkmark2 {
    color: #066bc6;
    width: 36px;
    height: 36px;
}

.detail-estimate-task.customer .offer .wrapper:last-child .icon {
    display: none;
}

.detail-estimate-task.customer .short .avatar,
.detail-estimate-task.customer .short .cost,
.detail-estimate-task.customer .short .date-estimate {
    width: 33%;
}

.detail-estimate-task.customer .extended .avatar {
    width: 20% !important;
}

.detail-estimate-task.customer .extended .cost {
    width: 10% !important;
}

.detail-estimate-task.customer .extended .date-estimate {
    width: 20% !important;
}

.detail-estimate-task.customer .extended .comment {
    width: 40% !important;
}

.detail-estimate-task.customer .extended .wrapper.icon {
    width: 10% !important;
}

.detail-estimate-task.customer .icon-user-check {
    color: #FFF;
    margin-right: 5px;
    vertical-align: middle;
}

.detail-estimate-task.customer .offer.select-offer .wrapper:last-child .icon {
    display: inline !important;
}

.detail-estimate-task.customer .wrapper-btn {
    text-align: right;
}

.wrapperBtn a.btn {
    width: 100%;
    margin: 0;
    text-align: center;
}

/* подробный заказ отдельная страница/ оценка заказолв исполнителями */
.detail-estimate-task.employee .offer.current {
    background: repeating-linear-gradient( 45deg, #eeeeee, #eeeeee 10px, rgba(238, 238, 238, 0.51) 10px, rgba(238, 238, 238, 0.51) 20px );
}

.detail-estimate-task.employee .short .avatar,
.detail-estimate-task.employee .short .cost,
.detail-estimate-task.employee .short .date-estimate {
    width: 33%;
}

/* страница списка банка задач */

.wrapper-completed-tasks {
    border-spacing: 10px 0px;
}

.completed-task {
    border-spacing: 10px;
    position: relative;
    display: table-cell;
    padding: 10px;
    float: none;
    max-width: 360px;
}

    .completed-task .wrapper {
        position: static;
    }

    .completed-task .entry-title {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        height: 26px;
        display: -webkit-box;
        overflow: hidden;
    }

    .completed-task .entry-content {
        padding-bottom: 35px;
    }

    .completed-task .btn-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: right;
        border-bottom: 5px solid #e5e5e5;
        padding: 5px;
    }

.completed-task-cover .cover-wrap {
    background: #e5e5e5;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

    .completed-task-cover .cover-wrap .post-meta {
        padding-bottom: 20px;
    }

        .completed-task-cover .cover-wrap .post-meta .item-meta {
            position: relative;
            z-index: 1;
            display: inline-block;
            vertical-align: middle;
            opacity: .28;
            padding-right: 7px;
        }

        .completed-task-cover .cover-wrap .post-meta .item-meta {
            width: 10%;
        }

        .completed-task-cover .cover-wrap .post-meta .icon {
            vertical-align: -2px;
        }

        .completed-task-cover .cover-wrap .post-meta .item-meta.btn-order {
            text-align: right;
            width: 78%;
            opacity: 1;
        }

    .completed-task-cover .cover-wrap .the-excerpt {
        font-style: italic;
        opacity: 0.8;
        padding-bottom: 20px;
    }

    .completed-task-cover .cover-wrap .the-comments {
        font-size: 14px;
        opacity: 0.6;
        padding-bottom: 20px;
    }

.payments {
    padding-bottom: 10px;
}

    .payments .payment {
        width: 50%;
        display: inline-block;
        float: left;
        text-align: center;
    }

        .payments .payment a {
            display: inline-block;
            padding: 5px;
            border: 2px solid #EAF2F5;
            border-radius: 3px 3px 3px 3px;
        }

            .payments .payment a:hover {
                border: 2px solid #eb4444;
            }

            .payments .payment a.active {
                /*border: 2px solid rgba(255, 201, 53, 0.5);*/
                background-color: rgba(255, 201, 53, 0.5);
            }

/* баннер заказать новую работу */
.new-order {
    background: rgba(255, 201, 53, 0.5);
    padding: 20px 20px 5px 20px;
    text-align: center;
}

    .new-order .header {
        font-weight: bolder;
        font-size: 22px;
        text-align: center;
    }


/* таблица исполнителей */
table.select-employee thead tr {
    height: 25px;
    text-align: center;
}

table.select-employee tbody {
}

    table.select-employee tbody tr {
        height: 25px;
        text-align: center;
    }

        table.select-employee tbody tr td {
            height: 25px;
        }

table.select-employee .radio-button {
    text-align: center;
    width: 20%;
}

table.select-employee .employee {
    width: 40%;
}

table.select-employee .solution {
    width: 40%;
}

table.select-employee .input-control.radio {
    text-align: center;
    display: inline-block;
    margin: 5px -4px 0px 0px;
}

/*/////////////////////////////////////////////////////////////*/

/*///////////////////////// биллинг ////////////////////////*/

.menu-tiles {
    width: 100%;
}

    .menu-tiles a {
        border: 3px solid #7e7e7e;
        display: block;
        width: 28%;
        float: left;
        margin: 20px;
        height: 150px;
        color: #7e7e7e;
        text-align: center;
    }

        .menu-tiles a:hover {
            border: 3px solid #00b05a;
        }

            .menu-tiles a:hover .icon {
                color: #00b05a !important;
                zoom: 1.05;
            }

        .menu-tiles a.webmoney {
            line-height: 250px;
        }

        .menu-tiles a.sberonline {
            line-height: 250px;
        }

        .menu-tiles a.sbrf {
            line-height: 250px;
        }

        .menu-tiles a.svyaznoybank {
            line-height: 250px;
        }

        .menu-tiles a.withdrawal-form {
            background: url('img/withdrawal.png') 50% 40% no-repeat;
            line-height: 250px;
        }

        .menu-tiles a.history-withdrawels {
            background: url('img/history-withdrawels.png') 50% 40% no-repeat;
            line-height: 250px;
        }

        .menu-tiles a.history-payments {
            background: url('img/history-payments.png') 50% 40% no-repeat;
            line-height: 250px;
        }

        .menu-tiles a.history-internal-payments {
            background: url('img/history-internal-payments.png') 50% 40% no-repeat;
            line-height: 250px;
        }

        /* личный кабинет */
        .menu-tiles a span {
            display: block;
        }

            .menu-tiles a span:first-child {
                padding-top: 10px;
            }

        .menu-tiles a.task-preview .icon {
            width: 100px;
            height: 100px;
            color: #066bc6;
        }


        .menu-tiles a.completed-task-preview .icon-homework {
            width: 100px;
            height: 100px;
            color: #066bc6;
        }

        .menu-tiles a.lk-cash-in {
            background: url('img/lk-cash-in.png') 50% 40% no-repeat;
            line-height: 250px;
        }

        .menu-tiles a.lk-cash-out {
            background: url('img/lk-cash-out.png') 50% 40% no-repeat;
            line-height: 250px;
        }

        .menu-tiles a.lk-history {
            background: url('img/lk-history.png') 50% 40% no-repeat;
            line-height: 250px;
        }


/*///////////////////////// редактирование профиля/фото ////////////////////////*/

.profile {
    text-align: center;
}

.top-block {
    padding-bottom: 10px;
}

.top-block, .bottom-block {
    display: inline-block;
    width: 100%;
}

.profile .left-block {
    width: 40%;
}

.profile .right-block {
    width: 60%;
}

form[class="profile"] .datatimeorder {
    border: 1px solid #d9d9d9;
}

form[class="profile"] input[name='date-birth'] {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 87%;
    float: left;
}

input[type='submit'].calendar {
    width: 18px;
    border: none;
    background: url(/Content/img/calendar.png) no-repeat 50% 50%;
}

.top-block.profile-user .photo-container {
    font: 0/0 a;
    height: 210px;
    width: 28%;
    float: left;
    margin: 0px 15px 15px 0px;
}

/* вертикальное выравниваени картинки http://css-live.ru/articles/ikf-vertikalnoe-vyravnivanie-v-stroke-chast-1-8-ya-publikaciya-cikla-tajny-css2-1%E2%80%B3.html */
.preview .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.contacts .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.top-block img {
    vertical-align: middle;
    max-height: 210px;
}


.top-block .info-place {
    width: 70%;
    border-radius: 3px;
}

.bottom-block .input-control.file.text {
    float: left;
    width: 100%;
    border: none;
}

    .bottom-block .input-control.file.text button {
        width: 100%;
    }

.bottom-block .progress-bar {
    float: right;
    width: 70%;
    margin-top: 11px;
}

.bottom-block .group-bnt {
    width: 28%;
    float: left;
}

    .bottom-block .group-bnt .delete {
        width: 100%;
    }

/* вывод пользователя */
div.line {
    width: 70%;
    float: right;
    text-align: left;
    padding: 5px;
}

    div.line label {
        font-weight: bolder;
        display: inline-block;
    }

.bottom-block .group-bnt a {
    width: 100% !important;
}
/*/////////////////////////////////////////////////////////////*/


/*/////////////////////// pager /////////////////////////////*/
.pager {
    text-align: center;
}

.pagination {
    margin: 0;
    border-radius: 0;
    margin-top: 10px;
}

    .pagination > li {
        display: inline-block;
        margin-left: 1px;
    }

        .pagination > li:first-child {
            margin-left: 0;
        }

        .pagination > li > a {
            color: #000000;
            float: none;
            margin-left: 0;
            border: 0;
            padding: 6px 12px;
            text-decoration: none;
        }

        .pagination > li:first-child > a,
        .pagination > li:last-child > a {
            border-radius: 0px;
        }

        .pagination > li > a:hover,
        .pagination > li > a:focus {
            background-color: #00b05a;
            color: #fff;
        }

    .pagination > .active > a,
    .pagination > .active > a:hover,
    .pagination > .active > a:focus {
        background-color: #eb4444 !important;
        cursor: default !important;
    }

    .pagination > li.disabled > a {
        display: none;
    }

/*/////////////////////////////////////////////////////////////*/

/*/////////////////////// чат /////////////////////////////*/

/* контакты */
.contacts .user {
    border-bottom: 1px solid #bdbec7;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

    .contacts .user > a {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .contacts .user .photo-container {
        position: relative;
        float: left;
        width: 100px;
    }

        .contacts .user .photo-container img {
        }

    .contacts .user .CountNewMessage {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: #eb4444;
        width: 20px;
        text-align: center;
    }

    .contacts .user .user-info-container {
        float: left;
        padding-left: 15px;
    }

        .contacts .user .user-info-container a {
            display: block;
            text-decoration: underline;
        }

        .contacts .user .user-info-container .info {
            text-align: left;
        }

            .contacts .user .user-info-container .info p {
                display: inline-block;
            }
/* ~ контакты */

/* чат */
.chat {
    width: 100%;
}

    .chat .wrapper-more {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .chat .messages {
        height: 500px;
        overflow: hidden;
        float: left;
        width: 100% !important;
        position: relative;
    }

    .chat .message {
        margin-bottom: 5px;
        margin-top: 5px;
        min-height: 75px;
    }

        .chat .message .photo-container {
            float: right;
        }

            .chat .message .photo-container img {
            }

        .chat .message.interlocutor .photo-container {
            float: left;
        }

        .chat .message .text-message {
            max-width: 80%;
            background-color: #eeeeee;
            float: right;
            min-height: 100%;
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            min-width: 60%;
            position: relative;
            text-align: justify;
        }

            .chat .message .text-message span {
                font-size: 13px;
                float: right;
                margin-bottom: -8px;
                zoom: 0.85;
            }

                .chat .message .text-message span.ico-view {
                    float: left;
                }

        .chat .message.interlocutor .text-message {
            background-color: #00b05a;
            float: left;
        }

    .chat .messages a {
        display: block;
        text-decoration: underline;
    }



    .chat .control {
        margin-top: 10px;
    }

        .chat .control .textarea {
            width: 100%;
            float: left;
        }

        .chat .control .text {
            padding-left: 10px;
            width: 30%;
            float: left;
        }

    .chat #SendMessage {
        float: left;
    }

/* ~ чат */

/* чат */
.notify .photo-container {
    display: block;
    float: left;
    padding: 5px 10px 0px 0;
    width: 20%;
}

.notify .text-message {
    display: block;
    float: left;
    width: 80%;
}

    .notify .text-message p {
        margin-bottom: 30px;
    }

.notify a.preview {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px;
    border: 3px solid #066bc6;
}
/* ~ чат */

/*/////////////////////////////////////////////////////////////*/


/*/////////////////// личный кабинет  //////////////////////////*/
.place {
    border: 1px #bdbec7 solid;
    margin-top: 10px;
}

    .place p {
        text-align: left;
        margin: 5px;
        font-weight: bolder;
    }

    .place .left {
        width: 50%;
        float: right;
    }

    .place .right {
        width: 50%;
        float: right;
    }

    .place .line {
        width: 100% !important;
    }

        .place .line label {
            width: 75% !important;
        }
/*/////////////////////////////////////////////////////////////*/

/*/////////////////// карта сайта  //////////////////////////*/
.siteMap {
    text-align: left;
    padding-left: 20px;
}
/*/////////////////////////////////////////////////////////////*/


/*/////////////////// иконки  //////////////////////////*/
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.svg-icon.wrapper.table {
    display: table;
    margin: 0 auto;
}

.svg-icon.wrapper span.table-cell {
    display: table-cell;
}

.svg-icon.wrapper span.icon {
    vertical-align: middle;
    height: 24px;
    width: 24px;
}

    /* sizes */
    .svg-icon.wrapper span.icon .icon {
        height: 24px;
        width: 24px;
    }

.svg-icon.wrapper.size_16 span {
    height: 16px;
    width: 16px;
}

    .svg-icon.wrapper.size_16 span .icon {
        height: 16px;
        width: 16px;
    }

.svg-icon.wrapper.size_20 span {
    height: 20px;
    width: 20px;
}

    .svg-icon.wrapper.size_20 span .icon {
        height: 20px;
        width: 20px;
    }

.svg-icon.wrapper.size_24 span {
    height: 24px;
    width: 24px;
}

    .svg-icon.wrapper.size_24 span .icon {
        height: 24px;
        width: 24px;
    }

.svg-icon.wrapper.size_28 span {
    height: 28px;
    width: 28px;
}

    .svg-icon.wrapper.size_28 span .icon {
        height: 28px;
        width: 28px;
    }

.svg-icon.wrapper span.title {
    vertical-align: middle;
    padding-left: 5px;
}

/* цвета */
.svg-icon.wrapper span.icon.white .icon {
    color: #ffffff;
}

.svg-icon.wrapper span.icon.gray90 .icon {
    color: #e5e5e5;
}

.svg-icon.wrapper span.icon.gray20 .icon {
    color: #333333;
}

.svg-icon.wrapper span.icon.blue .icon {
    color: #066BC6;
}

.icon-vk:hover {
    color: #587e9f !important;
}

.icon-twitter:hover {
    color: #24aadd !important;
}

.b-ico {
    display: inline-block;
    vertical-align: middle;
}

.ico-kiwi {
    background-image: url(./img/ico-pay/kiwi.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 28px;
}

.ico-sberbank {
    background-image: url(./img/ico-pay/sberbank.png);
    background-repeat: no-repeat;
    height: 27px;
    width: 26px;
}

.ico-webmoney {
    background-image: url(./img/ico-pay/webmoney.png);
    background-repeat: no-repeat;
    height: 27px;
    width: 26px;
}

.ico-yandex {
    background-image: url(./img/ico-pay/yandex.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 23px;
}


/*/////////////////////////////////////////////////////////////*/



