﻿@using reshim.model.view.ViewModels.Content
@model TableOfContentViewModel


<ul class="table-contents">
    <li class="first">Содержание</li>

    @if (Model.NameLesson.Chapters != null && Model.NameLesson.Chapters.Any())
    {
        foreach (var chapter in Model.NameLesson.Chapters)
        {
            <li><a href="#">@chapter.Name</a></li>
            <ul>
                    @foreach (var lsn in chapter.Lessons)
                    {
                        <li class="@(lsn.Id == Model.CurrrentLessonId ? "active" : "")">@Html.ActionLink(lsn.Name, "Lesson", "Content", new { alias = lsn.Alias }, null)</li>
                    }
            </ul>
        }
    }
    else
    {
        foreach (var lsn in Model.NameLesson.Lessons)
        {
            <li class="@(lsn.Id == Model.CurrrentLessonId ? "active" : "")">@Html.ActionLink(lsn.Name, "Lesson", "Content", new { alias = lsn.Alias }, null)</li>
        }
    }

</ul>