﻿@model reshim.model.view.ViewModels.Task.CountTaskViewModel

<!-- Statistics -->
<ul class="row stats">
    @foreach (var status in Model.StatusTask)
    {
        <li class="col-xs-2"><a href="?status=@status.Item2" class="btn  @status.Item2 @(Request.QueryString["status"] == status.Item2 ? "btn-primary" : "btn-default")">@status.Item3</a><span>@status.Item1</span></li>
    }
</ul>
<!-- /statistics -->