﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.User.UserViewModel

<script src="/Scripts/action/action.profile.photo.edit.js"></script>

<form class="photo" action="api/user" novalidate="">
    <div class="top-block profile-user">
        <div class="photo-container">
            <span class="helper">1</span>
            <img class="photo-profile" src="@Model.GetPhoto" />
        </div>
        <p class="text text-align-justify">
            Вы можете загрузить сюда только собсвенную фотографию расширения JPG, GIF или PNG. Загрузка постороннего изображения приведёт к блокированию Вашего аккаунта.
        </p>

        <div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
            @Html.Raw("Размещайте настоящее фото, иначе можете быть заблокированы в системе!")
        </div>

        <p class="text text-align-justify">
            Вы можете удалить текущую фотографию, тогда вместо неё будет отображаться логотип компании.
        </p>
    </div>
    <div class="bottom-block">
        <div class="group-bnt">
            <div data-role="file-input"></div>
            <button class="red delete" @(!Model.IsPhoto ? "disabled" : "")>Удалить</button>
        </div>
        <div id="ProgressUploadTask" class="progress-bar" data-role="progress-bar" data-value="0"></div>
    </div>

</form>
