﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.User.ProfileViewModel

<script src="/Scripts/action/action.profile.edit.js"></script>

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw("Вводите, пожалуйста, настоящуюю информацию о себе!")
</div>

<form class="profile" action="api/user" novalidate="">
    <fieldset>
        <label>Страна:</label>
        <div class="input-control text">
            <input name="country" type="text" placeholder='Введите страну' value="@Model.Country">
        </div>
        <div class="note"></div>
    </fieldset>

    <fieldset>
        <label>Город:</label>
        <div class="input-control text">
            <input name="city" type="text" placeholder='Введите город' value="@Model.City">
        </div>
        <div class="note"></div>
    </fieldset>

    <fieldset>
        <label>Телефон:</label>
        <div class="input-control text">
            <input name="phone" type="text" placeholder='Введите телефон' value="@Model.Phone">
        </div>
        <div class="note">Вводите телефон в междунородном формате.</div>
    </fieldset>


    <fieldset>
        <label>ICQ:</label>
        <div class="input-control text">
            <input name="icq" type="text" placeholder='Введите icq' value="@Model.Icq">
        </div>
        <div class="note">ICQ служит для связи.</div>
    </fieldset>

    <fieldset>
        <label>Skype:</label>
        <div class="input-control text">
            <input name="skype" type="text" placeholder='Введите skype' value="@Model.Skype">
        </div>
        <div class="note">Skype служит для связи.</div>
    </fieldset>
    
    <fieldset>
        <label>Страница Вконтакте:</label>
        <div class="input-control text">
            <input name="url-vk" type="text" placeholder='Введите страницу ВК' value="@Model.UrlVk">
        </div>
        <div class="note">Страница служит для связи.</div>
    </fieldset>

    <fieldset>
        <label>Место учёбы:</label>
        <div class="input-control text">
            <input name="place-study" type="text" placeholder='Введите место учёбы' value="@Model.PlaceOfStudy">
        </div>
        <div class="note">Место учёбы несёт информационный характер.</div>
    </fieldset>

    <fieldset>
        <label>Дата рождения:</label>
        <div class="input-control text datatimeorder" data-role="datepicker" data-selectdate="@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("dd/MM/yyyy") : "")">
            <input name="date-birth" type="text">
            <input class="calendar btn-date" type="submit" value="">
        </div>
        <div class="note">Укажите дату рождения.</div>
    </fieldset>

    <fieldset>
        <label>Комментарии:</label>
        <div class="input-control textarea">
            <textarea name="comments" placeholder='Введите комментарий'>@Model.Comments</textarea>
        </div>
        <div class="note">В комментарии, можете указать свой род занятий.</div>
    </fieldset>

    <button id="SendProfile" class="green">Сохранить</button>
</form>
