﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.web.core.Extensions
@model reshim.model.view.ViewModels.User.UserViewModel


@{
    var curUser = User.GetReshimUser();
}

<div class="top-block profile-user">
    <div class="photo-container">
        <span class="helper"></span>
        <img class="photo-profile" src="@Model.GetPhoto" />
    </div>
    <div class="line">
        <label>Логин:</label>
        <span>@Model.Login</span>
    </div>
    <div class="line">
        <label>Роль:</label>
        <span>@Model.Role.GetAttributeValue(typeof(NameAttribute), "Пользователь")</span>
    </div>
    <div class="line">
        <label>Дата регистрации:</label>
        <span>@Model.FullFormatDateCreated</span>
    </div>
    <div class="line">
        <label>Последняя активность:</label>
        <span>@Model.LastLoginTime</span>
    </div>
    <div class="line">
        <label>Страна:</label>
        <span>@Model.Profile.City</span>
    </div>
    <div class="line">
        <label>Город:</label>
        <span>@Model.Profile.City</span>
    </div>
    <div class="line">
        <label>Место учёбы:</label>
        <span>@Model.Profile.PlaceOfStudy</span>
    </div>
    <div class="line">
        <label>Дата рождения:</label>
        <span>@Model.Profile.FormatDateOfBirth</span>
    </div>
    <div class="line">
        <label>Комментарий:</label>
        <span>@Model.Profile.Comments</span>
    </div>
</div>
<div class="bottom-block">
    <div class="group-bnt">
        @if (curUser.IsAuthenticated && curUser.UserId != Model.UserId)
        {
            <a href="@Url.Action("Dialog", "Chat", new { userId = Model.UserId })" class="btn red">Написать сообщение</a>
        }
    </div>
</div>

