﻿@using MvcSiteMapProvider.Web.Html
@using reshim.web.Helpers
<div class="column9 content-name">
    <h1>@Html.MetaTagsTitle()</h1>
</div>
<div class="column9 breadcrumbs">
    @Html.MvcSiteMap().SiteMapPath()
</div>

@Html.Partial("Partials/_SocialNetworks")

