﻿@using reshim.web.core.Extensions
@using reshim.web.Helpers

<div class="logo column4">
    <a href="/">
        <img src="~/content/img/logo.png" alt="reshim.net" title="Есть вопрос, есть ответ на reshim.net!">
    </a>
    <div>Вы находитесь в режиме исполнителя!</div>
</div>


@if (!User.GetReshimUser().IsAuthenticated)
{
    <div class="slogan column4">
        <p>Вы находитесь в режиме исполнителя!</p>
    </div>
    <div class="auth column4">
        <button class="login gray">@Html.TextWithIco(SVGHelper.Key2ICO(), "Вход", new { @class = "size_16" })</button>
        <button class="reg green">@Html.TextWithIco(SVGHelper.UserPlusICO(), "Регистрация", new { @class = "size_16" })</button>
    </div>
}
else
{
    @Html.Action("AuthMenu", "Home", new { area = "" })
}
