﻿@using reshim.web.core.Extensions
<div class="wrapper-nav">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="@Url.Action("Index", "Task", new { @area = User.GetReshimUser().RoleName })">Задачи</a></li>
        <li><a href="@Url.Action("Articles", "Content", new {@area = ""})">Статьи</a></li>
        <li><a href="@Url.Action("Lessons", "Content", new { @area = "" })">Уроки</a></li>
        <li><a href="@Url.Action("Price", "Home", new { @area = "" })">Цены</a></li>
        <li><a href="@Url.Action("Guaranty", "Home", new { @area ="" })">Гарантии</a></li>
        <li><a href="@Url.Action("Support", "Home", new { @area = "" })">Техподдержка</a></li>
    </ul>
</div>
