﻿@using MvcSiteMapProvider.Web.Html
<div class="column9 content-name">
    <span>Рубрика «@Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode.Title»</span>
</div>
<div class="column9 breadcrumbs">
    @Html.MvcSiteMap().SiteMapPath()
</div>

@Html.Partial("Partials/_SocialNetworks")

