﻿@using MvcSiteMapProvider.Web.Html
<div class="column9 content-name">
    <h1>Рубрика «@Html.MvcSiteMap().SiteMapTitle()»</h1>
</div>
<div class="column9 breadcrumbs">
    @Html.MvcSiteMap().SiteMapPath()
</div>

@Html.Partial("Partials/_SocialNetworks")

