﻿<div id="delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="FormDelete" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title">Удаление</h5>
                </div>

                <div class="modal-body has-padding">
                    <p class="body-text"></p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Закрыть</button>
                    <button class="btn btn-primary" id="">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/Areas/Admin/Content/js/admin/delete-entity.js"></script>

<div id="errors" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">Ошибка удаления</h5>
            </div>

            <div class="modal-body has-padding">
                <p>Произошла ошибка удаления. Обратитесь к разработчику.</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

