﻿@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger fade in widget-inner">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <i class="fa fa-times"></i>
        @foreach (var key in ViewData.ModelState.Keys)
        {
            foreach (var err in ViewData.ModelState[key].Errors)
            {
                @Html.Raw(err.ErrorMessage + "<br>")
            }
        }

    </div>

}

@if (TempData["success"] != null)
{
    <div class="alert alert-success fade in widget-inner">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <i class="fa fa-check"></i> @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger fade in widget-inner">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <i class="fa fa-times"></i> @TempData["error"]
    </div>
}

