﻿<div class="container-fluid">
    <div class="page-header">
        <div class="logo">
            <a href="index.html" title="">
                <img src="/Areas/Admin/Content/images/logo.png" alt=""></a>
        </div>
        <ul class="middle-nav">
            <li><a href="#" class="btn btn-default"><i class="fa fa-comments-o"></i><span>Support tickets</span></a><div class="label label-info">9</div></li>
            <li><a href="#" class="btn btn-default"><i class="fa fa-bars"></i><span>Statistics</span></a></li>
            <li><a href="#" class="btn btn-default"><i class="fa fa-male"></i><span>User list</span></a></li>
            <li><a href="#" class="btn btn-default"><i class="fa fa-money"></i><span>Billing panel</span></a></li>
        </ul>
    </div>
</div>
