﻿@model List<reshim.model.view.ViewModels.Content.MenuItemModel>
<div class="sidebar collapse">
    <ul class="navigation">
        @foreach (var menuItem in Model)
        {
            if (!menuItem.SubMenu.Any())
            {
                <li class="@(menuItem.Selected ? "active" : "")">@Html.ActionLink(menuItem.Text, menuItem.Action, menuItem.Controller)</li>
            }
            else
            {
                <li class="@(menuItem.Selected ? "active" : "")">
                    <a href="#" class="expand" @(menuItem.Selected ? "id=second-level" : "") ><i class="fa fa-table"></i>@menuItem.Text</a>
                    <ul>
                        @foreach (var sub in menuItem.SubMenu)
                        {

                            <li class="@(sub.Selected ? "active" : "")">@Html.ActionLink(sub.Text, sub.Action, sub.Controller)</li>

                        }
                    </ul>
                </li>
            }
        }
    </ul>
</div>
