/* global */



@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);



* {
	font-family: 'Roboto', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

input {
	border: 1px #d9d9d9 solid;
	width: 100%;
	height: 100%;
	padding: 5px;
	font-size: 16px;
}

/* кнопка */
button {
	padding: 5px 13px;
	text-align: center;
	vertical-align: middle !important;
	color: #FFF;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	margin: auto;
}

.clear {
	clear: both;
}

.b-green {
	background: #00b05a;
}
.b-green:hover{
	background: #16cc73;
}

.b-gray {
	background: #7e7e7e;
}

.b-gray:hover {
	background: #A0A0A0;
}


/* для формы*/
.input-control {
	display: block;
	cursor: pointer;
	position: relative;
	background-color: #fff;
	outline: 0;
	height: 34px;
}


/* навигация */

nav ul {
	padding: 0px;
    display: table;
    margin: 0 auto;
}
 
nav ul li {
	display: inline;  
	float: left;	
}
 
nav ul li a {
	display: inline-block;  
	text-transform: uppercase;
    color: #FFFFFF;
	text-decoration: none;
    font-size: 0.9em;
	line-height: 4.3em;
	padding-left: 10px;
	padding-right: 10px;
	
}
 
nav ul li a:hover {
    background-color: #069dfa;
}

nav {
	background-color: #066bc6;
}

/* header */
.wrapper-header {
	height: 54px;
}

.wrapper-header > div {
	height: 100%;
	position: relative;
}

.header-auth  .auth {
	position: absolute;
	bottom: 0;
	right: 0;
}

.header-auth .login  {
	left: 0;
	bottom: 0;
}

.header-auth .reg  {
	bottom: 0;
	right: 0;
}

.header-slogan p {
	color: #909090;
	position: absolute;
	bottom: 15%;
}

/* контент */
section .content {
	text-align: center;
	border-right: 1px solid #bdbec7;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.content-name {
	height: 50px;
}

.content-name a {
	border: 3px solid #5a5a5a;
	color: #5a5a5a;
	line-height: 1.7em;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.8em;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.breadcrumbs {
	color: #575757;
	font-family: Tahoma, Geneva, sans-serif;
}

.social-networks p {
	color: #575757;
	text-transform: uppercase;
	display: block;
	text-align: right;
	padding-bottom: 5px;
}

.social-networks li {
	display: inline;
}

.social-networks ul {
	float: right;
}

.social-networks li:after {
	clear: both;
}

.sprite-fb {
	background: url(./img/social-icons.png) no-repeat top left;
	background-position: 0 0; width: 25px; height: 25px; 
}

.sprite-tw {
	background: url(./img/social-icons.png) no-repeat top left;
	background-position: -27px 0; width: 25px; height: 25px; 
}

.sprite-vk {
	background: url(./img/social-icons.png) no-repeat top left;
	background-position: -54px 0; width: 25px; height: 25px; 
}

.sprite-yt {
	background: url(./img/social-icons.png) no-repeat top left;
	background-position: -81px 0; width: 25px; height: 25px; 
}

.block-info {
	padding-bottom: 15px;
	width: 33%;
	float: left;
	padding-right: 10px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.image-container {
	position: relative;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

.image-container  img {

}

.overlay {
	position: absolute;
	width: 100%;
	height: 55px;
	overflow: hidden;
	background-color: #5a5a5a;
	bottom: 0;
	font-size: 12pt;
	color: #fff;
	line-height: 3.5em;
	text-transform: uppercase;
}

.image-text {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #575757;
	font-size: 11pt;
	text-align: justify;
}

.block-info a {
    border: 3px solid #066bc6;
    display: inline-block;
    text-decoration: none;
	text-transform: uppercase;
    color: #066bc6;
	width: 97%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bolder;
}

/* новостной блок */
.block-new {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #bdbec7;
}

.title-block-new {
	width: 100%;
}

.news > p {
	color: #066bc6;
	text-transform: uppercase;
	font-weight: bolder;
	padding-bottom: 10px;
}

.date-new {
	border: 3px solid #066bc6;
	color: #066bc6;
	height: 50px;
	width: 50px;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	float: left;
	line-height: 22px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	margin-right: 10px;
}

.title-new {
	font-weight: bolder;
}

.content-new {
	color: #575757;
}

.all-news {
	margin-top: 10px;
	text-align: right;
}

/* риббон */
.ribbon {
	background-color: #e5e5e5;
	padding-top: 30px;
	padding-bottom: 30px;
}

.ribbon-container {
	width: 26.6666%;
	float: left;
	text-align: center;
}

.ribbon-arrow {
	width: 10%;
	float: left;
	text-align: center;
}

.ribbon-text-title {
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: bolder;
	color: #066bc6;
}

.ribbon-text {
	padding-top: 10px;
	color: #575757;
	font-size: 12px;
}

/* footer */
.footer-strip {
	height: 35px;
	background-color: #066bc6;
	color: #FFF;
	line-height: 35px;
	text-align: center;
}

.footer-content  {
	margin-top: -20px;
	background-color: #e5e5e5;
	padding-top: 25px;
	padding-bottom: 25px;
}

.footer-content .social-networks p {
	font-weight: bolder;
	color: #000;
}

.footer-content .menu p {
	font-weight: bolder;
	color: #000;
	margin-bottom: 15px;

}

.footer-content .menu li {
	list-style-type: none;
}

.footer-content .menu ul a {
	text-decoration: none;
	color: #000;
}

.footer-content .menu ul a:hover {
	color: #069dfa;
}

.footer-end {
	margin-top: -20px;
	height: 35px;
	background-color: #727272;
	color: #FFF;
	line-height: 35px;
	text-align: center;
}




@media only screen and (min-width: 960px) and (max-width: 1160px) {
	nav ul li a {
		font-size: 0.8em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	nav ul li a {
		font-size: 0.6em;
	}
}

@media only screen and (max-width: 767px) {
	nav ul li {
		width: 33.3333%;
		text-align: center;
		border-bottom: 1px solid #FFF;
		border-right: 1px solid #FFF;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	
	nav ul li:nth-child(3n) {
		border-right: 0px solid #FFF;
	}
	
	nav ul li a {
		font-size: 0.6em;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		line-height: 2.5em;
	}
	
		
	.header-logo,
	.header-slogan
	{
		margin: 0 !important;
	}
	
	.header-auth .auth {
		left: 0;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* попапчик */
.dialog-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0);
	z-index: 1049;
}

.window {
	border: 1px #e9e9e9 solid;
	position: relative;
	background-color: #ffffff;
	border-top: 0;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

/* - заголовок попапчика */
.window .caption {
	padding: 7px 5px;
	position: absolute;
	top: 0;
	height: 32px;
	width: 100%;
	background-color: #ffffff;
	cursor: default;
	z-index: 2;
	border-bottom: 1px #e9e9e9 solid;
	border-top: 0;
}

/* -- иконка */
.window .caption .icon {
	width: 16px;
	height: 16px;
	font-size: 16px;
	margin-top: 0;
	margin-left: 0px;
	margin-right: 5px;
	position: relative;
	float: left;
}

/* -- текст заголовок */
.window .caption .title {
	font-size: 14px;
	margin-top: -2px;
	margin-left: 4px;
	position: relative;
	float: left;
}

/* -- кнопка закрыть */
.window .caption .btn-close {
	background-color: #ffffff;
	color: #777777;
	position: absolute;
	top: 4px;
	right: 4px;
	width: 24px;
	height: 24px;
	min-height: 24px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Cambria_', 'PT Serif Caption', Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	padding: 0 0 10px 0;
	z-index: 3;
	outline: none;
}

.window .caption .btn-close:hover {
	background-color: #cde6f7;
	color: #2a8dd4;
}

.window .caption .btn-close:active {
	background-color: #92c0e0 !important;
	left: auto;
}

.window .caption .btn-close:after {
	border-color: #777777;
	width: 10px !important;
	height: 6px !important;
	content: '\D7';
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -0.3em;
	margin-top: 2px;
}

.window .caption .btn-close:hover:after {
	border-color: #2a8dd4;
}

/* содержимое попапчика */
.window .content {
	position: relative;
	width: auto;
	height: auto;
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box;
}

.window input {
	display: block;
	margin-bottom: 10px;
}






