﻿@using System.Web.Optimization
@using reshim.web.core.Extensions
@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Chat.ChatViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/scroll")
<script src="/Scripts/action/action.chat.js"></script>

<input name="dialogId" value="@Model.DialogId" type="hidden">
<input name="userId" value="@User.GetReshimUser().UserId" type="hidden">

<div class="chat">
    <div class="wrapper-more"><button class="green mini-icon ico-more" id="ShowMore">Показать ещё</button></div>
    <div class="messages">
        @if (!Model.Messages.Any())
        {
            <div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-type="info">
                @Html.Raw("Начните диалог с пользователем")
            </div>
        }
        else
        {
            foreach (var msg in Model.Messages)
            {
                <div class="message clearfix @(User.GetReshimUser().UserId != msg.SenderId ? "interlocutor" : "")">
                    <div class="photo-container">
                        <img src="@string.Format("{0}?w=50&h=50&mode=crop", msg.Sender.GetPhoto)" alt="@msg.Sender.Login">
                    </div>
                    <div class="text-message">
                        <p><b>@msg.Sender.Login, </b>@msg.Content</p>
                        <span class="mini-icon ico-clock">@string.Format("{0} в {1}", msg.DateCreate, msg.TimeCreate)</span>
                        @if (!msg.IsNew)
                        {
                            <span class="mini-icon ico-view">Просмотрено</span>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div class="clearfix"></div>
    <div class="control">
        <div class="input-control textarea">
            <textarea id="Message" name="message" placeholder="Введите сообщения"></textarea>
        </div>
        <div class="clearfix"></div>
        <button id="SendMessage" data-empty="@(!Model.Messages.Any())" class="green">Отправить</button>
    </div>
    <div class="clearfix"></div>
</div>
