﻿@using System.Web.Optimization
@using reshim.web.core.Extensions
@using reshim.web.Helpers
@model IEnumerable<reshim.model.view.ViewModels.Chat.DialogViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/scroll")


<div class="contacts">
    <div class="users">
        @foreach (var dialog in Model)
        {
            <div class="user clearfix">
                <div class="photo-container">
                    <span class="CountNewMessage" id="@(User.GetReshimUser().UserId == dialog.User1.UserId ? dialog.User2.UserId : dialog.User1.UserId)">@dialog.CountNewMessage</span>
                    @if (User.GetReshimUser().UserId == dialog.User1.UserId)
                    {
                        <img src="@string.Format("{0}?w=100&h=100&mode=crop", dialog.User2.GetPhoto)" alt="@dialog.User2.Login" />
                    }
                    else
                    {
                        <img src="@string.Format("{0}?w=100&h=100&mode=crop", dialog.User1.GetPhoto)" alt="@dialog.User1.Login" />
                    }
                </div>
                <div class="user-info-container">
                    <div class="info">
                        @if (User.GetReshimUser().UserId == dialog.User1.UserId)
                        {
                            <a href="@Url.Action("Index", "User", new { id = dialog.User2.UserId })"><b>@dialog.User2.Login</b></a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "User", new { id = dialog.User1.UserId })"><b>@dialog.User1.Login</b></a>
                        }

                    </div>
                    <div class="info">
                        Последняя активность
                        @(User.GetReshimUser().UserId == dialog.User1.UserId ? dialog.User2.LastLoginTime : dialog.User1.LastLoginTime)

                    </div>
                    <div class="info">
                        Количество сообщений: @dialog.CountAllMessage
                    </div>
                </div>
                <a href="@Url.Action("Dialog", "Chat", new { dialogId = dialog.Id })" class="btn green ">Перейти в чат</a>
            </div>
        }

        @if (!Model.Any())
        {
            <div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-type="info">
                @Html.Raw("У вас нет диалогов с пользователями")
            </div>
            
            <div class="preview">
                <div class="image-container">
                    <span class="helper"></span>
                    @SVGHelper.SearchICO()
                </div>
                <div class="text-container">
                    Вы с пользователями ещё не общались!
                </div>
            </div>
            
        }
    </div>
    <div class="clearfix"></div>
</div>
