﻿@model reshim.model.view.ViewModels.Task.RenderPartialTabsDetailTaskViewModel

<div class="tab-control" data-role="tab-control" data-name="info-task">
    <ul class="tabs">
        <li class="active"><a href="#" data-target="detail">Подробная информация</a></li>
        <li><a href="#" data-target="estimate">Оценка заказа</a></li>
    </ul>

    <div class="frames">
        <div class="frame task clearfix" data-name="detail">
            @Html.Partial("~/Views/Task/Partials/Tab/_DetailCommon.cshtml", Model.Task)
        </div>
        <div class="frame offers clearfix" data-name="estimate">
            @Html.Partial("~/Views/Task/Partials/Tab/_DetailCustomer.cshtml", Model)
        </div>
    </div>
</div>

<script>
    $('[data-role=tab-control]').tabcontrol();
</script>

