﻿@model reshim.model.view.ViewModels.Task.TaskViewModel

<div class="head-row short">
    <div class="avatar">#</div>
    <div class="cost">Цена</div>
    <div class="date-estimate">Дата оценки</div>
    <div class="clear"></div>
</div>

@foreach (var offer in Model.Subscribers)
{
    <div class="offer short @(Model.Decided != null && offer.UserId == Model.Decided.UserId ? "selected" : "")">
        <div class="photo-container avatar">
            <img src="@string.Format("{0}?w=50&h=50&mode=crop", offer.User.GetPhoto)" alt="@offer.User.Login">
            <span>@Html.ActionLink(offer.User.Login, "Index", "User", new { @area = "", @id = offer.User.UserId }, null)</span>
        </div>
        <div class="wrapper cost">
            <p>@offer.FormatValue</p>
        </div>
        <div class="wrapper date-estimate">
            <p>@offer.FormatDateCreate</p>
        </div>
    </div>
}