﻿@model reshim.model.view.ViewModels.Task.TaskViewModel

<div class="order-status">
    @{
        int i = 1;
    }

    @foreach (var status in Model.Statuses)
    {
        <div class="order-status-item @(status.Value.ToLower() == Model.Status.ToString().ToLower() ? "active" : "")">
            <span class="order-status-item-count">@(i++)</span>
            @status.Key
        </div>
    }
</div>