﻿<div class="slogan">
    <div class="container12">
        <div class="column12 text">
            Спасибо за то, что выбрали RESHIM.NET
        </div>
    </div>
</div>

<div class="content">
    <div class="container12">
        <div class="column3 menu">
            <p>Информация</p>
            <ul>
                <li><a href="@Url.Action("AllNews", "Content")">Новости</a></li>
                <li><a href="@Url.Action("Articles", "Content")">Статьи</a></li>
            </ul>
        </div>
        @Html.Partial("Partials/_SocialNetworks")
    </div>
</div>

<div class="end">
    <div class="container12">
        <div class="column10">
            <ul class="list-pay">
                <li class="title">Принимаем к оплате</li>
                <li><span class="b-ico ico-webmoney"></span></li>
                <li><span class="b-ico ico-yandex"></span></li>
                <li><span class="b-ico ico-sberbank"></span></li>
                <li><span class="b-ico ico-kiwi"></span></li>
            </ul>
        </div>
        <div class="column2">
            @Html.Partial("Partials/_YandexMetrica")
        </div>
    </div>
</div>



