﻿@using reshim.web.core.Extensions
@using reshim.web.Helpers

<div class="logo column4">
    <a href="/">
        <img src="~/content/img/logo.png" alt="reshim.net" title="Есть вопрос, есть ответ на reshim.net!">
    </a>
</div>


@if (!User.GetReshimUser().IsAuthenticated)
{
    <div class="slogan column4">
        Есть вопрос,
        <a href="@Url.Action("Order", "Task")" class="btn red">
            @Html.TextWithIco(SVGHelper.AttachmentICO(), "заказать ответ", colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_20" })
        </a> на решим.net!
    </div>
    <div class="auth column4">
        <button class="login gray">@Html.TextWithIco(SVGHelper.Key2ICO(), "Вход", htmlAttributes: new { @class = "size_16" })</button>
        <button class="reg green">@Html.TextWithIco(SVGHelper.UserPlusICO(), "Регистрация", htmlAttributes: new { @class = "size_16" })</button>
    </div>
}
else
{
    @Html.Action("AuthMenu", "Home")
}