﻿@using System.Web.Optimization
@using reshim.web.core.Extensions
@using reshim.web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    @Html.MetaTagsForSeo()
    @Html.MvcSiteMap().MetaRobotsTag()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/custom-elements")
    <link rel="stylesheet" type="text/css" href="/Content/font.css">
    @Styles.Render("~/bundles/css")
    @SVGHelper.Include()

    @if (User.GetReshimUser().IsAuthenticated)
    {
        <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="/signalr/hubs"></script>
        <script src="/Scripts/action/action.message.js"></script>
    }

    <script src="/Scripts/action/index.js"></script>
</head>

<body>
    <div class="wrapper-bottom-footer">
        <div class="wrapper-content ">
            <header class="container12">
                <div class="row">
                    @Html.Partial("_Header")
                </div>
            </header>
            <nav>
                @Html.Partial("_Menu")
            </nav>
            <div class="container12"></div>


            <section>
                <div class="container12 header-page">
                    @Html.Partial("ContentHeaders/_HeaderContent")
                </div>
                <div class="container12 slider">
                    <div class="row">
                        <div class="column12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="container12 info-block">
                    <div class="row">
                        <div class="column5 last-news">
                            @Html.Action("LastNews", "Home")
                        </div>
                        <div class="column7 last-task">
                            @Html.Action("LastTask", "Home")
                        </div>
                    </div>
                </div>
                <div class="ribbon-background">
                    @Html.Partial("_Ribbon")
                </div>
                <div class="container12 article-index">
                    <div class="row">
                        <div class="column12">
                            @Html.Partial("Partials/_IndexContent")
                        </div>
                    </div>

                </div>
                <div class="container12 advantages">
                    <div class="row">
                        <div class="column12">
                            @Html.Partial("Partials/_Advantages")
                        </div>
                    </div>
                </div>
                <div class="container12 info-block">
                    <div class="row">
                        <div class="column5 last-news">
                            @Html.Action("LastNews", "Home")
                        </div>
                        <div class="column7 typeworks-block">
                            @Html.Action("TypeWorks", "Home")
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
</body>
</html>

