﻿@using System.Web.Optimization
@using reshim.web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    @Html.MetaTagsForSeo()
    @Html.MvcSiteMap().MetaRobotsTag()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/custom-elements")
    <link rel="stylesheet" type="text/css" href="/Content/font.css">
    @Styles.Render("~/bundles/css")
    @SVGHelper.Include()
</head>

<body>
    <div class="wrapper-bottom-footer">
        <div class="wrapper-content ">
            <header class="container12">
                <div class="row">
                    @Html.Partial("_Header")
                </div>
            </header>

            <section>
                <div class="container12">
                    <div class="column3">
                        <img class="float-left" src="/Content/img/girl.png" />
                    </div>
                    <div class="column9 position-relative">
                        <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
                        <p>
                            Решим - это интернет-биржа заказчиков и исполнителей студенческих работ. На нашем сайте вы можете заказать работу напрямую у любого из более 3000 исполнителей, не переплачивая посредникам.<br /><br />Оформите заказ и исполнители начнут откликаться уже через 10 минут!
                        </p>
                        @Html.Action("OrderForm", "Home")
                    </div>
                </div>
                <div class="ribbon-background">
                    @Html.Partial("_Ribbon")
                </div>
                <div class="container12">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
                <div class="container12 advantages">
                    <div class="row">
                        <div class="column12">
                            @Html.Partial("Partials/_Advantages")
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
</body>
</html>

