﻿<div class="wrapper-nav">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="@Url.Action("Index", "Task")">Заказы</a></li>
        <li><a href="@Url.Action("Order", "Task")">Заказать</a></li>
        <li><a href="@Url.Action("Articles", "Content")">Статьи</a></li>
        <li><a href="@Url.Action("Lessons", "Content")">Уроки</a></li>
        <li><a href="@Url.Action("Price", "Home")">Цены</a></li>
        <li><a href="@Url.Action("Index", "CompletedTask")">Готовые задачи</a></li>
        <li><a href="@Url.Action("Guaranty", "Home")">Гарантии</a></li>
        <li><a href="@Url.Action("Support", "Home")">Техподдержка</a></li>
    </ul>
</div>