﻿<div class="container12 ribbon">
    <div class="row">
        <div class="ribbon-container">
            <img src="~/Content/img/ribbon/step1.png">
            <p class="ribbon-desc">Создаёте заказ</p>
        </div>
        <div class="ribbon-container arrow">
            <img src="~/Content/img/ribbon/arrowRight.png">
        </div>
        <div class="ribbon-container">
            <img src="~/Content/img/ribbon/step2.png">
            <p class="ribbon-desc">Получаете много предложений от исполнителей</p>
        </div>
        <div class="ribbon-container  arrow">
            <img src="~/Content/img/ribbon/arrowRight.png">
        </div>
        <div class="ribbon-container">
            <img src="~/Content/img/ribbon/step3.png">
            <p class="ribbon-desc">Выбираете исполнителя</p>
        </div>
        <div class="ribbon-container arrow">
            <img src="~/Content/img/ribbon/arrowRight.png">
        </div>
        <div class="ribbon-container">
            <img src="~/Content/img/ribbon/step4.png">
            <p class="ribbon-desc">Исполнитель выполняет Ваш заказ</p>
        </div>
        <div class="ribbon-container arrow">
            <img src="~/Content/img/ribbon/arrowRight.png">
        </div>
        <div class="ribbon-container">
            <img src="~/Content/img/ribbon/step5.png">
            <p class="ribbon-desc">Гарантийный срок 21 день</p>
        </div>
    </div>
</div>

