﻿@using System.Web.Optimization
@using reshim.web.core.Extensions
@using reshim.web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    @Html.MetaTagsForSeo()
    @Html.MvcSiteMap().MetaRobotsTag()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/custom-elements")
    @Scripts.Render("~/bundles/function-helpres")
    <link rel="stylesheet" type="text/css" href="/Content/font.css">
    @Styles.Render("~/bundles/css")
    @SVGHelper.Include()

    @if (User.GetReshimUser().IsAuthenticated)
    {
        <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="/signalr/hubs"></script>
        <script src="/Scripts/action/action.message.js"></script>
    }
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
</head>

<body>
    <div class="wrapper-bottom-footer">
        <div class="wrapper-content ">
            <header class="container12">
                <div class="row">
                    @Html.Partial("_Header")
                </div>
            </header>
            <nav>
                @Html.Partial("_Menu")
            </nav>
            <section>
                <div class="container12 header-page">
                    @Html.Partial("ContentHeaders/_HeaderContentDisplayCurrentNode")
                </div>
                <div class="container12">
                    @RenderBody()
                </div>
            </section>
        </div>
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
</body>
</html>

