﻿@using reshim.common.core.Pagination
@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.Content.News.NewsViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var news in Model)
{
    <div class="news-wrapper">
        <div class="top-block">
            <div class="date">@news.DateCreate</div>
            <a href="@Url.Action("News", "Content", new { alias = news.Alias })">@news.Name</a>
        </div>
        <div class="bottom-block">
            <div class="content">
                @Html.Raw(news.Preview)
                <a class="more" href="@Url.Action("News", "Content", new { alias = news.Alias })">Подробнее</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
}

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
