﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Content.Article.ArticleViewModel

@{
    Layout = "~/Views/Shared/_LayoutArticle.cshtml";
}
<div class="content-wrapper column7" id="Content">
    <article id="@string.Format("article-{0}", Model.Id)" class="article entity-reviews" data-id="@Model.Id" data-type="article">

        <div class="article-cover">

            <div class="cover-wrap">

                <header class="entry-header">
                    <h1 class="entry-title">@Model.Name</h1>
                </header>
                <div class="the-excerpt">
                    <p>@Html.Raw(Model.Preview)</p>
                </div>

                <ul class="post-meta">
                    <li class="item-meta meta-date-create">
                        @SVGHelper.CalendarICO() @Model.DateCreate
                    </li>
                    <li class="item-meta meta-views-counter">
                        @SVGHelper.EyeICO() @Model.CountReviews
                    </li>
                </ul>

                <div class="cover-image">
                    <img width="650" height="325" src="@string.Format("{0}?w=650&mode=crop", string.IsNullOrEmpty(Model.Image) ? System.Configuration.ConfigurationManager.AppSettings["DefaultSubject"] : Model.Image)" class="article-image" alt="@Model.Name">
                </div>



            </div>

        </div>

        <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
        <div class="yashare-auto-init big"
             data-yasharel10n="ru"
             data-yasharetype="small"
             data-yasharequickservices="vkontakte,facebook,twitter,odnoklassniki,moimir"
             data-yasharetheme="counter"
             data-yasharetitle="@Model.Name"
             data-yasharedescription="@Model.Preview"
             data-yasharelink="@string.Format("{0}{1}", Request.Url.GetLeftPart(UriPartial.Authority), Url.Action("Article", "Content", new { alias = Model.Alias }))"
             data-yashareimage="@string.Format("{0}{1}?w=650&mode=crop", Request.Url.GetLeftPart(UriPartial.Authority), Model.Image)">

        </div>

        <div class="entry-content clearfix">
            @Html.Raw(Model.Text)
        </div>

    </article>
</div>


<script src="/Scripts/action/action.reviews.js"></script>
