﻿@model reshim.model.view.ViewModels.Content.SeoArticle.SeoArticleViewModel

@{
    Layout = "~/Views/Shared/_LayoutWithOrderForm.cshtml";
}

<div class="column3">
    <ul class="menu-typeWork">
        <li class="header"><b>@string.Format("{0} по:", Model.TypeWork.ShortName)</b></li>
        @Html.Action("SidebarTypeWork", "Home", new { aliasTypeWork = Model.TypeWork.Alias, aliasArticle = Model.Alias })
    </ul>
</div>
<div class="column9">
    <div class="article">
        @Html.Raw(Model.Text)
    </div>
</div>
