﻿@using reshim.common.core.Pagination
@model reshim.model.view.ViewModels.Content.Article.ArticlesViewModel

@{
    Layout = "~/Views/Shared/_LayoutCategoryArticles.cshtml";
}
<div class="content-wrapper column7" id="Content">
    @foreach (var article in Model.Articles)
    {
        <article id="@string.Format("article-{0}", article.Id)" class="article short">
            <header class="entry-header">
                <h2 class="entry-title">
                    <a href="@Url.Action("Article", "Content", new { alias = article.Alias })" title="@article.Name" rel="bookmark">@article.Name</a>
                </h2>
            </header>

            <div class="entry-content clearfix">
                <a href="@Url.Action("Article", "Content", new { alias = article.Alias })">
                    <img width="650" height="325" src="@string.Format("{0}?w=650&mode=crop", string.IsNullOrEmpty(article.Image) ? System.Configuration.ConfigurationManager.AppSettings["DefaultSubject"] : article.Image)" class="article-image" alt="@article.Name">
                </a>

                <p>@Html.Raw(article.Preview)</p>

                <div class="entry-footer clearfix">
                    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
                    <div class="yashare-auto-init"
                         data-yasharel10n="ru"
                         data-yasharetype="small"
                         data-yasharequickservices="vkontakte,facebook,twitter,odnoklassniki,moimir"
                         data-yasharetheme="counter"
                         data-yasharetitle="@article.Name"
                         data-yasharedescription="@article.Preview"
                         data-yasharelink="@string.Format("{0}{1}", Request.Url.GetLeftPart(UriPartial.Authority), Url.Action("Article", "Content", new { alias = article.Alias }))"
                         data-yashareimage="@string.Format("{0}{1}?w=650mode=crop", Request.Url.GetLeftPart(UriPartial.Authority), article.Image)">

                    </div>
                    <div class="entry-more">
                        <p><a href="@Url.Action("Article", "Content", new { alias = article.Alias })" class="more-link">Читать далее &nbsp;›</a></p>
                    </div>
                </div>
            </div>

            <footer class="clearfix"></footer>

        </article>
    }

    <div class="pager">
        @Html.Pager(Model.Articles.PageSize, Model.Articles.PageNumber, Model.Articles.TotalItemCount).Options(o => o.Action("Articles").AddRouteValue("category", Model.Category != null ? Model.Category.Alias : ""))
    </div>
</div>
