﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Content.Lesson.LessonViewModel

@{
    Layout = "~/Views/Shared/_LayoutLesson.cshtml";
}

<div class="content-wrapper column8" id="Content">
    <article id="@string.Format("lesson-{0}", Model.Id)" class="article entity-reviews" data-id="@Model.Id" data-type="lesson">

        <div class="article-cover">

            <div class="cover-wrap">

                <header class="entry-header">
                    <h1 class="entry-title">@Model.Name</h1>
                </header>
                <div class="the-excerpt">
                    <p>@Html.Raw(Model.Preview)</p>
                </div>

                <ul class="post-meta">
                    <li class="item-meta meta-date-create">
                        @SVGHelper.CalendarICO() @Model.DateCreate
                    </li>
                    <li class="item-meta meta-views-counter">
                        @SVGHelper.EyeICO() @Model.CountReviews
                    </li>
                </ul>

                <div class="cover-image">
                    <img src="@string.Format("{0}?w=740&mode=crop", string.IsNullOrEmpty(Model.Image) ? System.Configuration.ConfigurationManager.AppSettings["DefaultSubject"] : Model.Image)" class="article-image" alt="@Model.Name">
                    <span class="name-marker">
                        @Html.Raw(string.Format("<<{0}>><br>{1}", Model.NameLesson.Name, Model.Name))
                    </span>
                </div>
            </div>

        </div>

        <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
        <div class="yashare-auto-init big"
             data-yasharel10n="ru"
             data-yasharetype="small"
             data-yasharequickservices="vkontakte,facebook,twitter,odnoklassniki,moimir"
             data-yasharetheme="counter"
             data-yasharetitle="@Model.Name"
             data-yasharedescription="@Model.Preview"
             data-yasharelink="@string.Format("{0}{1}", Request.Url.GetLeftPart(UriPartial.Authority), Url.Action("Article", "Content", new { alias = Model.Alias }))"
             data-yashareimage="@string.Format("{0}{1}?w=740&mode=crop", Request.Url.GetLeftPart(UriPartial.Authority), Model.Image)">

        </div>

        <div class="entry-content clearfix">
            @Html.Raw(Model.Text)
        </div>

    </article>
</div>

<div class="column4">
    @Html.Action("TableOfContentLesson", "Content", new { nameLessonId = Model.NameLessonId, chapterId = Model.ChapterId, lessonId = Model.Id })
</div>

<script src="/Scripts/action/action.reviews.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        $('.ul.table-contents li > ul').click(function () {
            $('.showhide-all').slideUp(500);
            $('.showhide').removeClass('active');
            $(this).next('div').filter(function () { return $(this).css('display') == 'block' }).slideUp(500);
            $(this).next('div').filter(function () {
                return $(this).css('display') == 'none';
            }).slideDown(500).prev('div').addClass('active');

        });

    });

</script>