﻿@using reshim.common.core.Pagination
@model reshim.model.view.ViewModels.Content.Lesson.LessonsViewModel

@{
    Layout = "~/Views/Shared/_LayoutCategoryLessons.cshtml";
}
<div class="content-wrapper column7" id="Content">
    @foreach (var lesson in Model.Lessons)
    {
        <article id="@string.Format("lesson-{0}", lesson.Id)" class="article short">
            <header class="entry-header">
                <h2 class="entry-title">
                    <a href="@Url.Action("Lesson", "Content", new { alias = lesson.Alias })" title="@lesson.Name" rel="bookmark">@lesson.Name</a>
                </h2>
                <span class="entry-category">
                    <a href="@Url.Action("Lessons", "Content", new {category = lesson.Category.Alias})" title="@lesson.Category.Name" rel="bookmark">@lesson.Category.Name</a>
                    <text>/</text>
                    <span>@lesson.NameLesson.Name</span>
                    @if (lesson.ChapterId.HasValue)
                    {
                        <text>,</text>
                        <span>@lesson.Chapter.Name</span>
                    }
                </span>
            </header>

            <div class="entry-content clearfix">
                <a href="@Url.Action("Lesson", "Content", new { alias = lesson.Alias })" class="image-wrapper">
                    <img src="@string.Format("{0}?w=650&mode=crop", string.IsNullOrEmpty(lesson.Image) ? System.Configuration.ConfigurationManager.AppSettings["DefaultSubject"] : lesson.Image)" class="article-image" alt="@lesson.Name">
                    <span class="name-marker">
                        @Html.Raw(string.Format("<<{0}>><br>{1}", lesson.NameLesson.Name, lesson.Name))
                    </span>
                </a>

                <p>@Html.Raw(lesson.Preview)</p>

                <div class="entry-footer clearfix">
                    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
                    <div class="yashare-auto-init"
                         data-yasharel10n="ru"
                         data-yasharetype="small"
                         data-yasharequickservices="vkontakte,facebook,twitter,odnoklassniki,moimir"
                         data-yasharetheme="counter"
                         data-yasharetitle="@lesson.Name"
                         data-yasharedescription="@lesson.Preview"
                         data-yasharelink="@string.Format("{0}{1}", Request.Url.GetLeftPart(UriPartial.Authority), Url.Action("Article", "Content", new { alias = lesson.Alias }))"
                         data-yashareimage="@string.Format("{0}{1}?w=650mode=crop", Request.Url.GetLeftPart(UriPartial.Authority), lesson.Image)">

                    </div>
                    <div class="entry-more">
                        <p><a href="@Url.Action("Lesson", "Content", new { alias = lesson.Alias })" class="more-link">Читать далее &nbsp;›</a></p>
                    </div>
                </div>
            </div>

            <footer class="clearfix"></footer>

        </article>
    }

    <div class="pager">
        @Html.Pager(Model.Lessons.PageSize, Model.Lessons.PageNumber, Model.Lessons.TotalItemCount).Options(o => o.Action("Lessons").AddRouteValue("category", Model.CategoryAlias))
    </div>
</div>