﻿@model reshim.model.view.ViewModels.Content.News.NewsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="column12">
    <div class="news-wrapper">
        <div class="content">@Html.Raw(Model.Text)</div>
        <div class="date paddingtop20">@Model.DateCreate</div>
    </div>
</div>
