﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

@*
    status: rating
    customers
*@

<input name="taskId" type="hidden" value="@Model.Id">

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    Выберите исполнителя, либо подождите, и получите больше предложений! При выборе исполнителя с Вашего счёта спишеться предоплата в сумме 50% от суммы заказа.
</div>
<div data-role="infoPlace" data-image="@SVGHelper.CancelCirclICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="error"></div>

@Html.Partial("~/Views/Task/Partials/_RenderExtendedSubscribers.cshtml", Model)

<div class="wrapper-btn">
    <a href="#" class="btn green" id="SelectEmployee">@SVGHelper.UserCheckICO()Выбрать исполнителя</a>
</div>

<script src="/Scripts/action/action.table.select-employee.js"></script>
