﻿@model int
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-control" data-role="tab-control" data-name="info-user">
    <ul class="tabs">
        <li class="active"><a href="#" data-target="profile">Профиль</a></li>
    </ul>

    <div class="frames">
        <div class="frame profile clearfix" data-target="profile">
            @Html.Action("ProfileUser", new { @id = Model })
        </div>
    </div>
</div>
