﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.User.StatisticsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="menu-tiles">
    <a class="task-preview" href="@Url.Action("Index", "Task", new {@area = User.GetReshimUser().RoleName})">
        <span>@SVGHelper.SearchICO()</span>
        <span>Просмотр задач</span>
    </a>
</div>*@

<div class="place clearfix">
    <p class="title">Задачи</p>
    <div class="menu-tiles">
        <a class="completed-task-preview" href="@(Url.Action("History", "CompletedTask") + "#cash-in")">
            <span>ТУТ ИКОНКА</span>
            <span>Заказанные решенные задачи</span>
        </a>
    </div>
</div>

<div class="place clearfix">
    <p class="title">Статистика</p>
    <div class="left">
        <div class="line">
            <label>Количество решенных задач:</label>
            <span>@Model.CountSolvedTask</span>
        </div>
    </div>
    <div class="right">
        <div class="line">
            <label>Количество заказанных задач:</label>
            <span>@Model.CountOrderTask</span>
        </div>
    </div>
</div>

<div class="place clearfix">
    <p class="title">Биллинг</p>
    <div class="menu-tiles">
        <a class="lk-cash-in" href="@(Url.Action("Index", "Billing") + "#cash-in")">
            @Html.Raw("Пополнить балланс")
        </a>
        <a class="lk-cash-out" href="@(Url.Action("Index", "Billing") + "#cash-out")">
            @Html.Raw("Вывод средств")
        </a>
        <a class="lk-history" href="@(Url.Action("Index", "Billing") + "#history")">
            @Html.Raw("История")
        </a>
    </div>
</div>



