﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="tab-control" data-role="tab-control" data-name="profile">
    <ul class="tabs">
        <li class="active"><a href="#" data-target="photo">Фотография</a></li>
        <li><a href="#" data-target="profile">Профиль</a></li>
    </ul>

    <div class="frames">
        <div class="frame profile clearfix" data-name="photo">
            @Html.Action("EditPhoto")
        </div>
        <div class="frame" data-name="profile">
            @Html.Action("EditProfile")
        </div>
    </div>
</div>
