﻿@model string
<div class="form-group">
    <label class="col-sm-2 control-label">Выбор картинки: </label>
    <div class="col-sm-4">
        @Html.Hidden("Image", Model, new { id = "croppedImagePath" })
        <input type="hidden" id="tmpUploadedImagePath" name="UploadedImagePath">
        <input type="file" id="uploadImage" multiple="multiple" class="styled" name="Image">
    </div>

    <div class="col-sm-2">
        <a href="#" id="startUploadImage" class="btn btn-default">Загрузить картинку</a>
    </div>
    <div class="col-sm-2">
        <a href="#" id="btnCropImage" class="btn btn-info" style="display: none;">Обрезать картинку</a>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Области: </label>
    <div class="col-sm-8" id="cropImageArea" style="display: none;">
        <img id="uploadedImage" src="#"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Предпросмотр картинки: </label>
    <div class="col-sm-8">
        <img id="croppedImage" src="@(!string.IsNullOrEmpty(Model) ? Model : "")" />
    </div>
</div>