﻿@model reshim.model.view.ViewModels.Content.Lesson.ChapterFormModel

@using (Html.BeginForm("CreateOrUpdateChapter", "Lesson", FormMethod.Post, new { @class = "form-horizontal validate", role = "form" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.NameLessonId)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">
                @(Model.Id.HasValue ? string.Format("Редактирование раздела \"{0}\"", Model.Name) : "Добавление раздела")
            </h6>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Название главы: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Name, new { @class = "required form-control" })
                </div>
            </div>
            <div class="form-actions text-right">
                <input type="submit" value="Сохранить" class="btn btn-primary">
            </div>

        </div>
    </div>
}

<script>
    (function ($) {
        $(".validate").validate({
            onkeyup: true,
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                Name: {
                    required: true
                }
            },
            success: function (label) {
                label.text('Успешно!').addClass('valid');
            }
        });
    })(jQuery);
</script>


