﻿@using reshim.common.core.Pagination
@model reshim.model.view.ViewModels.Content.Lesson.CategoriesLessonsViewModel

@{
    ViewBag.Title = !Model.ParentId.HasValue ? "Категории" : string.Format("Категории \"{0}\"", Model.Parent.Name);
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.Action("CreateOrUpdateCategoryPartial", "Lesson", new { categoryId = Model.CategoryId, parentId = Model.ParentId })

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">
            <strong class="label label-danger">@Model.Categories.TotalItemCount категории</strong>
        </h6>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название категории</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr id="@category.Id">
                        <td>@category.Id</td>
                        <td>
                            @if (!category.ParentId.HasValue)
                            {
                                @Html.ActionLink(category.Name, "Categories", "Lesson", new { parentId = category.Id, }, null)
                            }
                            else
                            {
                                @category.Name
                            }
                        </td>
                        <td>
                            <div class="table-controls">
                                <a href="@Url.Action("Categories", "Lesson", new { categoryId = category.Id, parentId = category.ParentId })" class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Редактировать"><i class="fa fa-plus-square"></i></a>
                                <a class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Удалить категорию" href="#delete" data-toggle="modal" data-id="@category.Id" data-name="@category.Name" data-text="@string.Format("Удалание категории \"{0}\".", category.Name)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="table-footer">
        @Html.Pager(Model.Categories.PageSize, Model.Categories.PageNumber, Model.Categories.TotalItemCount)
    </div>
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/Helpers/_DeleteContent.cshtml", Url.Action("Delete", "Lesson"))
