﻿@using reshim.common.core.Pagination
@model reshim.model.view.ViewModels.Content.Lesson.ChaptersViewModel

@{
    ViewBag.Title = string.Format("Главы раздела \"{0}\"", Model.NameLesson.Name);
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.Action("CreateOrUpdateChapterPartial", "Lesson", new { chapterId = Model.ChapterId })

<input type="hidden" value="@Model.Chapters.PageNumber" name="curPage">
<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">
            <strong class="label label-danger">@Model.Chapters.TotalItemCount уроков</strong>
        </h6>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название раздела</th>
                    <th>Позиция</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var chapter in Model.Chapters)
                {
                    <tr id="@chapter.Id">
                        <td>@chapter.Id</td>
                        <td>
                            @chapter.Name
                        </td>
                        <td class="position">
                            @chapter.Position
                        </td>
                        <td>
                            <div class="table-controls">
                                <a href="@Url.Action("Chapters", "Lesson", new { chapterId = chapter.Id, nameLessonId = Model.NameLessonId })" class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Редактировать"><i class="fa fa-plus-square"></i></a>
                                <a class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Удалить главу" href="#delete" data-toggle="modal" data-id="@chapter.Id" data-name="@chapter.Name" data-text="@string.Format("Удалание главы \"{0}\".", chapter.Name)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="table-footer">
        @Html.Pager(Model.Chapters.PageSize, Model.Chapters.PageNumber, Model.Chapters.TotalItemCount).Options(x=>x.AddRouteValue("nameLessonId", Model.NameLessonId))
    </div>
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/Helpers/_DeleteContent.cshtml", Url.Action("Delete", "Lesson"))

<script src="/Areas/Admin/Content/js/plugins/interface/jquery.rowsorter.min.js"></script>
<script src="/Areas/Admin/Content/js/admin/content/lesson-draggable.js"></script>