﻿@model reshim.model.view.ViewModels.Content.Lesson.LessonFormModel

<link href="@Url.Content("~/Areas/Admin/Content/css/jquery.Jcrop.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.fileupload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Admin/Content/js/plugins/interface/jquery.Jcrop.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = Model.Id.HasValue ? "Редактирование урока" : "Создание урока";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateOrUpdate", "Lesson", FormMethod.Post, new { @class = "form-horizontal validate", role = "form" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">@ViewBag.Title</h6>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Название урока: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Name, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Заголовок урока (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.TitleSeo, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Описание урока (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.DescriptionSeo, 5, 5, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Ключевые урока (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.KeywordsSeo, 5, 5, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Текст: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Text, 5, 5, new { @class = "required form-control editor" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Превью: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Preview, 5, 5, new { @class = "required form-control editor" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Цикл урока: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.NameLessonId, Model.NamesLessons.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }), new { @class = "select-search-names-lessons" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Раздел: </label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.ChapterId, Model.Chapters.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }), "Выберите раздел", new { @class = "select-search-chapters" })
                </div>
            </div>
            @Html.Partial("~/Areas/Admin/Views/Shared/Helpers/_CropImage.cshtml", string.IsNullOrEmpty(Model.Image) ? "" : Model.Image)


            <div class="form-actions text-right">
                <input type="submit" value="Сохранить" class="btn btn-primary">
            </div>

        </div>
    </div>
}

<script src="/Areas/Admin/Content/js/admin/helper.crop-image.js"></script>

<script>
    (function ($) {
        $(".validate").validate({
            onkeyup: true,
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                Name: {
                    required: true
                },
                TitleSeo: {
                    required: true
                },
                DescriptionSeo: {
                    required: true
                },
                KeywordsSeo: {
                    required: true
                },
                Text: {
                    required: true
                },
                Preview: {
                    required: true
                }
            },
            success: function (label) {
                label.text('Успешно!').addClass('valid');
            }
        });

        // ddl
        var namesLessons = $(".select-search-names-lessons");
        var chapters = $(".select-search-chapters");
        
        namesLessons.select2({
            width: 400
        });
        
        chapters.select2({
            width: 400
        });

        namesLessons.bind("change keyup", function () {
            loadChapters(namesLessons.find("option:selected").val());
            namesLessons.fadeIn("slow");
        });


        function loadChapters(selectedItemNameLesson) {
            $.ajax({
                type: "POST",
                url: "/api/helper/getchapters/" + selectedItemNameLesson,
                success: function (data) {
                    changeChapters(data);
                }
            });
        }
        
        function changeChapters(data) {
           chapters.find("option").remove();
            chapters.append($("<option></option>").val("").html("Выберите раздел"));
            for (var i = 0; i < data.length; i++) {
                chapters.append($("<option></option>").val(data[i].Id).html(data[i].Name));
            }
            chapters.select2({
                width: 400
            });
        }



    })(jQuery);
</script>





