﻿@using reshim.common.core.Pagination
@model reshim.model.view.ViewModels.Content.Lesson.LessonsViewModel

@{
    ViewBag.Title = "Уроки";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<input type="hidden" value="@Model.Lessons.PageNumber" name="curPage">

<div class="container-fluid">
    <div class="page-header">
        <ul class="middle-nav left-nav">
            <li><a href="@Url.Action("CreateOrUpdateLesson", "Lesson", new { area = "admin" })" class="btn btn-default"><i class="fa fa-plus-square-o"></i><span>Создать урок</span></a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">Сортировка</h6>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Lessons", "Lesson", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="col-sm-2 control-label">Цикл уроков</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.NameLessonId, Model.NamesLessons.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }), new { @class = "select-search-names-lessons" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Разделы</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.ChapterId, Model.Chapters.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }), "Выберите раздел" , new { @class = "select-search-chapters" })
                </div>
            </div>
            <div class="form-actions text-right">
                <input type="submit" value="Применить" class="btn btn-primary">
            </div>
        }
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">
            <strong class="label label-danger">@Model.Lessons.TotalItemCount уроков</strong>
        </h6>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Картинка</th>
                    <th>Название урока</th>
                    <th>Позиция</th>
                    <th>Дата создания</th>
                    <th>Дата обновления</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in Model.Lessons)
                {
                    <tr id="@lesson.Id" class="draggable">
                        <td>@lesson.Id</td>
                        <td><img class="miniature" src="@lesson.Image" /></td>
                        <td>@lesson.Name</td>
                        <td class="position">@lesson.Position</td>
                        <td>@lesson.DateCreate</td>
                        <td>@lesson.DateUpdate</td>
                        <td>
                            <div class="table-controls">
                                <a href="@Url.Action("CreateOrUpdateLesson", "Lesson", new { id = lesson.Id })" class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Редактировать"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Удалить статью" href="#delete" data-toggle="modal" data-id="@lesson.Id" data-name="@lesson.Name" data-text="@string.Format("Удалание  урока \"{0}\".", lesson.Name)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="table-footer">
        @Html.Pager(Model.Lessons.PageSize, Model.Lessons.PageNumber, Model.Lessons.TotalItemCount).Options(x => x.Action("Lessons").AddRouteValue("nameLessonId", Model.NameLessonId).AddRouteValue("chapterId", Model.ChapterId))
    </div>
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/Helpers/_DeleteContent.cshtml", Url.Action("Delete", "Lesson"))

<script src="/Areas/Admin/Content/js/plugins/interface/jquery.rowsorter.min.js"></script>
<script src="/Areas/Admin/Content/js/admin/content/lesson-draggable.js"></script>


<script>
    (function ($) {
        var namesLessons = $(".select-search-names-lessons");
        var chapters = $(".select-search-chapters");

        namesLessons.select2({
            width: 400
        });

        chapters.select2({
            width: 400
        });

        namesLessons.bind("change keyup", function () {
            loadChapters(namesLessons.find("option:selected").val());
            namesLessons.fadeIn("slow");
        });


        function loadChapters(selectedItemNameLesson) {
            $.ajax({
                type: "POST",
                url: "/api/helper/getchapters/" + selectedItemNameLesson,
                success: function (data) {
                    changeChapters(data);
                }
            });
        }

        function changeChapters(data) {
            chapters.find("option").remove();
            chapters.append($("<option></option>").val("").html("Выберите раздел"));
            for (var i = 0; i < data.length; i++) {
                chapters.append($("<option></option>").val(data[i].Id).html(data[i].Name));
            }
            chapters.select2({
                width: 400
            });
        }
    })(jQuery);
</script>



