﻿@using reshim.common.core.Pagination
@model reshim.model.view.ViewModels.Content.Lesson.NamesLessonsViewModel

@{
    ViewBag.Title = "Циклы уроков";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.Action("CreateOrUpdateNameLessonPartial", "Lesson", new { nameLessonId = Model.NameLessonId })

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">
            <strong class="label label-danger">@Model.NamesLessons.TotalItemCount уроков</strong>
        </h6>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название урока</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nameLesson in Model.NamesLessons)
                {
                    <tr id="@nameLesson.Id">
                        <td>@nameLesson.Id</td>
                        <td>
                            @Html.ActionLink(nameLesson.Name, "Chapters", "Lesson", new { nameLessonId = nameLesson.Id }, null)
                        </td>
                        <td>
                            <div class="table-controls">
                                <a href="@Url.Action("NamesLessons", "Lesson", new { nameLessonId = nameLesson.Id })" class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Редактировать"><i class="fa fa-plus-square"></i></a>
                                <a class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Удалить цикл уроков" href="#delete" data-toggle="modal" data-id="@nameLesson.Id" data-name="@nameLesson.Name" data-text="@string.Format("Удалание цикла уроков \"{0}\".", nameLesson.Name)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="table-footer">
        @Html.Pager(Model.NamesLessons.PageSize, Model.NamesLessons.PageNumber, Model.NamesLessons.TotalItemCount)
    </div>
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/Helpers/_DeleteContent.cshtml", Url.Action("Delete", "Lesson"))
