﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

@*
    status: not pay
    customers
*@

<input name="taskId" type="hidden" value="@Model.Id">

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw(string.Format("Исполнитель загрузил решение Вашего заказа. Что бы скачать его, нужно оплатить вторую часть суммы в размере <b>{0}<b>.", Model.FormatHalfCost))
</div>

<div class="preview">
    <div class="image-container">
        <span class="helper"></span>
        @SVGHelper.WalletICO()
    </div>
    <div class="text-container">
        Оплатите вторую часть решения!
    </div>
</div>

<div class="wrapper-btn">
    <a href="#" class="btn green" id="PayTask">Оплатить решение</a>
</div>

<script src="/Scripts/action/action.table.pay-task.js"></script>