﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

@*
    status: not pay
    users
*@

<input name="taskId" type="hidden" value="@Model.Id">

<div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
    @Html.Raw(string.Format("Заказчик выбрал исполнителя <b>{0}</b>. Стоимость выполнения заказа составляет <b>{1}</b>!", Model.Decided.Login, Model.FormatCost))
</div>

@Html.Partial("~/Views/Task/Partials/_RenderSubscribers.cshtml", Model)