﻿@model reshim.model.view.ViewModels.Content.News.NewsFormModel

@{
    ViewBag.Title = Model.Id.HasValue ? "Редактирование новости" : "Создание новости";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateOrUpdateNews", "Content", FormMethod.Post, new { @class = "form-horizontal validate", role = "form" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">@ViewBag.Title</h6>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Название новости: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Name, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Заголовок новости (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.TitleSeo, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Описание новости (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.DescriptionSeo, 5, 5, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Ключевые слова (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.KeywordsSeo, 5, 5, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Краткое описание: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Preview, 5, 5, new { @class = "required form-control editor" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Текст: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Text, 5, 5, new { @class = "required form-control editor" })
                </div>
            </div>

            <div class="form-actions text-right">
                <input type="submit" value="Сохранить" class="btn btn-primary">
            </div>

        </div>
    </div>
}

<script>
    (function ($) {
        $(".validate").validate({
            onkeyup: true,
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                Name: {
                    required: true
                },
                TitleSeo: {
                    required: true
                },
                DescriptionSeo: {
                    required: true
                },
                KeywordsSeo: {
                    required: true
                },
                Text: {
                    required: true
                },
                Preview: {
                    required: true
                }
            },
            success: function (label) {
                label.text('Успешно!').addClass('valid');
            }
        });
    })(jQuery);
</script>

