﻿@model reshim.model.view.ViewModels.Content.Subject.SubjectFormModel

<link href="@Url.Content("~/Areas/Admin/Content/css/jquery.Jcrop.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.fileupload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Admin/Content/js/plugins/interface/jquery.Jcrop.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = Model.Id.HasValue ? "Редактирование предмет" : "Создание предмета";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateOrUpdateSubject", "Content", FormMethod.Post, new { @class = "form-horizontal validate", role = "form" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">@ViewBag.Title</h6>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Название предмета: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Name, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Превью текст: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Preview, 5, 2, new { @class = "required form-control editor" })
                </div>
            </div>

            @Html.Partial("~/Areas/Admin/Views/Shared/Helpers/_CropImage.cshtml", string.IsNullOrEmpty(Model.Image) ? "" : Model.Image)

            <div class="form-actions text-right">
                <input type="submit" value="Сохранить" class="btn btn-primary">
            </div>

        </div>
    </div>
}

<script>
    (function ($) {
        $(".validate").validate({
            onkeyup: true,
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                Name: {
                    required: true
                },
                Preview: {
                    required: true
                }
            },
            success: function (label) {
                label.text('Успешно!').addClass('valid');
            }
        });
    })(jQuery);
</script>

<script src="/Areas/Admin/Content/js/admin/helper.crop-image.js"></script>


