﻿@using reshim.common.core.Pagination
@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.Content.TypeWork.TypeWorkViewModel>

@{
    ViewBag.Title = "Типы работы";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-header">
        <ul class="middle-nav left-nav">
            <li><a href="@Url.Action("CreateOrUpdateTypeWork", "Content", new { area = "admin" })" class="btn btn-default"><i class="fa fa-plus-square-o"></i><span>Создать тип работы</span></a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">
            <strong class="label label-danger">@Model.TotalItemCount типа работ</strong>
        </h6>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Дата создания</th>
                    <th>Дата обновления</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var typeWork in Model)
                {
                    <tr id="@typeWork.Id">
                        <td>@typeWork.Id</td>
                        <td>@typeWork.ShortName</td>
                        <td>@typeWork.DateCreate</td>
                        <td>@typeWork.DateUpdate</td>
                        <td>
                            <div class="table-controls">
                                <a href="@Url.Action("CreateOrUpdateTypeWork", "Content", new { id = typeWork.Id })" class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Редактировать"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-default btn-icon btn-xs tip" data-original-title="Удалить тип учёбной работы" href="#delete" data-toggle="modal" data-id="@typeWork.Id" data-name="@typeWork.ShortName" data-text="@string.Format("Удалание типа учёбной работы \"{0}\".", typeWork.ShortName)">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="table-footer">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/Helpers/_DeleteContent.cshtml", Url.Action("Delete", "Content"))
