﻿@using System.Web.Mvc.Html
@model reshim.model.view.ViewModels.ComplitedTask.CompletedTaskForm

<script src="/Scripts/jquery.fileupload.js" type="text/javascript"></script>
<script src="/Areas/Admin/Content/js/admin/completedTask/createOrUpdate.js" type="text/javascript"></script>

@{
    ViewBag.Title = Model.Id.HasValue ? "Редактирование решённой задачи" : "Создание решённой задачи";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateOrUpdate", "CompletedTask", FormMethod.Post, new { @class = "form-horizontal validate", role = "form" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">@ViewBag.Title</h6>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Название задания: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Name, new {@class = "required form-control"})
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Заголовок (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.TitleSeo, new {@class = "required form-control"})
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Описание (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.DescriptionSeo, new {@class = "required form-control"})
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Ключевые слова (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.KeywordsSeo, new { @class = "required form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Стоимость: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Cost, new {@class = "required form-control"})
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Комментрий решённой задачи (СЕО): <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Comment, 5, 5, new {@class = "required form-control"})
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Предмет: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.SubjectId, Model.Subjects.Select(x => new SelectListItem() {Text = x.Name, Value = x.Id.ToString()}), new {@class = "select-search" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Условие: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Condition, 5, 5, new {@class = "required form-control editor"})
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Выбор решения: <span class="mandatory">*</span></label>
                <div class="col-sm-10">
                    @Html.Hidden("SolutionId", Model.SolutionId, new { id = "SolutionId" })
                    <input type="file" id="UploadSolution" multiple="multiple" class="styled" name="UploadSolution">
                </div>
            </div>

            <div class="form-actions text-right">
                <input type="submit" value="Сохранить" class="btn btn-primary">
            </div>

        </div>
    </div>
}

<script>
    (function ($) {
        $(".validate").validate({
            onkeyup: true,
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: {
                Name: {
                    required: true
                },
                TitleSeo: {
                    required: true
                },
                DescriptionSeo: {
                    required: true
                },
                KeywordsSeo: {
                    required: true
                },
                Cost: {
                    required: true
                },
                SubjectId: {
                    required: true
                },
                Condition: {
                    required: true
                }
            },
            success: function (label) {
                label.text('Успешно!').addClass('valid');
            }
        });
    })(jQuery);
</script>