﻿@using reshim.common.Attributes
@using reshim.common.core.Extensions
@using reshim.common.core.Pagination
@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.ComplitedTask.HistoryCompletedTaskViewModel>
@{
    ViewBag.Title = "History";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <strong class="label label-danger">@Model.TotalItemCount заказов</strong>
                </h6>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Пользователь</th>
                            <th>Дата</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var his in Model)
                        {
                            <tr id="@his.Id">
                                <td>@his.Id</td>
                                <td>@his.User.Login</td>
                                <td>@his.FormatCreate</td>
                                <td>@his.State.GetAttributeValue(typeof(NameAttribute), string.Empty)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="table-footer">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o.Action("History").AddRouteValue("taskId", ViewBag.TaskId))
            </div>
        </div>
    </div>
</div>

