﻿@using reshim.common.core.Pagination
@model reshim.data.infrastructure.Pagination.IPagedList<reshim.model.view.ViewModels.ComplitedTask.CompletedTaskViewModel>

@{
    ViewBag.Title = "Задачи в системе";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="page-header">
        <ul class="middle-nav left-nav">
            <li><a href="@Url.Action("CreateOrUpdate", "CompletedTask", new {area = "admin"})" class="btn btn-default">
                <i class="fa fa-plus-square-o"></i>
                <span>Создать задачу</span>
            </a></li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <strong class="label label-danger">@Model.TotalItemCount задач</strong>
                </h6>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Решение</th>
                            <th>Количество покупок общее/ успешных</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model)
                        {
                            <tr id="@task.Id">
                                <td>@task.Id</td>
                                <td>@task.Name</td>
                                @{
                                    string solutionPath = string.Format("{0}?taskId={1}", task.Solution.Path, task.Id);
                                }
                                <td>
                                    <a href="@solutionPath">Решение</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("History", "CompletedTask", new { taskId = task.Id })">@task.CountPurchases / @task.CountPurchasesSuccess</a>
                                </td>
                                <td>
                                    <div class="table-controls">
                                        <a href="@Url.Action("CreateOrUpdate", "CompletedTask", new { taskId = task.Id })" class="btn btn-default btn-icon btn-xs tip" title="" data-original-title="Редактировать"><i class="fa fa-plus-square"></i></a>
                                        <a class="btn btn-default btn-icon btn-xs tip" title=""
                                           data-original-title="Удалить задачу"
                                           href="#delete" data-toggle="modal"
                                           data-id="@task.Id" data-name="@task.Id"
                                           data-url-delete="@string.Format("{0}", "/api/completedtask/admin/delete/" + @task.Id)"
                                           data-text="@string.Format("Удалание задачи \"{0}\".", task.Id)"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="table-footer">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/Partial/_DeleteEntity.cshtml")
