﻿<svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-cancel-circle" viewbox="0 0 1024 1024">
            <title>cancel-circle</title>
            <path class="path1" d="M512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512 928c-229.75 0-416-186.25-416-416s186.25-416 416-416 416 186.25 416 416-186.25 416-416 416z"></path>
            <path class="path2" d="M672 256l-160 160-160-160-96 96 160 160-160 160 96 96 160-160 160 160 96-96-160-160 160-160z"></path>
        </symbol>
        <symbol id="icon-checkmark2" viewBox="0 0 1024 1024">
            <title>checkmark2</title>
            <path class="path1" d="M397.434 917.696l-397.868-391.6 197.378-194.27 200.49 197.332 429.62-422.852 197.378 194.27-626.998 617.12zM107.912 526.096l289.524 284.962 518.656-510.482-89.036-87.632-429.62 422.852-200.49-197.334-89.034 87.634z"></path>
        </symbol>
        <symbol id="icon-notification" viewbox="0 0 1024 1024">
            <title>notification</title>
            <path class="path1" d="M512 96c-111.118 0-215.584 43.272-294.156 121.844s-121.844 183.038-121.844 294.156c0 111.118 43.272 215.584 121.844 294.156s183.038 121.844 294.156 121.844c111.118 0 215.584-43.272 294.156-121.844s121.844-183.038 121.844-294.156c0-111.118-43.272-215.584-121.844-294.156s-183.038-121.844-294.156-121.844zM512 0v0c282.77 0 512 229.23 512 512s-229.23 512-512 512c-282.77 0-512-229.23-512-512s229.23-512 512-512zM448 704h128v128h-128zM448 192h128v384h-128z"></path>
        </symbol>
        <symbol id="icon-user-check" viewbox="0 0 1024 1024">
            <title>user-check</title>
            <path class="path1" d="M960 608l-288 288-96-96-64 64 160 160 352-352z"></path>
            <path class="path2" d="M448 768h320v-115.128c-67.22-39.2-156.308-66.11-256-74.26v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h448v-64z"></path>
        </symbol>
        <symbol id="icon-search" viewBox="0 0 1056 1024">
            <title>search</title>
            <path class="path1" d="M48 1024h672c26.464 0 48-21.536 48-48v-240c0-0.32-0.16-0.576-0.192-0.896 1.76-1.12 3.584-2.176 5.312-3.36l255.552 255.552c3.136 3.136 7.232 4.704 11.328 4.704s8.192-1.568 11.328-4.672c6.24-6.24 6.24-16.384 0-22.624l-253.216-253.216c40.448-37.984 65.888-91.776 65.888-151.488 0-73.504-38.432-138.112-96.192-175.104 0.032-0.32 0.192-0.576 0.192-0.896v-80c0-0.544-0.256-0.992-0.288-1.504-0.064-0.736-0.256-1.376-0.416-2.080-0.544-2.272-1.472-4.32-2.88-6.112-0.224-0.288-0.192-0.64-0.416-0.928l-256-288c-0.096-0.096-0.224-0.096-0.32-0.192-1.92-2.080-4.384-3.456-7.136-4.288-0.608-0.192-1.152-0.256-1.792-0.352-0.928-0.16-1.792-0.544-2.752-0.544h-448c-26.464 0-48 21.536-48 48v928c0 26.464 21.536 48 48 48zM832 560c0 97.056-78.976 176-176 176s-176-78.944-176-176 78.976-176 176-176 176 78.944 176 176zM512 58.080l204.384 229.92h-188.384c-7.040 0-16-13.44-16-24v-205.92zM32 48c0-8.832 7.2-16 16-16h432v232c0 25.888 20.96 56 48 56h208v48.032c-24.64-10.304-51.648-16.032-80-16.032-58.816 0-111.872 24.64-149.728 64h-330.272c-8.832 0-16 7.168-16 16s7.168 16 16 16h305.024c-18.080 28.128-29.504 60.832-32.192 96h-272.832c-8.832 0-16 7.168-16 16s7.168 16 16 16h272.8c2.688 35.168 14.144 67.872 32.192 96h-304.992c-8.832 0-16 7.168-16 16s7.168 16 16 16h328c0.672 0 1.248-0.288 1.92-0.384 37.888 39.584 91.104 64.384 150.080 64.384 28.352 0 55.36-5.728 80-16.064v224.064c0 8.832-7.2 16-16 16h-672c-8.96 0-16-7.040-16-16v-928zM176 320h192c8.832 0 16-7.168 16-16s-7.168-16-16-16h-192c-8.832 0-16 7.168-16 16s7.168 16 16 16zM176 832h416c8.832 0 16-7.168 16-16s-7.168-16-16-16h-416c-8.832 0-16 7.168-16 16s7.168 16 16 16z"></path>
        </symbol>
        <symbol id="icon-folder-upload" viewBox="0 0 1024 1024">
            <title>folder-upload</title>
            <path class="path1" d="M576 256l-128-128h-448v832h1024v-704h-448zM512 480l224 224h-160v256h-128v-256h-160l224-224z"></path>
        </symbol>
        <symbol id="icon-sad" viewBox="0 0 1024 1024">
            <title>sad</title>
            <path class="path1" d="M512 1024c282.77 0 512-229.23 512-512s-229.23-512-512-512-512 229.23-512 512 229.23 512 512 512zM512 96c229.75 0 416 186.25 416 416s-186.25 416-416 416-416-186.25-416-416 186.25-416 416-416zM256 320c0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64s-64-28.654-64-64zM640 320c0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64s-64-28.654-64-64zM319.902 780.74l-82.328-49.396c55.962-93.070 157.916-155.344 274.426-155.344 116.508 0 218.462 62.274 274.426 155.344l-82.328 49.396c-39.174-65.148-110.542-108.74-192.098-108.74-81.558 0-152.924 43.592-192.098 108.74z"></path>
        </symbol>
        <symbol id="icon-hour-glass" viewBox="0 0 1024 1024">
            <title>hour-glass</title>
            <path class="path1" d="M728.992 512c137.754-87.334 231.008-255.208 231.008-448 0-21.676-1.192-43.034-3.478-64h-889.042c-2.29 20.968-3.48 42.326-3.48 64 0 192.792 93.254 360.666 231.006 448-137.752 87.334-231.006 255.208-231.006 448 0 21.676 1.19 43.034 3.478 64h889.042c2.288-20.966 3.478-42.324 3.478-64 0.002-192.792-93.252-360.666-231.006-448zM160 960c0-186.912 80.162-345.414 224-397.708v-100.586c-143.838-52.29-224-210.792-224-397.706v0h704c0 186.914-80.162 345.416-224 397.706v100.586c143.838 52.294 224 210.796 224 397.708h-704zM619.626 669.594c-71.654-40.644-75.608-93.368-75.626-125.366v-64.228c0-31.994 3.804-84.914 75.744-125.664 38.504-22.364 71.808-56.348 97.048-98.336h-409.582c25.266 42.032 58.612 76.042 97.166 98.406 71.654 40.644 75.606 93.366 75.626 125.366v64.228c0 31.992-3.804 84.914-75.744 125.664-72.622 42.18-126.738 125.684-143.090 226.336h501.67c-16.364-100.708-70.53-184.248-143.212-226.406z"></path>
        </symbol>
        <symbol id="icon-wallet" viewBox="0 0 1216 1024">
            <title>wallet</title>
            <path class="path1" d="M1040.288 240c8.832 0 16-7.168 16-16v-53.28c0-28.896-23.52-52.416-52.416-52.416h-85.984l-19.616-57.888c-2.752-8.16-11.52-12.704-19.808-10.176l-465.696 141.568c-8.448 2.592-13.216 11.52-10.656 19.968 2.112 6.912 8.448 11.328 15.328 11.328 1.536 0 3.104-0.224 4.672-0.672l450.848-137.088 42.976 126.88c2.848 8.384 12 12.928 20.288 10.016 8.384-2.816 12.864-11.936 10.016-20.288l-17.504-51.68h75.168c11.264 0 20.416 9.152 20.416 20.416v53.312c-0.032 8.832 7.136 16 15.968 16zM1168 480c-8.832 0-16 7.168-16 16s7.168 16 16 16c11.232 0 16 4.768 16 16v192c0 11.232-4.768 16-16 16h-256c-11.232 0-16-4.768-16-16v-160c0-11.232 4.768-16 16-16h192c8.832 0 16-7.168 16-16v-192c0-29.152-18.848-48-48-48h-976c-39.456 0-64-24.544-64-64s24.544-64 64-64h162.432l-96.832 31.936c-8.384 2.752-12.96 11.808-10.208 20.192 2.208 6.72 8.48 10.976 15.2 10.976 1.664 0 3.328-0.256 5.024-0.8l579.808-191.136c8.384-2.784 12.96-11.808 10.176-20.224-2.752-8.384-11.808-12.96-20.224-10.176l-387.2 127.68c-0.736-0.128-1.408-0.448-2.176-0.448h-256c-57.408 0-96 38.592-96 96v704c0 57.408 38.592 96 96 96h976c29.152 0 48-18.848 48-48v-160c0-8.832-7.168-16-16-16s-16 7.168-16 16v160c0 11.232-4.768 16-16 16h-976c-39.456 0-64-24.544-64-64v-630.016c16.416 13.856 38.144 22.016 64 22.016h976c11.232 0 16 4.768 16 16v176h-176c-29.152 0-48 18.848-48 48v160c0 29.152 18.848 48 48 48h256c29.152 0 48-18.848 48-48v-192c0-29.152-18.848-48-48-48zM992 640c0 17.673 14.327 32 32 32s32-14.327 32-32c0-17.673-14.327-32-32-32s-32 14.327-32 32z"></path>
        </symbol>
        <symbol id="icon-vk" viewBox="0 0 415 414.996">
            <title>vk</title>
            <path class="path1" d="M316.801,307.104c-0.558,0-1.102,0-1.66,0c-17.838-2.978-29.993-15.776-40.373-27.618
	        c-5.84-6.699-14.832-21.846-25.54-20.1c-15.205,2.49-7.647,28.877-14.003,40.188c-5.125,9.133-26.957,7.485-42.013,5.854
	        c-47.521-5.124-71.805-30.895-93.093-58.598c-22.758-29.607-40.474-60.588-56.852-94.604c-5.305-11.01-12.355-23.192-12.355-36.837
	        c7.703-6.372,20.272-4.182,32.957-4.182c10.753,0,27.547-2.405,35.419,1.676c4.682,2.405,9.406,15.247,13.187,23.437
	        c8.676,18.798,16.656,32.327,27.188,47.717c4.561,6.672,11.567,19.255,19.771,17.581c7.967-1.617,8.718-21.561,9.062-34.317
	        c0.399-14.487-0.016-32.498-4.116-40.187c-3.873-7.258-10.959-7.402-18.126-11.726c5.964-12.183,22.312-13.4,42.021-13.4
	        c16.556,0,39.677-1.861,46.133,9.22c6.573,11.282,2.063,31.626,1.647,46.873c-0.457,17.137-3.378,34.833,8.248,42.706
	        c8.934-0.986,13.743-9.835,18.939-16.75c11.367-15.133,18.396-28.232,27.187-47.717c3.608-8.004,7.474-21.775,14.003-24.281
	        c9.95-3.823,25.812-0.831,40.373-0.831c11.939,0,33.242-3.35,37.079,5.026c3.181,6.944-6.184,24.482-9.061,29.292
	        c-11.039,18.384-21.863,30.094-33.773,46.044c-4.769,6.385-14.603,16.593-14.017,26.801c0.444,7.744,8.104,13.687,14.017,19.257
	        c12.785,12.067,21.76,20.859,32.126,34.316c3.895,5.07,12.341,16.048,11.525,22.607C380.195,315.007,332.778,302.18,316.801,307.104z"></path>
        </symbol>
        <symbol id="icon-twitter" viewBox="0 0 415 414.996">
            <title>twitter</title>
            <path class="path1" d="M345.358,127.048c-9.754,4.326-20.237,7.249-31.239,8.564c11.229-6.731,19.854-17.39,23.915-30.092
	        c-10.511,6.233-22.15,10.76-34.541,13.199c-9.921-10.571-24.058-17.176-39.701-17.176c-30.039,0-54.393,24.353-54.393,54.391
	        c0,4.263,0.48,8.414,1.408,12.396c-45.205-2.269-85.283-23.923-112.11-56.831c-4.683,8.033-7.364,17.376-7.364,27.345
	        c0,18.871,9.602,35.52,24.197,45.273c-8.917-0.283-17.304-2.729-24.637-6.803c-0.005,0.227-0.005,0.454-0.005,0.684
	        c0,26.354,18.749,48.335,43.632,53.335c-4.564,1.242-9.369,1.908-14.33,1.908c-3.505,0-6.912-0.342-10.234-0.977
	        c6.922,21.608,27.01,37.334,50.811,37.771c-18.614,14.59-42.068,23.287-67.552,23.287c-4.39,0-8.72-0.259-12.975-0.762
	        c24.071,15.433,52.662,24.438,83.378,24.438c100.047,0,154.757-82.881,154.757-154.758c0-2.358-0.053-4.704-0.157-7.037
	        C328.846,147.534,338.066,137.955,345.358,127.048z"></path>
        </symbol>
        <symbol id="icon-eye" viewBox="0 0 1024 1024">
            <title>eye</title>
            <path class="path1" d="M512 192c-223.318 0-416.882 130.042-512 320 95.118 189.958 288.682 320 512 320 223.312 0 416.876-130.042 512-320-95.116-189.958-288.688-320-512-320zM764.45 361.704c60.162 38.374 111.142 89.774 149.434 150.296-38.292 60.522-89.274 111.922-149.436 150.296-75.594 48.218-162.89 73.704-252.448 73.704-89.56 0-176.858-25.486-252.452-73.704-60.158-38.372-111.138-89.772-149.432-150.296 38.292-60.524 89.274-111.924 149.434-150.296 3.918-2.5 7.876-4.922 11.86-7.3-9.96 27.328-15.41 56.822-15.41 87.596 0 141.382 114.616 256 256 256 141.382 0 256-114.618 256-256 0-30.774-5.452-60.268-15.408-87.598 3.978 2.378 7.938 4.802 11.858 7.302v0zM512 416c0 53.020-42.98 96-96 96s-96-42.98-96-96 42.98-96 96-96 96 42.982 96 96z"></path>
        </symbol>
        <symbol id="icon-calendar" viewBox="0 0 1024 1024">
            <title>calendar</title>
            <path class="path1" d="M320 384h128v128h-128zM512 384h128v128h-128zM704 384h128v128h-128zM128 768h128v128h-128zM320 768h128v128h-128zM512 768h128v128h-128zM320 576h128v128h-128zM512 576h128v128h-128zM704 576h128v128h-128zM128 576h128v128h-128zM832 0v64h-128v-64h-448v64h-128v-64h-128v1024h960v-1024h-128zM896 960h-832v-704h832v704z"></path>
        </symbol>
        <symbol id="icon-cart" viewBox="0 0 1024 1024">
            <title>cart</title>
            <path class="path1" d="M384 928c0 53.019-42.981 96-96 96s-96-42.981-96-96c0-53.019 42.981-96 96-96s96 42.981 96 96z"></path>
            <path class="path2" d="M1024 928c0 53.019-42.981 96-96 96s-96-42.981-96-96c0-53.019 42.981-96 96-96s96 42.981 96 96z"></path>
            <path class="path3" d="M1024 512v-384h-768c0-35.346-28.654-64-64-64h-192v64h128l48.074 412.054c-29.294 23.458-48.074 59.5-48.074 99.946 0 70.696 57.308 128 128 128h768v-64h-768c-35.346 0-64-28.654-64-64 0-0.218 0.014-0.436 0.016-0.656l831.984-127.344z"></path>
        </symbol>
        <symbol id="icon-arrow-right" viewBox="0 0 1024 1024">
            <title>arrow-right</title>
            <path class="path1" d="M992 512l-480-480v288h-512v384h512v288z"></path>
        </symbol>
        <symbol id="icon-file-word" viewBox="0 0 1024 1024">
            <title>file-word</title>
            <path class="path1" d="M639.778 475.892h44.21l-51.012 226.178-66.324-318.010h-106.55l-77.114 318.010-57.816-318.010h-111.394l113.092 511.88h108.838l76.294-302.708 68.256 302.708h100.336l129.628-511.88h-170.446v91.832z"></path>
            <path class="path2" d="M917.806 229.076c-22.21-30.292-53.174-65.7-87.178-99.704s-69.412-64.964-99.704-87.178c-51.574-37.82-76.592-42.194-90.924-42.194h-496c-44.112 0-80 35.888-80 80v864c0 44.112 35.886 80 80 80h736c44.112 0 80-35.888 80-80v-624c0-14.332-4.372-39.35-42.194-90.924v0zM785.374 174.626c30.7 30.7 54.8 58.398 72.58 81.374h-153.954v-153.946c22.982 17.78 50.678 41.878 81.374 72.572v0zM896 944c0 8.672-7.328 16-16 16h-736c-8.672 0-16-7.328-16-16v-864c0-8.672 7.328-16 16-16 0 0 495.956-0.002 496 0v224c0 17.672 14.324 32 32 32h224v624z"></path>
        </symbol>
        <symbol id="icon-user" viewBox="0 0 1024 1024">
            <title>user</title>
            <path class="path1" d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"></path>
        </symbol>
        <symbol id="icon-user-tie" viewBox="0 0 1024 1024">
            <title>user-tie</title>
            <path class="path1" d="M320 192c0-106.039 85.961-192 192-192s192 85.961 192 192c0 106.039-85.961 192-192 192s-192-85.961-192-192zM768.078 448h-35.424l-199.104 404.244 74.45-372.244-96-96-96 96 74.45 372.244-199.102-404.244h-35.424c-127.924 0-127.924 85.986-127.924 192v320h768v-320c0-106.014 0-192-127.922-192z"></path>
        </symbol>
        <symbol id="icon-subject" viewBox="0 0 1024 1024">
            <title>subject</title>
            <path class="path1" d="M170 214h684v84h-684v-84zM170 640v-86h684v86h-684zM854 384v86h-684v-86h684zM598 726v84h-428v-84h428z"></path>
        </symbol>
        <symbol id="icon-list-numbered" viewBox="0 0 1024 1024">
            <title>list-numbered</title>
            <path class="path1" d="M384 832h640v128h-640zM384 448h640v128h-640zM384 64h640v128h-640zM192 0v256h-64v-192h-64v-64zM128 526v50h128v64h-192v-146l128-60v-50h-128v-64h192v146zM256 704v320h-192v-64h128v-64h-128v-64h128v-64h-128v-64z"></path>
        </symbol>
        <symbol id="icon-newspaper" viewBox="0 0 1024 1024">
            <title>newspaper</title>
            <path class="path1" d="M896 256v-128h-896v704c0 35.346 28.654 64 64 64h864c53.022 0 96-42.978 96-96v-544h-128zM832 832h-768v-640h768v640zM128 320h640v64h-640zM512 448h256v64h-256zM512 576h256v64h-256zM512 704h192v64h-192zM128 448h320v320h-320z"></path>
        </symbol>
        <symbol id="icon-circle-down" viewBox="0 0 1024 1024">
            <title>circle-down</title>
            <path class="path1" d="M1024 512c0-282.77-229.23-512-512-512s-512 229.23-512 512 229.23 512 512 512 512-229.23 512-512zM96 512c0-229.75 186.25-416 416-416s416 186.25 416 416-186.25 416-416 416-416-186.25-416-416z"></path>
            <path class="path2" d="M317.256 354.744l-90.512 90.512 285.256 285.254 285.254-285.256-90.508-90.508-194.746 194.744z"></path>
        </symbol>
        <symbol id="icon-clock" viewBox="0 0 1024 1024">
            <title>clock</title>
            <path class="path1" d="M658.744 749.256l-210.744-210.746v-282.51h128v229.49l173.256 173.254zM512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512 896c-212.078 0-384-171.922-384-384s171.922-384 384-384c212.078 0 384 171.922 384 384s-171.922 384-384 384z"></path>
        </symbol>
        <symbol id="icon-user-plus" viewBox="0 0 1024 1024">
            <title>user-plus</title>
            <path class="path1" d="M384 736c0-151.234 95.874-280.486 230.032-330.2 16.28-36.538 25.968-77.164 25.968-117.8 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h397.306c-8.664-30.53-13.306-62.732-13.306-96z"></path>
            <path class="path2" d="M736 448c-159.058 0-288 128.942-288 288s128.942 288 288 288c159.056 0 288-128.942 288-288s-128.942-288-288-288zM896 768h-128v128h-64v-128h-128v-64h128v-128h64v128h128v64z"></path>
        </symbol>
        <symbol id="icon-key2" viewBox="0 0 1024 1024">
            <title>key2</title>
            <path class="path1" d="M1002.132 314.242l-101.106-101.104c-24.792-24.794-65.37-65.368-90.162-90.164l-101.106-101.104c-24.792-24.794-68.954-29.166-98.13-9.716l-276.438 184.292c-29.176 19.452-40.218 61.028-24.536 92.39l70.486 140.974c2.154 4.306 4.646 8.896 7.39 13.66l-356.53 356.53-32 224h192v-64h128v-128h128v-128h128v-71.186c6.396 3.812 12.534 7.216 18.192 10.044l140.97 70.488c31.366 15.682 72.94 4.638 92.39-24.538l184.294-276.44c19.454-29.172 15.078-73.33-9.714-98.126zM150.628 854.626l-45.254-45.254 311.572-311.57 45.254 45.254-311.572 311.57zM917.020 423.764l-45.256 45.256c-12.446 12.444-32.808 12.444-45.254 0l-271.53-271.53c-12.446-12.444-12.446-32.81 0-45.254l45.256-45.256c12.446-12.444 32.808-12.444 45.254 0l271.53 271.53c12.446 12.444 12.446 32.81 0 45.254z"></path>
        </symbol>
        <symbol id="icon-price-tag" viewBox="0 0 1024 1024">
            <title>price-tag</title>
            <path class="path1" d="M976 0h-384c-26.4 0-63.274 15.274-81.942 33.942l-476.116 476.116c-18.668 18.668-18.668 49.214 0 67.882l412.118 412.118c18.668 18.668 49.214 18.668 67.882 0l476.118-476.118c18.666-18.666 33.94-55.54 33.94-81.94v-384c0-26.4-21.6-48-48-48zM736 384c-53.020 0-96-42.98-96-96s42.98-96 96-96 96 42.98 96 96-42.98 96-96 96z"></path>
        </symbol>
        <symbol id="icon-attachment" viewBox="0 0 1024 1024">
            <title>attachment</title>
            <path class="path1" d="M665.832 327.048l-64.952-64.922-324.81 324.742c-53.814 53.792-53.814 141.048 0 194.844 53.804 53.792 141.060 53.792 194.874 0l389.772-389.708c89.714-89.662 89.714-235.062 0-324.726-89.666-89.704-235.112-89.704-324.782 0l-409.23 409.178c-0.29 0.304-0.612 0.576-0.876 0.846-125.102 125.096-125.102 327.856 0 452.906 125.054 125.056 327.868 125.056 452.988 0 0.274-0.274 0.516-0.568 0.82-0.876l0.032 0.034 279.332-279.292-64.986-64.92-279.33 279.262c-0.296 0.268-0.564 0.57-0.846 0.844-89.074 89.058-233.98 89.058-323.076 0-89.062-89.042-89.062-233.922 0-322.978 0.304-0.304 0.604-0.582 0.888-0.846l-0.046-0.060 409.28-409.166c53.712-53.738 141.144-53.738 194.886 0 53.712 53.734 53.712 141.148 0 194.84l-389.772 389.7c-17.936 17.922-47.054 17.922-64.972 0-17.894-17.886-17.894-47.032 0-64.92l324.806-324.782z"></path>
        </symbol>
    </defs>
</svg>