﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Auth.ConfirmForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Errors.Any())
{
    <div data-role="infoPlace" data-image="@SVGHelper.CancelCirclICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="error">@string.Join("<br>", Model.Errors.Select(x => x.Message))</div>
}
else
{
    <div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">@Html.Raw(string.Format("Пароль будет сменён для <b>{0}</b>", Model.EmailOrLogin))</div>

    <form class="update-password" action="api/updatepassword" novalidate="">
        <input name="userId" type="hidden" value='@Model.UserId'>
        <fieldset>
            <label>Пароль:</label>
            <div class="input-control text">
                <input name="password" type="password" id='password' placeholder='Введите пароль'>
            </div>
        </fieldset>
        <fieldset>
            <label>Повторите пароль:</label>
            <div class="input-control text">
                <input name="confirmpassword" type="password" placeholder='Повторите пароль'>
            </div>
        </fieldset>
        <button class="green">Обновить</button>
    </form>
}

<script src="/Scripts/action/action.forgotpassword.js" type="text/javascript"></script>