﻿
<strong class="title">Почему мы? Это просто.</strong>
<ul>
    <li>
        <p class="frame">
            <strong>100%</strong>
        </p>
        <p class="desc">
            защита Вашего заказа и денег
        </p>
    </li>
    <li>
        <p class="frame">
            <strong>3</strong>
            <strong>часа</strong>
        </p>
        <p class="desc">
            минимальное время выполнения заказа
        </p>
    </li>
    <li>
        <p class="frame">
            <strong>15</strong>
            <strong>минут</strong>
        </p>
        <p class="desc">
            средняя время оценки заказа
        </p>
    </li>
    <li>
        <p class="frame">
            <strong>3</strong>
            <strong>года</strong>
        </p>
        <p class="desc">
            на рынке услуг
        </p>
    </li>
    <li>
        <p class="frame">
            <strong>24/7</strong>
        </p>
        <p class="desc">
            круглосуточная работа сервиса
        </p>
    </li>
</ul>

