﻿@using reshim.web.core.Extensions
@using (Html.BeginForm("Index", "Task", FormMethod.Get))
{
    <div class="filter">
        <div class="input-control select">
            <select name="status">
                <option value="">Все</option>
                @foreach (var type in Model.Status)
                {
                    <option value="@type.Value" selected="@(type.Value == Model.SelectedStatus)">@type.Key</option>
                }
            </select>
        </div>
        
        @if (User.GetReshimUser().IsAuthenticated)
        {
            <div id="MyTask" data-role="checkbox" data-checked="@Model.SelectedMyTask" data-name="isMyTask" data-caption="Только мои задачи"></div>
        }
        <button id="FilterBtn" class="green">Применить</button>
    </div>
}