﻿@using reshim.web.Helpers
@model IEnumerable<reshim.model.view.ViewModels.Task.TaskViewModel>

<div class="wrapper">
    <div class="tasks">
        @Html.TextWithIco(SVGHelper.SubjectICO(), "Выполненные задания:", colorIco: "gray90")
        @foreach (var task in Model)
        {
            @Html.Partial("Partials/_Task", task)
        }
    </div>
    <a href="@Url.Action("Index", "Task")" class="btn green all-tasks">@Html.TextWithIco(SVGHelper.CircleDownICO(), "Все задания",  htmlAttributes: new { @class = "size_20" })</a>
</div>


 