﻿@using reshim.web.Helpers
@model IEnumerable<reshim.model.view.ViewModels.Content.News.NewsViewModel>

<div class="wrapper">
    <div class="news">
        @Html.TextWithIco(SVGHelper.NewspaperICO(), "Новости:", colorIco: "gray90")
        @foreach (var news in Model)
        {
            @Html.Partial("Partials/_News", news)
        }
    </div>
    <a href="@Url.Action("AllNews", "Content")" class="btn green all-news">@Html.TextWithIco(SVGHelper.CircleDownICO(), "Все новости", htmlAttributes: new { @class = "size_20" })</a>
</div>

