﻿@model List<reshim.model.view.ViewModels.Content.MenuItemModel>
<div class="wrapper-nav">
    <ul>
        <li class="first">Категории</li>
        @foreach (var cat in Model)
        {
            <li class="@(cat.SubMenu != null && cat.SubMenu.Any() ? "isSubCategories" : "")">
                <a href="@Url.Action("Articles", "Content", new { category = cat.Alias })" class="@(cat.SubMenu != null && cat.SubMenu.Any() ? "enable-icon" : "")">@cat.Text</a>
                @if (cat.SubMenu != null && cat.SubMenu.Any())
                {
                    <ul class="subCategories">
                        @foreach (var sub in cat.SubMenu)
                        {
                            <li>
                                <a href="@Url.Action("Articles", "Content", new { category = sub.Alias })">@sub.Text</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>