﻿@model reshim.model.view.ViewModels.Content.News.NewsViewModel

<div class="block-new clearfix">
    <div class="title-block-new">
        <div class="date-new">@Model.DayCreate<br>@Model.MonthCreate</div>
        <div class="title-new"><a href="@Url.Action("News", "Content", new { alias = Model.Alias })">@Model.Name</a></div>
    </div>
    <div class="content-new">@Html.Raw(Model.Preview)<a class="more" href="@Url.Action("News", "Content", new { alias = Model.Alias })">Подробнее</a></div>
</div>