﻿@model reshim.model.view.ViewModels.Task.CreateTaskFormModel

<script src="/Scripts/action/action.order.js" type="text/javascript"></script>

<form class="order" id="quick-order" action="api/task" novalidate="">
    <h3>Узнай стоимость написания твоей работы</h3>
    <fieldset>
        <label>Условие задачи*:</label>
        <div data-role="file-input"></div>
        <div class="note">
            Не более 15Мб (gif, jpg, png, doc, docx, rar, zip).
            <div id="ProgressUploadTask" class="progress-bar" data-role="progress-bar" data-value="0"></div>
        </div>
    </fieldset>

    <fieldset>
        <label>Тип работы*:</label>
        <div class="input-control select">
            <select class="typeWorks custom-select2" name="typeWork" data-placeholder="Выберите тип работы">
                <option value="">Выберите тип работы</option>
                @foreach (var typeWork in Model.TypeWorks)
                {
                    <option value="@typeWork.Id">@typeWork.Name</option>
                }
            </select>
        </div>
        <div class="note">Нет нужного типа работы? Выберите "Другое", а нужный тип укажите в комментарии.</div>
    </fieldset>

    <fieldset>
        <label>Предмет*:</label>
        <div class="input-control select">
            <select class="subjects custom-select2" name="subject" data-placeholder="Выберите предмет">
                <option value="">Выберите предмет</option>
                @foreach (var subject in Model.Subjects)
                {
                    <option value="@subject.Id">@subject.Name</option>
                }
            </select>
        </div>
        <div class="note">Нет нужного предмета? Выберите "Разное", а нужный предмет и раздел укажите в комментарии.</div>
    </fieldset>

    <fieldset>
        <label>Срок сдачи:</label>
        <div class="input-control text datatimeorder" data-role="datepicker">
            <input name="datatimeorder" type="text">
            <input class="calendar btn-date" type="submit" value="">
        </div>
        <div class="note">Указан стандартный срок 3 дня. Укажите нужный Вам!</div>
    </fieldset>

    <fieldset>
        <label>Комментарии:</label>
        <div class="input-control textarea">
            <textarea name="comment" placeholder='Введите комментарий'></textarea>
        </div>
        <div class="note">В комментарии, как и в тексте заказа, оставлять контактные данные запрещено!</div>
    </fieldset>

    @if (!User.Identity.IsAuthenticated)
    {
        <fieldset class="radio-button">
            <label>Уведомление о стоимости работы:</label>
            <div class="input-control radio">
                <label>
                    <input type='radio' name='notify' value='email' id="NotifyEmail" />
                    <span class='check'></span>
                    <span>на email</span>
                </label>
                <label>
                    <input type='radio' name='notify' value='vk' id="NotifyVk" />
                    <span class='check'></span>
                    <span>Вконтакте</span>
                </label>
            </div>
            <div class="note">Выберите способ уведомления о стоимости Вашего заказа!</div>
        </fieldset>
    }

    <div class="quick-reg">
        <h2>Быстрая регистрация</h2>
        <fieldset>
            <label>Email:</label>
            <div class="input-control text">
                <input name="email" type="text" placeholder='Введите email'>
            </div>
            <div class="note">
            </div>
        </fieldset>

        <fieldset>
            <label>Логин:</label>
            <div class="input-control text">
                <input name="login" type="text" placeholder='Введите логин'>
            </div>
            <div class="note">
            </div>
        </fieldset>

        <fieldset>
            <label>Пароль:</label>
            <div class="input-control text">
                <input name="password" type="password" id="password" placeholder='Введите пароль'>
            </div>
            <div class="note">
            </div>
        </fieldset>

        <fieldset>
            <label>Повтор пароля:</label>
            <div class="input-control text">
                <input name="confirmpassword" type="password" placeholder='Повторите пароль'>
            </div>
            <div class="note">
            </div>
        </fieldset>
    </div>

    <button id="SendOrder" class="green">Узнать стоимость</button>
</form>