﻿@model List<reshim.model.view.ViewModels.Content.MenuItemModel>
    
@foreach (var menuItem in Model)
{
    <li class="@(menuItem.Selected ? "active" : "")"><a href="/@menuItem.Alias">@menuItem.Text</a></li>
}
