﻿@using reshim.web.Helpers
<div class="column3 social-networks">
    <p>Мы в социальных сетях:</p>
    <a href="https://twitter.com/iharpeshka" target="_blank">@SVGHelper.TwitterICO()</a>
    <a href="https://vk.com/reshim_net" target="_blank">@SVGHelper.VkICO()</a>
</div>
