﻿@model reshim.model.view.ViewModels.Home.StatisticsSystemViewModel




@*<div class="statistics">
    <p>Пользователей в системе: <b>@Model.CountUsers</b></p>
    <p>Задач в системе: <b>@Model.CountTasks</b></p>
    <p>Решенных задач: <b>@Model.CountComplitedTasks</b></p>
    <p>Последний зарегистрированный пользователь: <b>@Html.ActionLink(@Model.LastRegisterUser.Login, "Index", "User", new { @area = "", @id = @Model.LastRegisterUser.UserId }, null)</b></p>
    <p><b>@Model.OnlineUsers.Count</b> пользователей online:</p>
    @foreach (var user in Model.OnlineUsers)
    {
        <span><b>@Html.ActionLink(user.Login, "Index", "User", new { @area = "", @id = user.UserId }, null)</b></span>
    }
</div>*@


