﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

<div class="task clearfix">
    <div class="text">
        <p>
            <b>Предмет:</b> @Model.Subject.Name
        </p>
    </div>
    <div class="time-execute">
        @Html.TextWithIco(SVGHelper.СlockICO(),
            string.Format("<b>Срок:</b> {0} дня", Math.Round((Model.DateOfExecution - Model.DateCreated).TotalDays)),
            colorIco: "blue", colorText: "gray20", htmlAttributes: new { @class = "size_16" })
    </div>
    <div class="price">
        <p>
            <b>Цена:</b> @Model.FormatCost
        </p>
    </div>
</div>