﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Content.TypeWork.TypeWorkViewModel

<div class="typeWork content clearfix">
    <div class="text padding-top">
        <a href="@string.Format("/{0}", Model.Alias)">@Model.ShortName</a>
    </div>
    <div class="time-execute padding-top">
        @Model.Period
    </div>
    <div class="price padding-top">
        @Model.Cost
    </div>
    <div class="btnOrder">
        <a href="@Url.Action("Order", "Task", new { typeWork = Model.Id })" class="btn green">
            @Html.TextWithIco(SVGHelper.ArrowRightICO(), "Заказать", colorIco: "white", colorText: "white", htmlAttributes: new { @class = "size_16" })
        </a>
    </div>
</div>