﻿@using reshim.web.Helpers
@model IEnumerable<reshim.model.view.ViewModels.Content.TypeWork.TypeWorkViewModel>

<div class="wrapper">
    <div class="typeWorks">
        <div class="typeWork clearfix">
            <div class="text">
                @Html.TextWithIco(SVGHelper.SubjectICO(), "<b>Предмет</b>", colorIco: "gray90", colorText: "gray20", htmlAttributes: new { @class = "size_20" })
            </div>
            <div class="time-execute">
                @Html.TextWithIco(SVGHelper.СlockICO(), "<b>Срок выполнения</b>", colorIco: "gray90", colorText: "gray20", htmlAttributes: new { @class = "size_20" })
            </div>
            <div class="price">
                @Html.TextWithIco(SVGHelper.CartICO(), "<b>Цена</b>", colorIco: "gray90", colorText: "gray20", htmlAttributes: new { @class = "size_20" })
            </div>
            <div class="btnOrder">
            </div>
        </div>
        @foreach (var typeWork in Model)
        {
            @Html.Partial("Partials/_TypeWork", typeWork)
        }
    </div>
    <a href="#" class="btn green all-typeWorks">@Html.TextWithIco(SVGHelper.CircleDownICO(), "Все выполняемые работы", htmlAttributes: new { @class = "size_20 all-execution-tasks" })</a>
</div>