﻿@using reshim.web.Helpers
@model reshim.model.view.ViewModels.Task.TaskViewModel

<div class="top-block detail-estimate-task employee">
    <div data-role="infoPlace" data-image="@SVGHelper.NotificationICO()" data-close="@SVGHelper.CancelCirclICO()" data-type="info">
        @Html.Raw(string.Format("Вы загрузили решения. Ожидайте пока заказчик оплатить вторую часть суммы."))
    </div>
</div>

<div class="preview">
    <div class="image-container">
        <span class="helper"></span>
        @SVGHelper.HourGlassICO()
    </div>
    <div class="text-container">
        Немного подождите, заказчик просмотрит выполненное задание.
    </div>
</div>

<script>
    $('[data-role=infoPlace]').infoPlace();
</script>